[2020-05-10 12:54] castwide commented on #324
Thanks!

The easiest way to get logs with VS Code is probably to use the developer console (Help -> Toggle Developer Tools). You can set the log level with the `solargraph.logLevel` option in VS Code settings. The options are `warn`, `info`, and `debug`, with `debug` providing the most detail, include request and response payloads.

If you have any other questions, I'll do what I can to help.

[2020-05-10 13:16] metapraveen commented on #324
That helped to see the both request/response payloads 👍

But the changes I do to the gem code directly at the installed gem path `~/.rbenv/versions/2.6.0/lib/ruby/gems/2.6.0/gems/solargraph-0.39.7` does not reflect.

Is it possible to run the server in debug mode using byebug or similar, so complete request path can be followed?

[2020-05-10 13:27] castwide commented on #324
After you edit the gem, you probably need to reload VS Code to pick up the changes.

I've never tried to run the server in debug mode, but one option that might work is to start `solargraph socket` with byebug and connect to it from VS Code by setting `solargraph.transport` to `external` and `solargraph.externalServer` to the correct host and port. Unfortunately, you may still need to restart the

[2020-05-10 14:02] metapraveen commented on #324
That worked like a gem, thanks.
<img width="869" alt="Screenshot 2020-05-10 at 4 01 39 PM" src="https://user-images.githubusercontent.com/2039089/81501240-9abe2d00-92d7-11ea-85f2-a9220ec4bf53.png">

[2020-05-10 14:02] #324 closed

[2020-05-11 18:04] #278 closed

[2020-05-11 19:28] aalvarado commented on #312
I updated to `0.39.7` and I get the same error as hourliert

[2020-05-11 20:05] castwide commented on #312
What version of Ruby are you using?

Can you confirm that your client is running the version of Solargraph you expect? There are some cases, especially with version managers like rvm, where the client doesn't run in the same environment as a terminal. In VS Code, you can confirm by running "Solargraph: Get environment info" from the command palette.

[2020-05-13 19:45] aalvarado commented on #312
I was loading the wrong version. I'm using rbenv and you are correct about your suspicions that's loading the wrong gem. Thank you for your prompt response! :)

[2020-05-15 18:19] clmay opened #325 "Support for RSpec `let` definitions"
Hey folks,

Is there any way to get the go-to-definition feature working with variables bound RSpec's `let` construct?

Suppose I have:

[code]

If I click `get` and go-to-definition, it says no definition found. But, if instead I have:

[code]

Then go-to-definition will work just fine. Thoughts?

[2020-05-15 22:00] castwide commented on #325
Variables defined in RSpec's `let` construct aren't accessible to the code maps. Those kinds of DSL-specific conventions usually require special handling.

There's a `Convention` feature in Solargraph that's intended to help fill some of those gaps. The current RSpec convention, for example, is able to map RSpec methods like `expect` and `eq` if you're editing a `*_spec.rb` file. It might be possi

[2020-05-18 15:50] castwide commented on #274
In my most recent tests opening rails/rails in VS Code, v0.38.6 uses ~1.2 GB of memory. v0.39.7 uses ~460 MB. Initialization time is also much faster (65s vs 26s).

[2020-05-18 15:50] #274 closed

[2020-05-20 09:25] phraemer commented on #286
Also could need this as I'm on Windows with Ruby 2.7.1 so the workaround doesn't help me, unfortunately.

[2020-05-20 09:33] svl7 commented on #286
@phraemer You can get it to work on Windows when you build nokogiri yourself. You'll need the MinGW environment (usually installed along ruby when using the ruby installer on windows), then run the following:
`ridk exec pacman -S mingw-w64-x86_64-libxslt` This gets the required dependencies.

`gem install nokogiri --platform=ruby -- --use-system-libraries` This will build and install nokogiri.

Af

[2020-05-20 09:33] #286 closed

[2020-05-22 19:13] nomasprime commented on #220
@castwide repairing unclosed would be great. Currently can't get signature help without an autoclose plug-in.

[2020-05-26 18:48] clmay commented on #325
I using a 'convention' a matter of configuration, then? If so, where can I learn more?

[2020-05-26 19:01] castwide commented on #325
The current RSpec convention: https://github.com/castwide/solargraph/blob/master/lib/solargraph/convention/rspec.rb

Conventions are undergoing an upgrade for version 0.40.0, which I expect to release in June. The API will change slightly and it will be possible to add custom conventions through [plugins](https://solargraph.org/guides/plugins). When it's ready, I'll also release a `solargraph-rail

[2020-06-01 21:33] jfedgar commented on #250
@taylorthurlow Did you ever come up with any solutions for Zeitwerk?

I'm having trouble getting it to give auto-completion for codes within my project.

I have tried adding a .solargraph.yml file and adding my project directories to the 'require_paths' to no avail.

[2020-06-01 21:49] jfedgar commented on #250
Nevermind, ha.

It seems when you define a class this way:

[code]

Solargraph seems to have trouble with it (?).

When I changed it to:

[code]

It worked.

🤷

Zeitwerk appears to work just fine with Solargraph (so far)

[2020-06-01 22:51] taylorthurlow commented on #250
Yeah, if I'm not mistaken, Solargraph will have issues with implicitly defined modules. I'm not actually 100% sure though. 👍

[2020-06-02 03:53] castwide commented on #250
Implicitly defined modules don't work, but compact namespaces work as long as each symbol is defined.

[code]

[2020-06-03 08:57] #303 closed

[2020-06-03 08:59] #316 closed

[2020-06-03 08:59] #315 closed

[2020-06-04 20:46] nomasprime opened #328 "Workspace symbols not behaving as expected"
Using NeoVim's built-in LSP client with the following map:

[code]

I get prompted for a query, hit enter to get all results but then nothing happens.

When I enter a query, eg, "scan", the first result is a method `scan` the rest seem unrelated, eg, a property `count`.

[2020-06-04 22:44] nomasprime commented on #328
Might be that the [docs](https://neovim.io/doc/user/lsp.html) aren't explicit enough. Could be interpreted that when no query is sent all symbols are returned but this could create a lot of overhead. Makes sense that results would only be returned if a non-empty query was sent.

I also discovered queries are fuzzy matched so that probably explains why they seem unrelated at first glance.

If resul

[2020-06-05 04:07] castwide commented on #328
It looks like the [specification](https://microsoft.github.io/language-server-protocol/specification#workspace_symbol) also suggests returning all symbols for an empty query. Seems reasonable to me. I'll add it to the next patch release. You can keep this issue open if you want a notification when it's done.

[2020-06-06 14:00] nomasprime commented on #328
Cool. Thanks @castwide.

[2020-06-07 08:32] immerrr commented on #87
Seeing a bit of a strange behaviour here with Solargraph 0.39.8. I have a pretty standard `application_record.rb` file:
[code]

When I try to find definition of `ActiveRecord::Base`, solargraph finds the `active_record/base.rb` file, but does not navigate to the `ActiveRecord::Base` class itself.

I'm also not seeing model magic methods, like `where` and so on, even though I have the tweaks from h

[2020-06-07 14:53] gencer opened #329 "undefined method `strip' for nil:NilClass on last version"
I got crash on start. Says;

[code]

[2020-06-07 14:54] gencer commented on #329
Ah, It seems this happens on `master` branch. Downgrading to stable `tag` fixes problem.

[2020-06-07 15:10] castwide commented on #329
Does it give you a stack trace in the developer console?

[2020-06-07 15:29] gencer commented on #329
Yes:

[code]

[2020-06-07 15:58] castwide commented on #329
Thanks. I suspected it was an issue with a change to `@!parse` macro handling, and that confirmed it. I'll have a fix in the `master` branch shortly and it'll be included in the next patch release.

[2020-06-08 09:42] castwide commented on #87
@immerrr

1. There's a known issue with the custom documentation generated for Rails gems. The first step is to build RDoc documentation, and for some reason this process drops line numbers. I'm working on a fix, but can't provide an ETA yet.
2. Is the `config` directory (or, at least, the `config/solargraph.rb` file) included in your `.solargraph.yml` configuration?

[2020-06-08 12:59] immerrr commented on #87
re: 2: solargraph.yml is the default one, that includes
[code]
I suppose that means `config/solargraph.rb` should be included. Any way I can confirm that with more certainty?

[2020-06-08 18:13] dylanirlbeck opened #330 "Performance on an uber-large codebase (>25k Ruby files)"
So I've read through a few of the performance issues already raised in this repo, but as a newcomer to Ruby/Rails I wanted to ask directly if there's anything I can do to improve the startup time of solargraph for a codebase with >25k Ruby files. Starting up solargraph with `coc-solargraph` (neovim) takes at least 20-30 minutes, and sometimes I'm not sure if Solargraph is hanging or still in the p

[2020-06-08 20:50] joeltaylor commented on #330
@dylanirlbeck I also work in a fairly large Ruby/Rails project and was able to reduce the startup time significantly by limiting which files were being read in my `.solargraph.yml`. (My globs are a bit atypical because the project I work in uses Rails engines liberally.)

[code]

[2020-06-09 13:51] dylanirlbeck commented on #330
Wow, thanks @joeltaylor!! So far things are working beautifully.

[2020-06-09 13:51] #330 closed

[2020-06-11 04:26] hellola commented on #199
Hey I've also been struggling getting the ActiveRecord to work well with solargraph. I'm not sure if I'm missing anything crucial. I've followed all the rails related help I could find.
I made a small generator using activerecord reflections, here is the [gist](https://gist.github.com/hellola/b832cff599f67a5e353e6af4914d467a)
It just generates classes with yard / solargraph comments in them.
  @Ze

[2020-06-11 15:10] castwide commented on #87
@immerrr Hmm, that's a good candidate for an enhancement. One workaround is to add a line like `Class CanYouSeeMe; end` to it and see if `CanYouSeeMe` is a completion suggestion in other files.

Have you tried running `solargraph bundle` from your project's root?

[2020-06-13 19:10] arg commented on #309
I got this issue too. We're using `docker-compose` and one of the containers runs Solargraph in socket mode. We have a custom `.rubocop.yml` placed in our Rails root directory, but it's ignored and the default Rubocop config gets loaded. Is there any way to explicitly specify the location of `.rubocop.yml`?

[2020-06-15 15:00] MuhmdRaouf opened #331 "latest solargraph collide with rspec causing error with formatters"
Hey, I am working on old rails project when added solargraph to Gemfile it installs an old version so  I am currently using:

[code]
it works fine, but vscode asked me to update solargraph and  when I updated to latest `solargraph (0.39.8)` whenever I run rspec command I am facing the following error:

[code]

can someone help me to get it working, and is it worth it to update or the old version o

[2020-06-16 05:03] hellola commented on #87
I commented this on the wrong issue, hopefully nobody gets spammed.
I've also been struggling getting the ActiveRecord to work well with solargraph. I'm not sure if I'm missing anything crucial. I've followed all the rails related help I could find.
I made a small generator using activerecord reflections, here is the [gist](https://gist.github.com/hellola/b832cff599f67a5e353e6af4914d467a)
It just

[2020-06-16 10:14] castwide commented on #331
I've seen this happen on a couple of other projects. I'm not sure of the root cause, but one workaround is to run `bundle exec rspec` instead.

[2020-06-16 11:07] MuhmdRaouf commented on #331
I can confirm that running `bundle exec rspec` worked, hope we can know what is the main cause tho so we can solve it, and i would love to help to do so just let me know what i can do to help and i will do it

[2020-06-16 15:32] iftheshoefritz opened #332 "Inconsistent loading and autocomplete from generated YARD for ActiveRecord attributes"
I wrote this rake task to generate YARD docs for model attributes in a Rails 6 app. It's working for some models (attributes are present in autocomplete) but not others. Wondering if there are any glaringly obvious issues you can tell me about:

[code]

Two problems occur:

1. Some models load get the attributes I want, e.g.

![image](https://user-images.githubusercontent.com/1541595/84793420-5967

[2020-06-20 18:08] castwide commented on #87
@immerrr Update on the line number issue. There's a fix in the master branch that will be included in the next patch release.

[2020-06-22 01:33] castwide opened #333 "Black Lives Matter"
As much as I want Solargraph to be a Ruby project that helps programmers without being political, the bottom line is that politics affect us. Black lives matter. Solargraph and Castwide support black lives. Period. End of story. If you don't support BLM, stop supporting us.

[2020-06-23 02:10] #333 closed

[2020-06-24 14:03] arbox opened #334 "Server dying with Bundler enabled"
I'm experimenting with Solargraph and Bundler and have just enabled `lsp-solargraph-use-bundler` setting in my Emacs LSP config which is supposed to set `solargraph.useBundler`.

Opening `Gemfile` of a fresh Rails project I get the following messages:
[code]

Solargraph is bundled and available from the command line. I can start `bundle exec solargraph stdio` from my bash prompt without any troubl

[2020-06-25 08:58] abitrolly opened #335 "LSIF support"
https://lsif.dev/ ?

[2020-06-28 13:20] iftheshoefritz commented on #332
I found that generating the YARD docs as one file per class being reflected fixed this for me. Interested to know why that might be.

The other issues (how my editor reloads things) must be an Emacs problem, because VSCode handles it perfectly.

[2020-06-29 07:56] arbox commented on #332
A bit of offtopic, but @iftheshoefritz is it possible to look at your `init.el` to from your experience?

[2020-06-29 16:33] diogoleitao opened #336 "Failed to generate documentation"
When running `solargraph bundle` on my rails project, for every gem it gives this output:
[code]

Environment:
- Mac OS 10.15.5
- Ruby 2.6.5
- Rails 6.0.3.1
- Solagraph 0.39.8
- Gems installed locally under `vendor/gems` folder

If you need any other information, let me know.

[2020-06-29 22:25] castwide commented on #336
Could the problem be file permissions? For example, if you installed the gems as root, you'll also need root privileges to generate the documentation.

[2020-06-29 22:31] castwide commented on #334
Are you opening the project's folder as a workspace in Emacs? In LSP, this should set either `rootUri` or `rootPath` in the `initialize` request. I don't know much about Emacs, so you might need to ask the LSP plugin's maintainers for more information.

[2020-06-30 03:50] castwide commented on #336
Also, you might need to add solargraph to your Gemfile and run it as `bundle exec solargraph bundle`. Since you have vendored gems, running it without `bundle` might make it attempt to document gems in the system Ruby installation (which was what originally made me think of file permissions).

[2020-06-30 05:40] arbox commented on #334
@castwide ,
thank you for not identifying it as a Solargraph problem directly. I gives me the idea where to look into :) Thank you!
I'll report here what I found out.

[2020-06-30 07:39] diogoleitao commented on #336
I did not install the gems with root permissions, so I don't think that file permissions is the issue. However, solargraph is installed globally and the gems were installed locally, so it might be that. I'll give it a try with `bundle exec solargraph bundle`, and get back to you with the results.

[2020-06-30 11:22] diogoleitao commented on #336
Adding `solargraph` to the project's Gemfile fixed the issue. Thanks for the tip!

[2020-06-30 11:22] #336 closed

[2020-07-01 11:23] castwide commented on #87
The fix for line numbers is released in v0.39.9. You might need to run `solargraph bundle --rebuild` to regenerate cached documentation.

[2020-07-01 11:24] castwide commented on #328
Released in v0.39.9.

[2020-07-01 11:25] #323 closed

[2020-07-01 11:25] #322 closed

[2020-07-01 11:29] #312 closed

[2020-07-01 12:28] immerrr commented on #87
Just tried that out, failed with `NoMethodError`:
[code]

[2020-07-01 13:59] castwide commented on #87
That's weird. I'm sure I've never seen that attribute be a String before.

Fixed and released in v0.39.10.

[2020-07-01 16:30] Syntaf commented on #329
👋 I seem to also be running into this issue, here's solargraph per my lockfile:

[code]

In the output tab I'm seeing the following error:

[code]

I unfortunately don't know how to get a stack trace like what @gencer posted. Any recommendations on how to work around this?

[2020-07-01 20:02] jklapacz commented on #329
I was having the same problem as @Syntaf, the rails.rb definitions file was causing problems. I removed the explanatory comments and everything worked.
These are the lines I removed:
[code]

[2020-07-01 21:16] castwide commented on #329
Thanks, @jklapacz. I confirmed that I get the same error as @Syntaf and that your workaround fixed it.

I have a hunch what the problem is and will release a patch ASAP.

[2020-07-01 21:57] castwide commented on #329
Also, @Syntaf: that stack trace came from the developer console (Help -> Toggle Developer Tools).

[2020-07-02 14:25] ferdaber commented on #87
Adding the gist seems to crash solargraph when running `solargraph scan`. It seems to be failing at the parse directive (removing it solves the issue), although it could be affecting any directive:

[code]

[2020-07-02 14:40] castwide commented on #87
I'm working on a fix. For now the workaround is to remove the comments above the `@!parse` directive. See also #329.

[2020-07-02 16:40] taylorthurlow opened #337 "Diagnoser crashing with 'undefined method `each` for nilclass'"
On Solargraph 0.39.10, I don't believe this was happening a few versions ago. Will downgrade and try to replicate.

[code]

[2020-07-02 16:43] taylorthurlow commented on #337
Downgrading to 0.39.7 fixed my issue. Just a cursory guess based on the error and the changes to my gemfile when downgrading, maybe something to do with markdown parsing?

[2020-07-02 18:41] castwide commented on #337
That could be. I'm working on a possibly related bug in #329. Different error, but maybe the same root cause.

[2020-07-03 08:33] castwide commented on #329
Fix released in v0.39.11.

[2020-07-03 08:33] castwide commented on #87
Fix released in v0.39.11.

[2020-07-03 08:35] castwide commented on #337
I haven't been able to reproduce this particular error, but the possibly related #329 bug is fixed in v0.39.11. Please let me know if the problem persists.

[2020-07-07 04:58] castwide commented on #247
The first implementation of autocompletion on comments is in the `master` branch.

[2020-07-07 06:47] gencer commented on #247
@castwide Works perfectly on my end.

In the future can **CTRL + Hover&Click -> Go to definition** feature be implemented? (Just a suggestion)

[2020-07-07 07:15] castwide commented on #247
It should already work, at least in the simplest case of a tag with a single type:

[code]

...although I did notice a small bug where the above doesn't work with the cursor between the last `o` and the `]`. I'll add it to the roadmap.

[2020-07-07 09:18] #111 closed

[2020-07-07 09:21] castwide commented on #187
Significant improvements have been made to performance since this issue was opened. If problems with CPU usage persist, please open a new issue and we'll try to pinpoint a root cause.

[2020-07-07 09:21] #187 closed

[2020-07-07 09:25] castwide commented on #235
Closing this issue as a working version of solargraph-standardrb is released. You can refer to #307 for progress on custom formatters in plugins.

[2020-07-07 09:25] #235 closed

[2020-07-07 09:31] castwide commented on #241
I'm afraid it's not practical to reduce the minimum RuboCop dependency. The diagnosis and formatting capabilities depend on features that either changed significantly or did not exist in 0.46.0.

[2020-07-07 09:31] #241 closed

[2020-07-07 18:19] iftheshoefritz commented on #332
@arbox I'm using Spacemacs, and pretty close to vanilla at that. Check out the LSP layer here: https://github.com/syl20bnr/spacemacs/tree/develop/layers/%2Btools/lsp

[2020-07-07 19:24] hugopl commented on #292
I miss this feature when using a LSP-based editor with solargraph. :cry:

[2020-07-08 14:58] gencer commented on #247
Ah! Yes it indeed works. However what makes me think of not was that, there is no underline and hover effect on when I hover my mouse there along with CTRL. Let me show you:

![fred](https://user-images.githubusercontent.com/1711576/86934555-82865500-c144-11ea-8a94-61fddd225c10.gif)

When we hover with CTRL on B module or A class, can we highlight them? Underscore and colorization perhaps.

[2020-07-08 15:48] castwide commented on #247
I think that's a problem with nested namespaces, e.g., `[B]` should work, but `[B::A]` does not. I'll work on that next.

[2020-07-08 18:01] ccarse opened #338 "Question: What does the update_errors reporter do?"
What does the update_errors reporter do?

[2020-07-08 19:37] gencer commented on #247
Yes, It is indeed works with only `B` but not with nested.

[2020-07-09 00:39] castwide commented on #338
The intention of update_errors is to report problems that get detected while the file is currently being edited. For example, if you start typing an `if` condition without an `end`, it'll report the `if` line as the last change you made before the parser caught a syntax error.

It's still dodgy right now and might wind up deprecated. I wouldn't recommend using it unless you're specifically trying

[2020-07-09 01:51] ccarse commented on #338
Ty!

[2020-07-09 01:51] #338 closed

[2020-07-09 16:25] taylorthurlow opened #339 "Website down"
https://www.solargraph.org/ is not responding to web requests.

[2020-07-09 22:27] castwide commented on #339
It was a DNS problem. You should be able to reach it now.

[2020-07-09 22:28] taylorthurlow commented on #339
👌

[2020-07-09 22:28] #339 closed

[2020-07-13 16:59] taylorthurlow opened #340 "Easy way to treat DSL method as attr_accessor?"
Let's say I have this simple class:

[code]

Is there an easy way to tell Solargraph to treat the `required` DSL method the same as it treats `attr_accessor` (or `attr_reader`/`attr_writer`)?

[2020-07-13 18:36] iftheshoefritz commented on #87
Here is my latest gist for documenting AR attributes and relations on models, heavily influenced/plagiarized from other gists in this issue: https://gist.github.com/iftheshoefritz/7a195eb5676bb790cdbff91ab7d42f31. It generates files in `config/yard`, one per class, and my editor is now doing autocomplete nicely based on them.

Now I'm trying to look at how to go to definition. My editor takes me t

[2020-07-14 15:23] castwide commented on #340
One option is to use a `@!method` or `@!attribute` directive:

[code]

Another possibility for the future is to apply a [`@!macro`](https://www.rubydoc.info/gems/yard/file/docs/Tags.md#macro) directive to the `required` method. Proper `@!macro` support is still in development.

[2020-07-14 16:31] #340 closed

[2020-07-16 15:19] Nitrodist opened #341 "_tmp_<hexhash>_<filename>.rb files litter my project"
Hello, I use solargraph with nvim + coc.nvim. I recently saw new files popping up in my project:

![image](https://user-images.githubusercontent.com/385448/87689253-9be35e80-c74d-11ea-9294-7082809755bf.png)

Here's the code in the solargraph gem that I think is generating it:

[code]

I suggest moving the File.unlink to an `ensure` block.

[2020-07-16 15:33] Nitrodist commented on #341
See https://github.com/castwide/solargraph/pull/342 for a PR fix.

Here's another user report: https://www.reddit.com/r/neovim/comments/gmq965/vim_creating_tmp_files/

[2020-07-17 00:38] bry-guy opened #343 "solargraph.org is down"
Hi! I've been attempting to use some of the resources found at http://www.solargraph.org/, but it appears the website is down.

Additionally, I receive an error when attempting to download documentation:
[code]

Hopefully the server just needs a kick 😄

[2020-07-17 11:43] castwide commented on #343
Kicking it worked for now 😄

There's an ongoing issue with the DNS server. I'm working on a long-term solution.

[2020-07-17 18:53] bry-guy commented on #343
Thanks for the quick response!

[2020-07-18 06:56] castwide commented on #343
DNS should be fixed now. If you still have problems connecting, please feel free to reply or open a new issue.

[2020-07-18 06:56] #343 closed

[2020-07-18 07:21] castwide commented on #247
This feature (including a fix for nested namespaces) is released in v0.39.12.

[2020-07-18 07:23] castwide commented on #337
This bug still affected Ruby < 2.6. A fix has been released in v0.39.12.

[2020-07-18 07:33] castwide commented on #341
Thanks! Released in v0.39.12.

[2020-07-20 23:28] muirdm opened #344 "Help with duplicate items in textDocument/definition response"
Hi

I've just started using solargraph on a ruby project and things are working except I'm getting duplicate items when trying to jump to class/method definitions (lexical variables seem to work without duplicates). Both items' range.start is correct, but one item has a zero length range, and the other has the entire range up to the class/method's `end`.

It doesn't reproduce in a simpler setup, s

[2020-07-21 10:21] castwide commented on #344
One possible cause is having vendored gems in your workspace. If that's the case, you can try adding the vendor directory to `exclude` in a `.solargraph.yml` configuration. More information: https://solargraph.org/guides/configuration

[2020-07-21 10:24] #282 closed

[2020-07-21 17:33] ferdaber opened #345 "Solargraph language server failing to start"
I have Solargraph as a language server on VSCode, and as of v0.39.11, it fails to start with the following error:
[code]

It seems like it's failing to process a specific block of YARDoc but I don't really know how to trace it back. Is there some sort of debug mode for Solargraph so I can provide additional information?

[2020-07-21 17:34] ferdaber opened #346 "Solargraph fails to start: undefined method `match' for nil:NilClass"
I have Solargraph as a language server on VSCode, and as of v0.39.11, it fails to start with the following error:
[code]

It seems like it's failing to process a specific block of YARDoc but I don't really know how to trace it back. Is there some sort of debug mode for Solargraph so I can provide additional information?

[2020-07-21 17:35] ferdaber commented on #346
Oh oops I must've opened a duplicate tab. Sorry!

[2020-07-21 17:35] #346 closed

[2020-07-21 17:44] ferdaber commented on #345
Update: it seems to be failing on parsing this specific gem's yardoc, but I still don't know how to get Solargraph to log what it's trying to parse:

[code]

[2020-07-21 17:59] 3by7 opened #347 "Breaking change for Sublime Text 3 in v0.39.0?"
Environment: fresh Sublime Text 3 install (build 3211) on MacOS v10.15.5, using LSP and Solargraph v0.39.12.

The autocompletion seems lacking:

<img width="1440" alt="solargraph-0 39 12" src="https://user-images.githubusercontent.com/67047063/88088955-8a55e880-cb8b-11ea-8168-26fdc5413089.png">

Comparing previous versions, v0.38.6 seemed to autocomplete as expected:

<img width="1440" alt="solarg

[2020-07-21 18:00] ferdaber commented on #345
More information from some injection of `puts` statements:
`code_object.source`:
[code]

`code_object.parameters`:
[code]

`code_object.files`:
[code]

[2020-07-22 16:21] muirdm commented on #344
There aren't any vendored gems. However, after restarting everything for an unrelated reason, I'm not getting duplicate results anymore. If it happens again I'll try to narrow things down. Thanks!

[2020-07-22 16:21] #344 closed

[2020-07-22 17:37] castwide commented on #347
I don't have access to test on Sublime Text, so I added a "help wanted" tag to this one.

My first guess was that Sublime uses the `stdio` transport and garbage was getting introduced to the output stream, but I haven't been able to reproduce the problem using `stdio` in VS Code. That might be way off base, though; if that were the case, you'd probably get errors about malformed JSON-RPC messages.

[2020-07-22 17:46] 3by7 commented on #347
Thank you @castwide. The screenshots include the logs generated by enabling these LSP settings:

[code]

Knowing nothing about the solargraph code and having no context about the changes added in 0.39.0, trying to debug it sounds a bit intimidating. What would be the best method calls to trace at in order to scope down the problem?

[2020-07-23 21:12] castwide commented on #345
Thanks for the details. I'm guessing you already found the `solargraph.logLevel` setting in VS Code.

I confirmed the error locally and will have it fixed in a patch release in the next few days.

[2020-07-24 13:37] ferdaber commented on #345
Oh I actually didn't know that! I just went into the locally installed gem and changed its source code directly to increase the default log level 🤷🏻‍♀️

[2020-08-05 09:58] castwide commented on #345
Fix released in v0.39.13.

[2020-08-06 10:51] logicallyanime opened #348 "Server initialization failed"
Hello, I just recently upgraded to 0.39.13 and now Solargraph wont start. I am running on VSCode v1.47.3, Windows 10 64-bit
Ruby 2.6.6p146 (2020-03-31 revision 67876).
[code]

Output from solargraph scan:
[code]

Output from Console in Developer Tools:
[code]

[2020-08-06 14:24] noctux opened #349 "Argument count is off for functions/methods when using "for"-loops"
Hello,

Thank you for this nice languageserver!

When analyzing the following code:

[code]

...solargraph somehow gets confused about the arity of `print_reverse`, and throws an error `Not enough arguments to #print_reverse` (please ignore the typo in the documentation comment...):

![2020-08-06-135753_849x338_scrot](https://user-images.githubusercontent.com/291559/89529891-d04ab780-d7ed-11ea-823

[2020-08-06 19:08] gj opened #350 "'typecheck' command fails on Ruby 2.7.1 / Solargraph 0.39.13"
Apologies if this has been asked-and-answered. I looked through issues and found a few related to Ruby 2.7 that seem to have been addressed and a few others with similar-looking errors (#329 / #337) that seem to have been addressed as well.

#### Problem

Running `bundle exec solargraph typecheck` on Ruby 2.4.10 works perfectly fine. Running it on 2.7.1 does not.

#### Versions

- Ruby 2.7.1
- Sol

[2020-08-06 19:39] logicallyanime commented on #348
A bit of an update, when I try running both `Solargraph: Check Solargraph gem version` and `Solargraph: Get environment info` from the Command Palette, I get a friendly error saying
`Command 'Solargraph: Check Solargraph gem version' resulted in an error (Running the contributed command: 'solargraph.checkGemVersion' failed.)`
I have a feeling this is related...

[2020-08-08 16:00] logicallyanime commented on #348
Not a Solargraph issue, after re-installation of VSCode there were no errors.

[2020-08-08 16:00] #348 closed

[2020-08-08 22:46] castwide commented on #350
Thanks for the info. I'm working on a fix, but I haven't been able to reproduce the error yet. I'd like to pinpoint the root cause before we patch it.

It looks like the problem occurs when Solargraph tries to infer the return value of a `case` statement. Since it happens in Ruby 2.7, I thought it might be due to a hole in support pattern matching.

One thing that might help is if you run `solargr

[2020-08-09 04:01] gj commented on #350
Reproduction steps:

1. Clone https://github.com/osohq/oso
2. `cd languages/ruby`
3. `bundle`
4. `bundle exec solargraph typecheck`

Output doesn't include any obvious errors (though, to be fair, I'm not entirely sure what I'm looking for :slightly_smiling_face:) and ends with `Scanned /path/to/project (4206 pins) in 2.109445258975029 seconds.`

[2020-08-10 20:20] castwide commented on #350
Thanks. I was able to reproduce the error using that repo. It happens when Solargraph tries to infer a return value from this `case` statement: https://github.com/osohq/oso/blob/28c7e0a0a8a0bd257d9b92dadb0be94241a5af87/languages/ruby/lib/oso/polar/host.rb#L189

This is the minimal reproducible example I made in a scratch project:

[code]

It looks like it only happens when the `case` condition is

[2020-08-10 21:04] gj commented on #350
Awesome, thanks for your work on this project!

[2020-08-11 09:44] amake commented on #334
I had this problem as well in a project that is one level removed from the root of the repo.

Initially I had imported the project into lsp-mode from the top of the repo.

This fixed it for me:

0. Maybe close all buffers visiting files from your project (`M-x projectile-kill-buffers` if you use projectile)
1. Remove project from the workspace (`M-x lsp-workspace-folders-remove /path/to/repo/root`

[2020-08-11 09:52] amake commented on #194
I have been using Solargraph with Emacs's lsp-mode for a while and it's really great. Thank you for your hard work.

My team is now evaluating typechecking packages, and obviously Sorbet and Solargraph are on our list.

I am curious about the future of Solargraph's typechecking in light of the recent news about Ruby 3's type signature language:
https://developer.squareup.com/blog/the-state-of-ruby

[2020-08-11 10:07] amake opened #352 "Nested parameterized types not recognized"
It seems that nested parameterized types are not recognized by Solargraph's type checker. For instance `Array<String>` is OK but `Array<Array<String>>` is not.

I expected the latter to be supported because it appears to be valid according to the [YARD Type Parser](https://yardoc.org/types.html).

Sample code:

[code]

[code]

[2020-08-11 12:17] castwide commented on #194
@amake It definitely makes sense to support RBS if/when it becomes part of the Ruby standard, but I'm still not sure what form it should take. A few considerations:

- **Keeping RBS and YARD in sync.** When one or the other changes, which should be considered the authority?
- **Automatically generating RBS files.** This would somewhat fix the issue of authority, assuming a superficial similarity t

[2020-08-11 12:32] castwide commented on #349
Confirmed. I'll work on a fix for the next patch release.

[2020-08-11 13:14] noctux commented on #349
Perfect, thanks!

I believe it is not super urgent (rephrasing it as an `.each` loop works just fine), but of course it would be nice if it worked one day :)

[2020-08-11 16:33] arbox commented on #334
@amake , thank you for the hint, it totally makes sense if LSP determines the root using Projectile look-up. In my case it is not correct since we don't use a monorepo with the described setup. I'll investigate it again.

[2020-08-12 02:28] amake opened #353 "Difficulty with strict typing and `zip`"
I am evaluating using strict type checking in a project, and encountered difficulty with inference and the `Array#zip`: It seems the type of the result can't be inferred, and the only way around it is to store to an intermediate variable with a `@type` annotation.

[code]

[code]

Is there any better way to handle this? I ask because _`zip` leading into some sort of list-oriented processing that i

[2020-08-12 06:52] amake commented on #87
I have the same generated `application_record.rb` and I find that with Strict typing I get this error:

[code]

I do have [the gist](https://gist.github.com/castwide/28b349566a223dfb439a337aea29713e) installed and confirmed working via the "`CanYouSeeMe` trick".

I tried adding a line `include ActiveRecord::Inheritance` to try to pull in the right definitions but it didn't work.

Is it expected th

[2020-08-12 22:03] castwide commented on #353
There are some gaps in the core API documentation that can lead to false positives in strict type checking. The current work on [RBS for Ruby 3](https://developer.squareup.com/blog/the-state-of-ruby-3-typing/) might fix the problem, but in the meantime I've been fixing them by attrition in the [CoreFills](https://github.com/castwide/solargraph/blob/master/lib/solargraph/core_fills.rb) module.

I'l

[2020-08-12 22:16] castwide commented on #87
@amake The line should be `extend ActiveRecord::Inheritance::ClassMethods`

I added it to the gist.

[2020-08-13 07:27] castwide commented on #353
Released in 0.39.14.

[2020-08-13 07:28] castwide commented on #350
Released in 0.39.14.

[2020-08-13 07:28] castwide commented on #349
Released in 0.39.14.

[2020-08-13 07:41] #328 closed

[2020-08-13 07:41] #329 closed

[2020-08-13 11:23] zaeemnalla opened #355 "Installing the solargraph gem"
This is probably not an issue with solargraph but rather an issue with my ruby installation/setup (ruby noob here)

When attempting to install the gem I get the following:
[code]

I've checked the following which may help for someone to provide suggestions:

- `$ ruby --version` shows `ruby 2.3.7p456 (2018-03-28 revision 63024) [universal.x86_64-darwin18]`
- `which ruby` shows `/Users/zaeem/.rbenv

[2020-08-13 11:43] zaeemnalla commented on #355
Looks like I can use `rbenv global <version>` to change the version globally as per [these instructions](https://makandracards.com/makandra/21545-rbenv-how-to-switch-to-another-ruby-version-temporarily-per-project-or-globally) and then if I need a particular version for a particular project I can just set it locally with `rbenv local <version>`.

[2020-08-13 11:43] arbox commented on #355
@zaeemnalla , you definitely have an Ruby version `>= 2.4.0`. But you're installing `solargraph` globally which causes the shell to look up a system ruby version.

[2020-08-13 12:02] zaeemnalla commented on #355
Without sudo I was getting the following

[code]

And checking the ownership of that directory shows that's owned by root and group ownership of wheel as expected

[code]

I also ran the following to see why `ruby -v` is pointing to (or using) 2.3.7p456 and I saw that it's using the one probably pre-installed with the system (it says set by `/Users/zaeen/.rbenv/version` even though I don't have su

[2020-08-13 12:02] #355 closed

[2020-08-13 15:46] gj commented on #350
0.39.14 working like a charm on Ruby 2.7.1 :partying_face:

[2020-08-13 15:46] #350 closed

[2020-08-13 20:05] richardfore commented on #195
thank you... just what was needed to install displaylink drivers

[2020-08-16 20:53] jakehawken opened #356 "Solargraph extension for VSCode fails to start and wants strange permissions"
When opening a single ruby file (I don't have any ruby projects, as I just use it for scripting), Solargraph attempts and fails to initialize the language server. The stated reason is that it can't access my photo library, which seems like an awfully strange reason for a _language server_ to not work. The given error code is -32603.

![Image 8-16-20 at 12 17 PM](https://user-images.githubuserconte

[2020-08-16 21:40] castwide commented on #356
Are you opening a folder in VS Code? Solargraph will typically try to map the entire folder's contents. This is fine is you're opening a specific project folder, but less desirable if you're opening your entire home directory or something.

If that's the case, there's a couple things you can try:

1. Go to File -> Close Folder, then go to File -> Open File to open the Ruby script without an active

[2020-08-16 22:11] dputtick commented on #347
@3by7 Is this still a problem for you? I've tried to take a look at it with ST3 for MacOS. I can reproduce it with 0.39.13 and the latest version of the LSP plugin, but I had a lot of trouble getting older versions of LSP and solargraph working together locally. It seems to me that the not very good autocompletions are the fallback default Sublime Text completions. LSP has a setting `"only_show_ls

[2020-08-17 02:27] ralius18 opened #357 "Undefined method `start' for nil:NilClass"
Running version 0.21.1

Error occurs when code completion is being used. For example, when typing a variable name, typing a method name or typing a hash parameter.

Code completion suggestions still appear, but error occurs at the same time

Full error message from '_Ruby Language Server_' every time:
[code]

[2020-08-17 06:21] amake commented on #353
Thanks! That does seem to fix it.

Is there a good way to tell if a new CoreFill is needed?

[2020-08-17 06:23] amake commented on #87
Thanks, that did it 👍

[2020-08-17 21:28] castwide commented on #353
Not an easy way, but this is a quick and dirty script I wrote to analyze the core:

[code]

It reports 1910 typed and 185 untyped core methods. Those numbers aren't 100% perfect, though.

[2020-08-18 03:10] amake commented on #353
Cool, thanks!

[2020-08-18 03:10] #353 closed

[2020-08-18 08:32] #341 closed

[2020-08-19 12:25] 3by7 commented on #347
It is still a problem.

Here's a screenshot taken after uninstalling all solargraph versions except for solargraph-0.38.6 (so that's the only one running) and adding that setting (others are shown on the right side):

<img width="1084" alt="Screenshot 2020-08-19 at 14 22 15" src="https://user-images.githubusercontent.com/67047063/90634297-c2525900-e227-11ea-9e3b-87b460ef2504.png">

[2020-08-31 13:16] johnallen3d commented on #238
First, thank you for the amazing project @castwide! I've been using solargrah for some time with coc.nvim and it's been working great.

Recently I thought I'd try to move to the native lsp support in Neovim (nightlies) and have been able to get solargraph integrated well via https://github.com/nvim-lua/completion-nvim. My next step was to try to get diagnostic information (RuboCop mostly, via http

[2020-08-31 13:59] castwide commented on #238
@johnallen3d Thanks!

If your workspace has a `.solargraph.yml` file, it should include `rubocop` in the `reporters` section, e.g.:

[code]

More info about configurations: https://solargraph.org/guides/configuration

If you don't have that file or you're not opening a workspace, the default configuration includes `rubocop`, so it should still work.

I'm afraid I don't know enough about nvim to co

[2020-08-31 14:03] johnallen3d commented on #238
Of course, as soon as I write up the issue I discover the solution. 🤦 Clearly my understanding of `lua` and how to configure these plugins leaves a lot to be desired.

Here's how I ended up getting it working in case anyone in the future is searching this repo...

[code]

[2020-09-01 22:22] hugopl opened #358 "SolarGraph send kind: null on aliases, when the LSP standard demands a value:"
Having the following ruby document:
[code]
And sending this messages to solargraph:

Editor > SolarGraph
[code]
SolarGraph > Editor
[code]
Editor > SolarGraph
[code]
Editor > SolarGraph
[code]
Editor > SolarGraph
[code]
SolarGraph > Editor
[code]
It sent `kind: null` for the alias, where the spec says the kind field should be a SymbolKind, defined by:
[code]
Is this a solagraph extension to the pr

[2020-09-01 22:52] castwide commented on #358
Not an extension, just an oversight. I'll fix it in the next patch release.

[2020-09-02 22:10] #345 closed

[2020-09-02 22:10] #337 closed

[2020-09-07 19:39] nomasprime commented on #197
@castwide great, thanks.

Does this merge with existing defaults or do we need to specify defaults? Personally I'd prefer merge but if not, where do we find the existing defaults?

[2020-09-07 19:47] nomasprime commented on #197
@castwide great, thanks.

Looks like defaults overwrite built-in defaults. What's the best way of finding out existing defaults, is it [this](https://solargraph.org/guides/configuration)?

[2020-09-07 22:25] codinaut opened #359 "Object path shown by `solargraph scan -v` is different with `irb`"
I have this Ruby snippet:
[code]

In Ruby, I can't access it using `B::A::C`, but it can be accessed by `A::C`, as can be seen here:
[code]

but, `solargraph scan -v | grep solargraph-test` returns this:
[code]

#### Versions

[code]

[2020-09-08 14:08] castwide commented on #197
@nomasprime Yes, when you use `solargraph config` to generate the file, it starts with everything set to the built-in defaults.

[2020-09-08 14:09] castwide commented on #359
Confirmed. I'll add it to the roadmap.

[2020-09-08 23:35] castwide commented on #357
Sorry for the delay in replying.

I assume version 0.21.1 refers to the current version of the VS Code extension. The current version of the Solargraph gem is 0.39.15.

If you still experience this bug with the current version of the gem, please let me know. You also might get a stack trace of the error in VS Code's debug console (Help -> Toggle Developer Tools).

[2020-09-11 04:08] tyler-boyd commented on #87
Hey, dunno if I'm missing something but I followed the instructions (installed the gist, ensured it works with the CanYouSeeMe trick), but even with a simple AR class I'm not seeing any finders or anything.

[code]

How can I investigate further?

[2020-09-11 08:49] nomasprime commented on #249
Would be great to see this feature in Solargraph 👍

[2020-09-11 22:26] gencer opened #360 "Solargraph no longer gives autocomplete on initialization blocks"
Lets say we have a `Paket` model and this model has members like `id`, `name`, `password` etc..

Let's declare a block:

[code]

However, If I explicitly give param yard doc, then all works:

[code]

[2020-09-13 13:29] castwide commented on #360
The autocomplete suggestions will only be available with a `@param` tag on the call or a `@yieldparam` tag on the `initialize` function. Example:

[code]

I assume, in your example, `Paket` is a subclass of `ActiveRecord::Base`. A more practical solution would be to add an `@!override ActiveRecord::Base#initialize` to supply the `@yieldparam`. Unfortunately, `@!override` doesn't work correctly wit

[2020-09-13 13:39] gencer commented on #360
Few versions back, this was working. I could get autocomplete without explicitly giving `param` or `yieldparam`. I believe something changed since than.

This is actually Sequel model. I am generating Sequel model and their methods / fields by rake task so that Solargraph can parse what is in it.

[2020-09-13 13:44] gencer commented on #360
Fred, you were right. It is how you said was.

I checked two different projects. It seems I've added `yieldparam` as you said for the initialize. That's why it is not working on current project because this project seems have older rake task I wrote recent year.

Sorry for the confusion. I will leave this issue open as you said about `override` issue. Please feel free to close if you think you can

[2020-09-13 14:56] #349 closed

[2020-09-13 20:55] ralius18 commented on #357
Have updated gem to 0.39.15, still getting the same problem.
Stack trace from console [here](https://pastebin.pl/view/76e8dd07)

[2020-09-14 17:24] otavioschwanck opened #361 "class dont show on completion when using same line sintaxe (with module)"
if i use this sintaxe:

module Foo
   module Bar
     class MyClass

The solargraph works

but if i try:

class Foo::Bar::MyClass

It didn't.

how can i fix it ?

[2020-09-14 22:45] castwide commented on #361
What features don't work? There are two possible issues that need to be considered here:

1. You might need to close the namespaces with `end` before it starts to work again. Solargraph tries to correct for small syntax errors, but after a certain amount, it can no longer map the file. Too many missing `end` statements will definitely throw it off.

2. Those snippets cause different behavior. The

[2020-09-15 01:12] otavioschwanck commented on #361
When using multiline:
![image](https://user-images.githubusercontent.com/9551316/93152995-90bd9800-f6d6-11ea-8255-59956fc8c10a.png)

When using singleline: (Lose the autocomplete)
![image](https://user-images.githubusercontent.com/9551316/93153221-2d803580-f6d7-11ea-9ad2-03324c468b13.png)

I found a new hint when i tested:  If at least one file in the module folder is on multiline syntax, the sing

[2020-09-15 15:21] xinyifly opened #362 "Order-Dependent Lists"
Reference: https://rubydoc.info/gems/yard/file/docs/Tags.md#order-dependent-lists

[code]

`lsp-describe-thing-at-point` under `example` gives:

[code]

`lsp-describe-thing-at-point` under `result` gives:

[code]

Which lead to:

[code]

unable to be described.

[2020-09-15 15:27] xinyifly commented on #362
And from: https://yardoc.org/types

It described that:

[code]

Results:

[code]

[2020-09-20 12:27] castwide commented on #361
That's the behavior I'd expect. The module needs to be opened at least once in order to exist, unless you're using some kind of runtime magic that Solargraph can't detect.

[2020-09-20 21:02] Mate2xo commented on #87
Hi, same here, everything is working very well, except that I don't have any inherited Rails methods.Ruby's methods and my project's methods are processed correctly. I followed all instructions previously given.
On all Rails methods (`has_many`, `validates`, ...) I get a `unresolved call` error (even if I require Rails gems in `.solargraph.yml`). I apparently have the same issue as @amake , but th

[2020-09-23 02:19] Fire- opened #363 "documentation requests fail | ArgumentError: invalid empty object name"
For several versions now ( I don't have an exact last-working version, unfortunately ) solargraph has thrown an error when attempting to render the documentation page for nearabouts anything. It looks like a blank/nil name is occurring somewhere during the YARD code objects step, but I'm not exactly sure why.

To note, hover hints work fine, as seen in the log below.

Environment

[code]

Debug ou

[2020-09-27 09:42] #356 closed

[2020-09-27 10:18] castwide commented on #358
Fixed in v0.39.16.

[2020-09-27 10:19] castwide commented on #279
Fixed in v0.39.16.

[2020-09-27 10:29] castwide commented on #363
I'm trying to look for a root cause, but I haven't been able to reproduce the error. Do you have an example of code that causes the error?

Even if we don't determine a root cause, I expect to include a fix for this in the next patch release. It's safe to say that `SourceToYard` should never try to create a YARD method object without a name.

[2020-09-27 11:23] castwide commented on #87
@tyler-boyd @Mate2xo What versions of Ruby and Rails are you using? It looks like the Rails gist doesn't work on certain combinations. For example, I got it to work as expected on Ruby 2.6.3 and Rails 6.0.3.2, but not on Ruby 2.3.0 and Rails 5.0.7.2.

[2020-09-27 19:16] #358 closed

[2020-09-28 05:11] iftheshoefritz opened #365 "How do I change the logging level?"
Once I get the answer to this I'm happy to do a PR to add to the docs.

I can see that the host has a a logLevel option which is set by default to WARN, and it looks like the only way to update it is to call `host.configure`.

The only code that I can see which does that is in `lib/solargraph/language_server/message/initialize.rb`, `LanguageServer::Message::Initialize` calls `host.configure` with

[2020-09-28 06:48] castwide commented on #365
Yes, the client sends it in the `initialize` request params, e.g.:

[code]

The `initialize` request specification: https://microsoft.github.io/language-server-protocol/specification#initialize

[2020-09-28 08:02] Mate2xo commented on #87
@castwide For my current project, I am using Ruby 2.6.6 and Rails 6.0.3.3. I have actually noticed that I don't have autocompletion from Rails methods (e.g. no `#find` methods), but I get a few suggestions for a few class names.

E.g. I can type `Active` and then get the suggestion for `ActiveRecord`, I can then type `::` (so to give `ActiveRecord::), and then get suggestion for `ActiveRecord::Bas

[2020-09-28 17:30] wagenet opened #366 "Typecheck Failing"
Command: `solagraph typecheck`

Output:

[code]

The error raises here:

https://github.com/castwide/solargraph/blob/master/lib/solargraph/pin/yard_pin/method.rb#L17

These are the arguments that `initialize` is called with:

[code]

[2020-09-28 17:34] wagenet commented on #366
It looks like `YardPin::Method` has a different signature than `Pin::Method` and that api_map doesn't account for that.

[2020-09-28 17:39] wagenet commented on #366
It looks like this happens because we are monkeypatching a gem. Here's what's in lib/direwolf/ext/active_record.rb:

[code]

If I ignore this file in .solargraph.yml it works without issue.

[2020-09-28 20:01] wagenet opened #367 "Returned type of `Tempfile.open` is `IO`"
It seems like it should be `Tempfile` but I can't figure out why it is wrong or how to change it. No combinations of overrides have yet been successful.

[2020-09-28 20:52] Fire- commented on #363
hmm, honestly I'm not sure I have a reduction that can guarantee it to be triggered - I only have this one ( massive, monolithic, legacy ) project to use this with, so it's kind of a nightmare to figure it out.

I can try to insert some debugging info and see what is being fed in, maybe that'l help nail down what's breaking the whole thing.

[2020-09-28 21:59] wagenet opened #368 "Doesn't appear to be able to handle Rails migration classes"
Rails uses a style like this:

[code]

However, I can't figure out any way to add includes to this without just doing it inline. I've tried both:

[code]

and

[code]

Neither is picked up in my migration. However, if I change my migration to inherit from `ActiveRecord::Migration::Current` it works, but obviously this isn't what Rails intends.

[2020-09-29 02:17] castwide commented on #366
Thanks for all the details. I fast-tracked a fix and released it in v0.39.17.

[2020-09-29 08:43] iftheshoefritz commented on #365
Thanks for the quick answer 👍

[2020-09-29 08:43] #365 closed

[2020-09-29 12:18] castwide commented on #363
Thanks. Don't worry about it if it's too much trouble, since I'll patch `SourceToYard` either way.

[2020-09-29 16:17] wagenet commented on #366
Thanks! While investigating this, I also realized that I should convert this to be `prepend`ing a module. This also resolved things for solargraph.

[2020-09-29 22:07] wagenet opened #369 "How does this align with Ruby 3.0?"
https://www.ruby-lang.org/en/news/2020/09/25/ruby-3-0-0-preview1-released/

[2020-09-30 05:21] castwide commented on #369
I haven't tested with Ruby 3 yet, but here are a few considerations for the future:

* RBS support is on the roadmap. The specifics are still up for debate. More information: https://github.com/castwide/solargraph/issues/194#issuecomment-671910723
* Parallel execution is liable to be extremely beneficial to performance. One example: when the server is loading a workspace, parsing each individual f

[2020-09-30 05:31] castwide commented on #368
This feature is tricky but feasible. Solargraph currently expects the superclass to be a class constant. `ActiveRecord::Migration[6.0]` is actually a method call (`ActiveRecord::Migration.[]`). There are two things that need to be done here:

1. Enable maps to infer a type from method calls in superclass declarations.
2. Apply an `@!override` to `ActiveRecord::Migration.[]` that returns `Class<Act

[2020-09-30 05:35] castwide commented on #367
Confirmed. It'll be fixed in 0.40.0.

[2020-09-30 07:32] castwide commented on #369
Small update: I confirmed that Solargraph passes smoke tests under Ruby 3.0.0-preview1. The specs succeed and the language server worked as expected in a short test with VS Code.

[2020-09-30 11:41] #230 closed

[2020-09-30 11:42] #247 closed

[2020-09-30 12:10] castwide commented on #362
Order-dependent lists have partial support at the moment. The `Array(Type,...)` syntax works, but the parameters are largely ignored in mapping and inference. Improved support is on the roadmap.

[2020-09-30 23:35] wagenet opened #370 "YARD's List type doesn't appear to be recognized"
[code]
https://yardoc.org/types#see_results

[2020-09-30 23:39] wagenet commented on #370
It's possible this is a false alarm and there's another confounding factor.

[2020-09-30 23:52] wagenet opened #371 "Too many arguments to `Net::HTTP.new`"
[code]
causes
[code]

I tried the following without success:

[code]

[2020-10-01 02:28] castwide commented on #370
Solargraph parses the type, but expects it to refer to a concrete `List` class.

Order-dependent lists have limited support right now. Their parameters are mostly ignored in mapping and inference, e.g., `Array(String, Symbol, #to_s)` will simply be treated as a generic Array. More info: #362

[2020-10-01 02:38] castwide commented on #371
I haven't been able to reproduce this on 0.39,17.

[code]

[2020-10-01 14:28] wagenet commented on #371
Strange. I’ll work more on a reproduction.

[2020-10-01 14:29] wagenet commented on #370
Feel free to close this as a duplicate

[2020-10-01 15:47] ojab opened #372 "Too many arguments for method getting kwags & block"
[code]

[code]

[2020-10-01 19:07] ojab commented on #372
Also we can omit block in params declaration:
[code]

[2020-10-02 05:12] castwide commented on #372
Confirmed. It'll be fixed in the next release.

[2020-10-02 06:29] castwide commented on #117
CHANGELOG.md has been added to the repo.

[2020-10-02 06:37] iftheshoefritz opened #373 "What options exist for creating metadata with references to source in different files?"
I have YARD files outside of my source to document attributes that are created at runtime by some metaprogramming. This is great for autocomplete, but go-to-definition takes me to the YARD file instead of to the actual code.

I have some half-baked ideas and I'm not sure if they would work / which if any has the most merit:

- a lens would give a clickable action that could take me to the source,

[2020-10-02 07:20] #117 closed

[2020-10-02 09:47] castwide commented on #373
The best option is probably to add a custom `Convention` through a plugin. I'm currently working on a similar solution to improve Rails support.

The bad news is that proper convention support won't be released until version 0.40.0. The good news is that it's available in the `master` branch, and I hope to release 0.40.0 sometime next week.

Here's a simple example of a convention that adds a `Foo

[2020-10-02 09:47] #370 closed

[2020-10-02 14:28] iftheshoefritz commented on #373
That is my exact use case, the YARD I'm generating is based on ActiveModel attributes, and slowly working on an annotate style gem that updates Solargraph's knowledge every time `rake db:migrate` runs.

Will give the second part of the problem some thought!

[2020-10-04 01:34] fny opened #374 "Inference for Case Statement"
Would be awesome if there was type inference in blocks.

[code]

[2020-10-05 22:22] kadru opened #375 "Unresolved type HTTP::Error for variable eTypecheck"
Hi, I'm getting `Unresolved type HTTP::Error for variable e` error when using typecheck reporter with the default level. This a example code:

[code]

I believe that is a bug and not intended behavior.

[2020-10-05 23:22] castwide commented on #375
Can you confirm where HTTP::Error is defined? That doesn't look like anything from the stdlib, unless it's supposed to be `Net::HTTPError`. I don't see it defined in common web libraries like Rails and Sinatra, either.

[2020-10-05 23:40] kadru commented on #375
`HTTP:Error` is defined from the gem `http` version: 4.4.1

[2020-10-05 23:41] castwide commented on #375
This code passes strict typechecking for me:

[code]

One possibility is missing documentation, which you should be able to install with either `yard gems` or `solargraph bundle`, depending on your setup.

[2020-10-05 23:45] kadru commented on #375
`yard gems` resolves the issue.

Thanks!

[2020-10-05 23:45] #375 closed

[2020-10-06 00:00] castwide commented on #374
This is a tricky one, but I'm definitely on board to see it work. The issues involved:

* Solargraph frequently depends on the first type in a tag being the "canonical" type, so `@param foo [String, Array]` will expect `foo` to be a `String` in most cases, especially strict type checks.
* When a `@param` accepts multiple types, it would be awesome if the `case/when` example you gave or an `if para

[2020-10-07 08:20] guledali commented on #87
How did you manage to get all of the activerecord methods?

[2020-10-09 06:52] yedhink commented on #87
[code]
@castwide I tried including the `definitions.rb` from https://gist.github.com/castwide/28b349566a223dfb439a337aea29713e and also did `bundle exec yard gem` and `bundle exec solargraph bundle --rebuild`.

**But still hover infos/defintions for certain callback methods etc are not shown in vscode, even though YARD docs exist**. I'm wondering if it's an issue from my side or if it's a problem

[2020-10-09 17:57] olbrich opened #376 "Nested Yard Types don't work in hovers"
When I document a variable like.

[code]
I get a hover like...
![Screen Shot 2020-10-09 at 1 51 35 PM](https://user-images.githubusercontent.com/22176/95616119-4e6a4b00-0a37-11eb-99e1-fa02a8aaef34.png)

If I change it to...

[code]
![Screen Shot 2020-10-09 at 1 54 38 PM](https://user-images.githubusercontent.com/22176/95616008-2549ba80-0a37-11eb-9a0f-2165a64f829d.png)

I would expect to get an `Ar

[2020-10-14 14:50] opiation commented on #366
@wagenet or @castwide, can this be closed now that a fix was released?

[2020-10-14 15:51] opiation opened #377 "Unresolved type undefined for param when using literal values"
It appears that literals are not currently supported by the type checker.  [Yard does seem to support literal values in documenting types][0] and so does [RBS][1].  Granted the Yard examples don't show string or symbol literals, it does mention _constant_ values with an example using `true`.

This error is reproducible as follows

[code]

[code]

Or with symbol literals

[code]

[code]

I haven't

[2020-10-15 06:41] iftheshoefritz commented on #373
@castwide (since I assume the pains returned from `parse_pins` are stored in a global source map) would it be terrible if `Solargraph::Location` was mutable? Then we could update the location of each pin generated for a class?

[2020-10-19 16:07] AngusGMorrison opened #378 "Solargraph fails to start with NoMethodError when Gem::Specification is extended"
I'm trying to use Solargraph for a project in which a method that has been added to `Gem::Specification` with `class_eval` is called in a `gemspec` file. Solargraph fails to start with a `NoMethodError` for the added method.

I've tried using the `require` field in `solargraph.yaml` to ensure that the file containing the `Gem::Specification` extension is loaded, to no effect. Any pointers you can

[2020-10-19 21:38] deiden26 opened #379 "`require_paths` Not Working"
I have a `.solargraph.yml` set up in a Rails project that contains the following

[code]

The goal is to prevent `RequireNotFound` errors whenever I `require 'rails_helper'` in a Rails-related spec. Here's a simplified version of the file structure

[code]

Is there something wrong with my configuration?

[2020-10-21 12:54] jherdman opened #380 "Rubocop 1.0 is Out"
The gemspec currently specifies `~> 0.52`. It probably ought to be a lot more permissive than that.

[2020-10-21 16:03] wagenet commented on #366
@opiation should be fine to close.

[2020-10-21 18:47] rmehner commented on #380
Ran into this as well, as [standard](https://github.com/testdouble/standard) depends on Rubocop 1.0 and if I do an update, Solargraph is automatically downgraded to 0.13.2.

Thank you!

[2020-10-21 19:09] pavelz commented on #87
As I have created and included the Gist, latest viewing of solargraph does not provide any ActiveRecord methods for AR classes. Just generic list of Object methods. not sure if I am doing everything right but I have completed steps in a comment above.

[2020-10-24 05:08] ismk commented on #229
Is there any update to this? ☝️

[2020-10-24 22:48] blampe opened #382 "Workspace reloaded by a second client"
[code]

Use case: I would like to run `solargraph` as a daemon and connect to it with different editors sharing the same local repos.

Example: After `client1` connects with `rootURI: "foo"`, `client2` should be able to quickly connect with `rootURI: "foo"`. The second connection is expected to be fast because the daemon has already traversed this root thanks to the first client.

Observed behavio

[2020-10-25 04:08] RobertLowe commented on #87
Having the same issue, no AR methods. Using `rails.rb` definitions.

---

I did have success with @iftheshoefritz script for methods: https://gist.github.com/iftheshoefritz/7a195eb5676bb790cdbff91ab7d42f31

But no class level methods.

`Rails 6.0.3.4`
`ruby 2.6.6p146 (2020-03-31 revision 67876) [x86_64-darwin19]`
`solargraph (0.39.17)`

[2020-10-25 04:31] RobertLowe commented on #87
Having done some digging I can verify that methods do appear in `v0.38.6`, did a bit more skip testing:

- `v0.39.0` fails to bundle,
- `v0.39.5` bundle success, no methods appear,
- `v0.39.10` bundle success, fails to start server,
- `v0.39.15` bundle success, no methods appear

Cheers

[2020-10-25 04:36] yedhink commented on #87
@RobertLowe I'm wondering if it's a compatibility issue with the Ruby version. Can you please check if you get proper intellisense and auto-completions for solargraph `v0.38.6` which worked for you and somewhat latest ruby version  say `2.7.2` or `2.7.1`?
Thanks

Also, if possible, let me know whether your `solargraph` was installed via `Gemfile` or globally. I always handled both `yard` and `sola

[2020-10-25 05:26] RobertLowe commented on #87
@yedhink locally `bundle install`'d gems no globally install ones:

`v0.38.6` + `ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-darwin19]`, bundle success, methods appear
`v0.39.17` + `ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-darwin19]`, bundle success, no methods appear

Cheers

[2020-10-25 05:32] RobertLowe commented on #87
Another thing:

`#     extend ActiveRecord::Persistence::ClassMethods`

Should be added to `class ActiveRecord::Base` in https://gist.github.com/castwide/28b349566a223dfb439a337aea29713e

[2020-10-25 08:11] guledali commented on #87
@RobertLowe  How do I run that gists you posted https://gist.github.com/iftheshoefritz/7a195eb5676bb790cdbff91ab7d42f31

[2020-10-25 10:05] yedhink commented on #87
@guledali From the comments in the script:-
[code]
Make sure you customise the paths appropriately to suit your project, within the script. Ultimately, after running that script, we get instance methods and variables associated with a particular model/table i believe. And I also think, we might've to run it often, when adding new attributes to the table.

[2020-10-25 11:36] guledali commented on #87
@yedhink  Where do I put the file? In the root

[2020-10-25 11:53] guledali commented on #87
I have placed the script in `rails-todo/lib/generate_solar_models.rb` and I have not modified the script
<img width="1541" alt="Screenshot 2020-10-25 at 12 52 49" src="https://user-images.githubusercontent.com/20647282/97106300-07c85200-16c1-11eb-879c-8332e52ab446.png">

[2020-10-25 11:55] guledali commented on #87
Running the command gives `bundle exec rails r lib/generate_solar_models.rb`
<img width="1679" alt="Screenshot 2020-10-25 at 12 50 17" src="https://user-images.githubusercontent.com/20647282/97106320-19a9f500-16c1-11eb-8cd0-c05079e89d3d.png">

Gives this result,
<img width="1680" alt="Screenshot 2020-10-25 at 12 55 01" src="https://user-images.githubusercontent.com/20647282/97106353-51b13800-16c1-

[2020-10-25 12:05] guledali commented on #87
You forgot to add

[code]

at the top of the file

[2020-10-25 14:18] yedhink commented on #87
@RobertLowe I can confirm that intellisense works pretty good with v0.38.6 as you suggested. Thanks again. Until a further notice from the developer about the issue, I will stick with this version.

[2020-10-25 14:19] yedhink commented on #87
@guledali just make it a rake task and run `bundle exec rake solargraph:update_model_definitions`

[2020-10-25 14:55] guledali commented on #87
Put in the `lib/tasks/generate_solar_models.rake` adding .rake at the end and the running the,

`bundle exec rake solargraph:update_model_definitions`

[2020-10-25 15:44] RobertLowe commented on #87
@yedhink you're welcome @guledali yes, make it rake task just like that

cheers all

[2020-10-26 11:55] baelter opened #384 "solargraph bundle does not work for local gems"
Git gem with local path config in bundler does not work with solargraph bundle

Eg.

MyProject/Gemfile
[code]

[code]

[code]

[2020-10-26 16:52] jebw opened #385 "Solargraph::FileNotFoundError on start up"
I'm working on a solargraph client for gnome-builder.

I'm getting a Solargraph::FileNotFoundError on start up when trying to open the solargraph codebase, always with the same file (`bin/solargraph`). Files are loaded in a random order but it always `bin/solargraph` which fails.

The client is trying to walk the various documents in the codebase and calling `textDocument/documentSymbols` for each

[2020-10-28 13:26] baelter opened #386 "require project relative paths does not work"
E.g.
File in `./spec`

`require "./spec/config"`

`require_relative "config"` works fine.

[2020-10-30 19:24] jonathanpike opened #387 "textDocument/definition requests not finding results"
Hi,

I'm working on developing a Solargraph extension for the new [Nova](https://nova.app) editor, and I'm having some issues with `textDocument/definition` requests.  I've added some logging statements to see what requests and responses are being made to the language server.  Here is an example request:

[code]

And the example response:

[code]

Hover requests, however, work fine.  Here's the re

[2020-10-31 05:29] iftheshoefritz commented on #373
@castwide what about something like this:

[code]

[2020-10-31 12:56] #366 closed

[2020-10-31 12:58] #318 closed

[2020-11-01 06:02] apsoto commented on #33
I see `invalid byte sequence in UTF-8 (ArgumentError)` with the following text

[code]

Example:
[code]

[2020-11-02 02:18] nomasprime opened #388 "Reek config"
Seems like I can't configure Reek in the normal way.

Have the same `.reek.yml` in home and project directory:

[code]

Yet still I'm getting errors coming through from Solargraph, works as expected on the command line.

[2020-11-02 02:26] nomasprime commented on #388
Actually warnings aren't disabled with suppression comments either. Don't know if this is a separate issue?

[2020-11-03 07:38] gencer opened #389 "Solargraph started to give "[FrozenError] can't modify frozen NilClass: nil""
## Note before read below

I was using solargraph's `master` branch and I forgot to revert back to stable version. I thought this error was on stable version (0.39.x). It seems it throws this exception on master branch. I just want to report anyway. If you already know this issue you may close this issue.

### Version:
0.40.0 (master)

### Output:

[code]

### Developer Console:

[code]

[2020-11-07 07:13] iftheshoefritz commented on #373
I'm now thinking that it's going to be easier to parse annotate than to try load all of activerecord and establish a DB connection in a plugin. This looks pretty easy since annotate is essentially just outputting `column.type` or `column.sql_type`. And it's pretty popular in rails projects.

[2020-11-09 06:06] iftheshoefritz commented on #373
Update: I have autocomplete and go-to-definition working for simple cases from a plugin that parses annotate. Soon to be released as `solargraph_rails`.

[2020-11-10 08:13] amirhosseinak20 commented on #87
Hi, I still can't up and run completion for AR attributes, i run the above script and i have this structure.
before:
![Screenshot_20201110_114112](https://user-images.githubusercontent.com/44077252/98647271-e070b680-2349-11eb-9f94-59b55d91d617.png)
after:
![Screenshot_20201110_114116](https://user-images.githubusercontent.com/44077252/98647306-e9fa1e80-2349-11eb-8230-57eee33d9404.png)

[2020-11-10 14:42] btoconnor opened #390 "wrong ruby version being used ( rvm )"
Hello - when trying to use solargraph, it seems to be utilizing the wrong ruby version.

This is illustrated when I run `download-core` command:
[code]

However, the ruby version in use is currently 2.7.2:

[code]

This appears to be manifesting in other ways as well - when I run `solargraph bundle` I get the following error:
[code]

And here's my $PATH:
[code]

[2020-11-10 23:59] ghedamat commented on #380
@castwide would you be ok with a pr with this change? https://github.com/zaratan/solargraph/commit/2b481162ced4ec4792486cbfda68e5925b98fa41

[2020-11-12 13:19] guledali commented on #87
The problem is that you have to configure the `rails.rb`

[code]

This does not cover rails at all, so many autocompletion missing both in the controller and model, obviously you could extend that file but who has the time for that. Alternative there is free version for rubymine https://www.jetbrains.com/ruby/nextversion/

[2020-11-12 19:01] LucasArruda opened #391 "Having conflict issues with rubocop 1.3 and solargraph 0.39.17"
I am recently trying to upgrade to ruby 2.7 from 2.6.

With that, I also updated a few gems, including `rubocop`.

But now I am getting this error when I try to bundle

[code]

I wonder if `rubocop` 1.3 is incompatible with `solargraph`?

Is bundler messing this up?

Or this gem should do `rubocop (>= 0.52)` instead of `rubocop (~> 0.52)`?

Here is all my `rubocop` related gems:

[code]

Many than

[2020-11-12 20:07] iftheshoefritz commented on #87
@amirhosseinak20 looks like you are expecting your editor to give you completion about AR attributes on the class. They are instance level attributes, so you need to try completion on an instance. What happens if you type `User.new.`? Do you see the attributes then?

[2020-11-14 08:44] amirhosseinak20 commented on #87
When i type sth like "User.fi" it doesn't show any completion (i expect to show first), but when i type "a = User.new; a.em" it shows email.

[2020-11-16 06:52] iftheshoefritz commented on #87
Help is ~on the way~ in progress. I've started https://github.com/iftheshoefritz/solargraph_rails which is a SG plugin that parses Annotate comments to give magical IDE help on ActiveRecord attributes. It does this without generating any local files that confuse go-to-definition. Associations will come later, but those are IMO an easier problem to solve.

It relies on an unreleased feature of Sola

[2020-11-16 19:10] pavelz commented on #87
on here be dragons where does one find solargraph 40.1 ? reading shoutout, want to forgo unnecessary yak shaving.

[2020-11-16 20:24] iftheshoefritz commented on #87
You have to build solargraph from source, and set the version number to that (which I chose arbitrarily, Castwide actually said the next version would be v0.40.0).

[2020-11-17 18:26] pavelz commented on #87
Also probably better find a different name, there is already solargraph-rails, which I have installed instead of this one on the first go.

[2020-11-17 19:55] iftheshoefritz commented on #87
🤦

will do

[2020-11-17 22:03] castwide commented on #87
@iftheshoefritz The current solargraph-rails gem is a legacy Rails app that I've been meaning to deprecate. I'm on board with publishing your plugin under that name to stay consistent with existing plugin conventions.

[2020-11-17 22:08] castwide commented on #87
I delayed it while I was researching a wart in how convention changes get applied to api maps. Then I got temporarily sidetracked with other work. 🤦 I'll try to have an update and an ETA before the end of the week.

[2020-11-17 22:16] castwide commented on #388
This is a known issue with the solargraph-reek plugin: https://github.com/castwide/solargraph-reek/pull/1

I'll merge that PR and publish the new version this week.

[2020-11-18 07:24] iftheshoefritz commented on #87
@castwide Thanks! Is the convention solargraph-rails or solargraph_rails (minus or underscore)?

[2020-11-18 08:10] RobertLowe commented on #87
@iftheshoefritz `dash` imo

[2020-11-18 16:17] castwide commented on #87
Yep, solargraph-rails. Current examples include solargraph-reek and solargraph-standardrb.

[2020-11-19 05:22] castwide commented on #391
This should be fixed by #381 in an upcoming release. There are a couple of technical issues that need resolved, but it's a priority.

[2020-11-19 05:33] castwide commented on #382
If both clients are connecting to the same server, your intuition should be correct, but this is a use case I haven't explicitly tested. I'll need to try it and get back to you.

[2020-11-19 08:41] SolaWing opened #392 "[Feature Request] has anyway to disable diag in gem source?"
it's annoying when jump to the gem source and have lots of diag. and nor I should modify it.

[2020-11-19 08:50] SolaWing commented on #392
I find it's my global config enable the diag.. though It still be better to always disable in gem source

[2020-11-20 05:23] iftheshoefritz opened #393 "Missing BigDecimal info"
It seems like Solargraph doesn't know about BigDecimal. I expected at least the same info I get with `BigDecimal.new("40").public_methods(false)`, but there's nothing found by Solargraph.

I understand that `BigDecimal` isn't required by default, but it's pretty fundamental (I suppose especially to Rails where every decimal is loaded as BigDecimal.

Does this belong in a plugin, or in project-spec

[2020-11-20 10:57] castwide commented on #393
`BigDecimal` will work if you `require 'bigdecimal'` somewhere in your code. Since Rails requires it internally, it might make sense to add it automatically in the solargraph-rails plugin.

[2020-11-20 20:40] tdegrunt commented on #379
Do you have any `.gemspec` in your tree? A quick peek in [workspace.rb](https://github.com/castwide/solargraph/blob/2bb9e046269e30d1a8d778690ca0ed89f9465329/lib/solargraph/workspace.rb#L163) seems that it only uses `require_paths` if there are no `.gemspec` files. I might be wrong though.

[2020-11-21 03:44] iftheshoefritz commented on #393
Ah awesome.

[2020-11-23 11:06] nomasprime commented on #388
Sorry, didn't realise it was on another repo.

Thanks 🙂

[2020-11-23 11:06] #388 closed

[2020-12-02 17:38] pelletencate commented on #389
I have the very same issue in VSCodium, MRI 2.7.2 on macOS 11.

If I run `solargraph stdio` on my terminal, it works fine.

[2020-12-03 00:59] krnjn commented on #391
Any update on this?

[2020-12-05 12:21] #380 closed

[2020-12-05 12:38] castwide commented on #391
#381 is merged into master, and there's a v0.39.18 branch to release the update, but the tests are failing in Travis CI. I'm looking into it.

[2020-12-05 12:40] castwide commented on #392
This should be possible. There's a similar mechanism for the typecheck reporter that stops it from analyzing files outside of the project. I'll look into it.

[2020-12-05 20:50] castwide opened #394 "Require Ruby >= 2.4"
From what I can tell, less than 1% of users are still running Ruby < 2.4. The burden of supporting earlier versions is no longer worth the effort. Updating also comes with important benefits:
- It fixes outstanding issues with RuboCop 1.0 (#391)
- It enables use of kramdown instead of maruku

This change will be released in version 0.40.0.

[2020-12-06 09:43] castwide opened #395 "Map visibility calls with method arguments"
Example:

[code]

`Foo#baz` should be private while both `Foo#bar` and `Foo#quz` are public.

This change is in the master branch and will be released in 0.40.0.

[2020-12-11 05:33] Nitrodist commented on #394
Do it, you're the best 🙏

[2020-12-12 06:50] numbcoder commented on #391
@castwide When will the new version be released?

[2020-12-13 19:42] castwide commented on #391
@numbcoder It'll be released in the next day or so. The failing tests after #381 are resolved by #394.

[2020-12-13 19:45] castwide commented on #390
1. Ruby 2.7.2 maps are not currently available, so `download-core` fetches 2.7.1 instead. This download is for documentation purposes only. It doesn't affect the runtime. I'll update the Ruby version archives later this week.

2. Does it work if you run `bundle exec solargraph bundle`?

[2020-12-13 20:05] castwide commented on #389
This should be fixed in the master branch. I'll release the fix in v0.40.0.

[2020-12-14 10:15] castwide commented on #391
Released in version 0.40.0.

[2020-12-14 10:17] castwide commented on #389
Released in version 0.40.0.

One thing to note: this bug was related to mapping the YAML module, which currently does not work in Ruby 2.7 for reasons I haven't figured out yet, but it no longer causes an error.

[2020-12-14 10:22] castwide commented on #387
Sorry for the late reply. There are a couple of known reasons this might happen. Could you give me a minimal example of code that fails to find a definition?

[2020-12-14 10:27] castwide commented on #385
Are you still having a problem with this? A race condition is definitely possible, but I haven't been able to reproduce it in VS Code. It opens 'bin/solargraph' and works as expected. I might be able to help if you can provide me with a stack trace and possibly some sample code that triggers it.

[2020-12-14 10:30] castwide commented on #372
Fixed in version 0.40.0.

[2020-12-14 10:33] castwide commented on #363
Fixed in version 0.40.0.

[2020-12-14 14:40] ojab opened #396 "`Not enough arguments` with splatted kwargs"
[code]
[code]

[2020-12-14 16:11] castwide commented on #396
Confirmed. It works as expected with `xxx(from: 1, to: 2)` but misinterprets the splatted hash. I'll add it to the roadmap.

[2020-12-14 16:50] #395 closed

[2020-12-14 16:58] castwide commented on #284
This issue was most likely caused by the gem's overly permissive Bundler dependency, which was implemented to support legacy versions of Ruby. With the latest gem requiring Ruby 2,4+, it shouldn't be a problem anymore. Please feel free to reopen or start a new issue if the problem persists.

[2020-12-14 16:58] #284 closed

[2020-12-14 16:59] #279 closed

[2020-12-14 16:59] #251 closed

[2020-12-14 19:48] LucasArruda commented on #391
Thanks @castwide . Working now!

[2020-12-15 03:10] Fire- commented on #363
Hmm, with 0.40.0 I'm still able to replicate.

Even something as simple as
[code]
triggers the failure - it feels more like something in the environment has broken the entire object store at this point...

[2020-12-15 03:26] Fire- commented on #363
Short version: a hanging comma on the end of an `attr_accessor` list managed to break, uh, everything?

------

To try and get some better information, I modified the yard lib itself, from:

https://github.com/lsegal/yard/blob/7104257bef486424d77eddd2f1ffc6834d7ee090/lib/yard/code_objects/base.rb#L189-L190

to

[code]

which gave me something unexpected -

[code]

the aforementioned namespace it w

[2020-12-15 05:23] castwide commented on #363
Hmm. I still can't reproduce this one.

1. Does this happen with your example code in an otherwise empty workspace, or do you have any bundled/required gems included?

2. Have you tried running `solargraph clear` to reset the documentation cache?

[2020-12-16 15:27] castwide commented on #384
Does this work with `bundle exec solargraph bundle`?

[2020-12-17 04:04] cuongn265 opened #397 "Couldn't format Bundler cop in Gemfile"
Solargraph version: 0.40.0

Hi guys,

I was not able to format my Gemfile which had some offenses related to Bundler cop: https://docs.rubocop.org/rubocop/cops_bundler.html

After some investigation I found that Solargraph tried to create a new tempfile using following command:

[code]

If my file is Gemfile, the filename will be `....Gemfile.rb` which wasn't satisfy the default include glob patte

[2020-12-17 14:19] baelter commented on #384
Yes it does. Have not been adding solargraph to Gemfiles up until now. But might have to start doing that then? Or could this be sorted anyway?

[2020-12-17 16:30] castwide commented on #384
It might be necessary here because `my_gem` gets installed as a local gem. In projects where the Bundler installs the gems at the system level, you can usually get away with excluding Solargraph from the Gemfile.

[2020-12-17 18:04] nickpelone commented on #314
I hate to necrobump this, but is there any hope of getting this fixed or should I migrate code to use `# @!parse`? I've had to hold off on upgrades to Solargraph this year basically to keep those annotations working in my large codebase. If it's dead, that's fine, I just need to go ahead and do the work to migrate.

Of course as usual, thanks for all you do.

[2020-12-17 18:41] castwide commented on #314
In most cases, I've found that the advantages of using `@!parse` instead of `@!domain` outweigh the disadvantages. I created `@!domain` to solve a fairly specific problem in one of my projects, and even there I've mostly migrated to either `@!parse` or the custom `@yieldself` tag, which solves a similar problem in a narrower scope.

If you have a use case where `@!domain` would work better, we can

[2020-12-18 10:10] #384 closed

[2020-12-18 13:14] castwide commented on #397
There's a fix for this in the master branch. It'll be published in the next release.

[2020-12-18 13:33] castwide commented on #371
Closing as stale. If the problem persists, please feel free to comment or reopen.

[2020-12-18 13:33] #371 closed

[2020-12-19 06:13] cuongn265 commented on #397
Thank you!

[2020-12-19 18:19] castwide commented on #87
With the release of gem v0.40.0, I think we're about ready to develop a proper Rails plugin for Solargraph. My proposal is to combine the [Rails supplemental file](https://gist.github.com/castwide/28b349566a223dfb439a337aea29713e) with [iftheshoefritz's model annotation](https://github.com/iftheshoefritz/solargraph_rails). This would take a lot of the maintenance out of users' hands while still al

[2020-12-19 19:16] castwide commented on #331
As far as I can tell, this is a general issue with RSpec that happens when the version loaded by the test suite conflicts with the version installed in the system gems, possibly because `spec_helper.rb` invokes Bundler and loads a different RSpec than the one that was executed from the command line.

Since it doesn't appear to be specific to Solargraph, I'm going to close this issue. Please feel f

[2020-12-19 19:16] #331 closed

[2020-12-20 12:40] iftheshoefritz commented on #87
@castwide that sounds good! If you could remove solargraph-rails, I'll rename my project and upload 0.1.1pre or some such to rubygems.org

[2020-12-20 12:59] castwide commented on #87
@iftheshoefritz is your RubyGems username also iftheshoefritz? I figure the safest way to switch is for me to make you an owner, so it doesn't get squatted mid-transfer. You can also email me so we can coordinate more directly (my email is in my profile).

[2020-12-20 19:08] castwide commented on #390
Update: documentation for Ruby 2.7.2 (and several other versions) is now available via `download-core`.

[2020-12-20 19:09] btoconnor commented on #390
Thanks for the update. I didn't realize that about the maps.  I think the rvm issue may have been something whacky with my machine's configuration, and it's not showing up anymore.  If I see this happen again, I can try and comment here again, but I think this issue is safe to close.

[2020-12-21 00:46] #390 closed

[2020-12-22 14:07] iftheshoefritz commented on #87
@castwide yes, I am `iftheshoefritz` there too :)

[2020-12-26 19:33] jebw commented on #385
Just updated to `master` and I'm still seeing this consistently

Solargraph is getting launched from a checkout of the gem with the following

`

[code]

[2020-12-26 19:40] jebw commented on #385
I can push the integration code somewhere if you're interested but the actual LSP support is all in C and provided by Gnome-Builder itself, I've just got some python to spawn Solargraph and forward on requests

It normally seems to be the `bin/` file which fails but I'm guessing thats because thats the first file it tries to index

[2020-12-26 20:07] castwide commented on #385
Thanks for following up. This made me think of another possibility. Your client might be sending the `textDocument/documentSymbol` request before the server is finished initializing. That could raise `Solargraph::FileNotFoundError` because the file hasn't been mapped yet.

If that's the case, it sounds like a bit of a problem on both sides. The LSP specification prohibits clients from requesting a

[2020-12-26 20:14] castwide commented on #367
Fix released in 0.40.0.

[2020-12-26 20:32] castwide commented on #385
I'll go ahead and update the server to send a proper `ServerNotInitialized` error. Even if that's not the root cause of this issue, it's the right thing in general.

[2020-12-27 13:09] jebw commented on #385
That sounds very likely to be the probably cause - this maybe an issue with how Gnome-builder implements LSP. Most existing plugins for builder are for compiled languages and probably have much faster startups, so it maybe they also have the same theoretical race condition on start up but the timing means they never hit it.

I can probably implement something in the plugin to observe when init has

[2020-12-27 20:32] jebw commented on #385
I found I could hook when the initialization completes, and it is completing _before_ the FileNotFound errors, suggesting that isn't the source of the problem?

I've got a longer debug file with the LSP messages going back and forth and a bunch of my debug output if that helps?

[2020-12-27 20:43] castwide commented on #385
Yes, VS Code starts one persistent instance of the server and uses it for requests on all files.

Oh yeah, that might help a lot.

[2020-12-27 22:19] jebw commented on #385
[dump.log](https://github.com/castwide/solargraph/files/5745345/dump.log)

:point_up:

[2020-12-27 23:19] castwide commented on #385
Thanks! I think I found the problem.

When Solargraph initializes, it maps all the `.rb` files in your workspace except a few common "non-library" directories, like `spec` and `.bundle`. If you open a workspace file that hasn't been mapped, Solargraph will temporarily add it to `Sources` in response to a `textDocument/didOpen` event. This ensures that you still get code intelligence when you're wo

[2020-12-27 23:38] castwide commented on #385
Correction: Your client is sending the `textDocument/didOpen` event, but it gets sent for multiple files, and Solargraph only tracks one "open" file at a time. (In VS Code, the "open" file is the one whose editor tab currently has focus.)

It's a slightly different issue, but it's still a limitation we should be able to remove.

[2020-12-28 11:27] castwide commented on #396
Released in v0.40.1.

[2020-12-28 11:27] castwide commented on #397
Released in v0.40.1.

[2020-12-28 15:54] ojab commented on #396
Looks like the issue still appears in a slightly more complicated case:
[code]

[code]

[2020-12-28 16:52] ojab opened #398 "`Unresolved type undefined` instead of unresolved type name"
[code]

[code]

It would be more useful to have `Unresolved type TimeZone for tz param on #xxx` message to know which type is not resolved without reading the code.

[2020-12-28 17:14] ojab opened #399 "`ActiveSupport::TimeZone` is not recognized as a resolved type"
[code]

[code]
and solargraph.yml with
[code]

doesn't change anything.

[2020-12-31 15:09] castwide commented on #399
Have you tried running `solargraph bundle` (or `bundle exec solargraph bundle` if solargraph is in your Gemfile?)

More info: https://solargraph.org/guides/rails

[2020-12-31 15:10] castwide commented on #398
Confirmed. I'll fix it in an upcoming release.

[2020-12-31 15:14] castwide commented on #396
Thanks. In this case, I probably won't try to validate the value of `params` in the method call; instead, the type checker will see that the kwargs are coming from a variable and ignore it. I'll at least make it stop throwing that `not enough arguments` error, though.

[2020-12-31 16:05] ojab commented on #399
:facepalm: I thought that I did it.

[2020-12-31 16:05] #399 closed

[2021-01-02 16:03] colinux opened #401 "Temp directory formatting breaks rubocop configuration"
Last patch release 0.40.1 ignores `.rubocop.yml` files, because rubocop sees filepath of a temporary file, which is not in the directory of the `.rubocop.yml` workspace, so hierarchical config is not applied.

The diagnosis are not affected, because code is passed as stdin. v0.40.0 is ok.

[2021-01-05 03:48] #397 closed

[2021-01-05 04:04] castwide commented on #401
Confirmed. This is a nasty conundrum: autocorrect only works on a physical file (not stdin), and the -c argument for specifying the config doesn't work with autocorrect. That's how it appears for now, anyway. This issue's on the roadmap.

[2021-01-05 13:55] metalelf0 opened #402 "Solargraph 0.40.1 breaks compatibility with rubocop 0.84 (undefined method `join' for Set)"
I recently upgrade from solargraph 0.40.0 to 0.40.1.

This caused the following gem upgrades:

[code]

When I try to start my rails server, here is what I get:

[code]

The issue appears both with and without `.rubocop.yml`. Running rubocop alone works. I'm on ruby 2.2.2p198, rails 5.2.4.4.

Thanks!

[2021-01-07 15:56] asilano commented on #357
I'm also seeing the same problem, across Solargraph versions. I have an essentially identical backtrace - `notify_observers` leading through to `complete` and ending with the nested calls in `parser/rubyvm/class_methods.rb:133` and `:134`.

I am running VSCode on Windows 10, editing files on WSL. Solargraph is at 0.40.1. I have tried switching to external transport and explicitly running `solargra

[2021-01-09 21:29] gradybarrett opened #404 "Support additional YARD tags"
Is there an appetite to support additional YARD tags?

Some that I've love to be able to use are @deprecated, @note, and @see.

@deprecated would be particularly nice, especially if vscode-solargraph would strike-through deprecated classes and methods.

[2021-01-10 13:52] jimeh commented on #401
@colinux PR #403 should fix this issue. If you want to test the PR I'd be happy to try and resolve any issues you might run into.

[2021-01-10 19:30] vladimirtemnikov opened #405 "Rubocop 1.8.0 conflict"
Currently if there is a rubocop v1.8.0 installed I have an error while starting solargraph server:

[code]

Rubocop v 1.8.0 uses parser v3.0.0.0 which conflicts with parser v2.7.2.0, and solargraph-0.40.1 depends on parser (~> 2.3)

[2021-01-10 19:33] #405 closed

[2021-01-12 07:01] iftheshoefritz commented on #87
The Rails plugin (and solargraph) can now be installed with a simple `gem install solargraph-rails --pre` and adding the plugin to `.solargraph.yml`. Please have a look, the more eyeballs, the more edge cases and bugs we can find.

[2021-01-12 07:33] RobertLowe commented on #87
`solargraph-rails` repo https://github.com/iftheshoefritz/solargraph-rails

[2021-01-12 08:52] kaspergrubbe commented on #87
Thank you, can't wait to try it out!

[2021-01-15 13:50] metalelf0 commented on #402
Fixed by doing some dependency juggling. I managed to upgrade rubocop to 1.0 and the issue was gone. Thanks anyway!

[2021-01-15 13:50] #402 closed

[2021-01-18 18:51] #394 closed

[2021-01-18 18:52] castwide commented on #396
Updated in v0.40.2.

[2021-01-18 18:52] castwide commented on #393
This should be resolved, or at least resolvable. Any related problems, please let me know.

[2021-01-18 18:52] #393 closed

[2021-01-18 18:53] #391 closed

[2021-01-18 18:54] #367 closed

[2021-01-18 22:15] thornomad opened #406 "Solargraph is correctly diagnosing rubocop errors; however, it is "fixing" them incorrectly (formatting)"
Hello — I use solargraph with coc-nvim and coc-solargraph.  I originally [opened the issue at coc-solargraph](https://github.com/neoclide/coc-solargraph/issues/54) there but it was suggested the issue may with the solagraph language server itself.

#### Problem

When applying auto-correct _formatting_ to a file, solargraph is **not** sourcing my project folder's`.rubocop.yml` file (it does use my

[2021-01-19 01:23] amake commented on #396
I have now the following error if the kwargs have default arguments:

[code]

test.rb

[code]

[2021-01-19 10:59] KevinBerthier commented on #406
Same issue since version `0.40.1` for me on VSCode with vscode-solargraph

[2021-01-19 11:16] castwide commented on #406
This is a known issue that will be resolved in 0.41.0. See #403

[2021-01-21 09:28] npearson72 opened #407 "Not finding gems in file"
I keep getting the warning: [RequireNotFound] [W] Required path (gem) could not be resolved.

<img width="731" alt="Screen Shot 2021-01-21 at 11 26 26 AM" src="https://user-images.githubusercontent.com/1323414/105330990-9aeb2800-5bdb-11eb-8b9c-1dcfa6ada2ba.png">

I have the following in my solagraph file:

[code]

I've tried removing `require_not_found` reporter, but nothing fixes the issue.

Any

[2021-01-22 15:37] castwide commented on #407
That error usually means that the gem is either not installed or Solargraph can't find it among the expected load paths. In the latter case, one cause is running a system-wide installation of Solargraph while the gem in bundled inside the project, e.g., in a `.bundle` directory.

Removing the `require_not_found` reporter should work, but you might need to restart the editor.

[2021-01-22 16:25] npearson72 commented on #407
The gem is definitely installed:

[code]

[code]

I'm using the `coc-solargraph` extension for neovim, which bundles the language server with it:

<img width="726" alt="Screen Shot 2021-01-22 at 6 22 57 PM" src="https://user-images.githubusercontent.com/1323414/105516782-f3efb480-5cde-11eb-9d79-d09e44fa9103.png">

Have tried removing `require_not_found` and restarting the server. Nothing works.

A

[2021-01-25 10:32] colinux commented on #401
I can confirm PR #403 works very well. Thanks a lot !

[2021-01-25 11:30] iftheshoefritz commented on #393
I actually didn't manage to make this work by adding it to the plugin, but I'll re-open if I have more thoughts on the issue

[2021-01-27 18:49] gareth opened #408 "undefined method `children' for :private_constant:Symbol (NoMethodError)"
I noticed this via the VSCode extension (v0.21.1) but was able to reproduce it directly in the gem.

**Versions:**
Gem: 0.40.2, 0.39.17
Ruby: 2.6.5
OS: Mac OS X 10.15.7 (19H114)

When trying to use Solargraph on the ruby (2.6.5) core lib folder, this exception is raised:

This also means the folder is unexplorable in e.g. VSCode with the Solargraph extension.

This appears related to #312 which re

[2021-01-28 17:45] #401 closed

[2021-01-29 15:57] wycats opened #409 "Interpolation in macros"
I'm trying to write a macro that converts a symbol parameter into a question-mark suffixed version of the parameter:

[code]

When I use this method and generate docs using YARD, it generates the appropriate methods. But it seems that solargraph doesn't pick them up.

Reading other issues, it seems that interpolation is, in general, supported in macros. Are they unsupported in this position, or am

[2021-01-31 00:32] gencer opened #410 "Lost Rails (basic) autocompletion after `0.39.0+`"
I stopped getting some autocompletion on gems. Especially on Rails. I know Rails integration is never been easy and complete. I am not talking about total completion of Database (ActiveRecord) or Controller or ActiveSupport. But some basic autocompletion like `Rails.root` or `Rails.env` or even `Rails.# anything..`

With <s>0.40.0</s> 0.39.0 it get worse. I was able to get many methods and classes

[2021-01-31 15:06] castwide commented on #407
Sorry, I meant the `css_parser` gem. If it's installed, try running `yard gems` to generate the documentation.

[2021-01-31 15:51] npearson72 commented on #407
Yeah, running `yard gems` did the trick. Thanks.

[2021-01-31 15:51] #407 closed

[2021-02-03 01:11] bubbavox commented on #33
For what it's worth, I was getting the following error in VS-Code:
`Failed to start Solargraph: Error: [ArgumentError] invalid byte sequence in UTF-8`

And I traced the problem to a ruby file containing a non-ASCII character in a comment - �
This ruby file wasn't even open in VSCode -- it was just within a folder that was within the group of folders open in my VSCode workspace.

[2021-02-07 15:55] castwide commented on #408
Fixed in v0.40.3.

[2021-02-07 15:55] castwide commented on #406
Fix released in v0.40.3.

[2021-02-07 15:56] castwide commented on #398
Fixed in v0.40.3.

[2021-02-07 15:56] castwide commented on #396
Fixed in v0.40.3.

[2021-02-07 15:57] #389 closed

[2021-02-07 16:08] castwide commented on #369
Ruby 3 is now passing on Travis CI as well. Please feel free to open a new issue if a specific problem arises.

[2021-02-07 16:08] #369 closed

[2021-02-07 23:11] #372 closed

[2021-02-07 23:22] #334 closed

[2021-02-09 23:46] castwide commented on #360
The minor bug with `@!override` tags on `#initialize` methods is fixed in the master branch.

[2021-02-09 23:46] #360 closed

[2021-02-09 23:51] castwide commented on #409
Support for the `@!macro` directive is in progress. There are still some issues with accuracy and performance that need to be resolved.

[2021-02-10 01:33] wycats commented on #409
@castwide does that mean that you intend for this syntax to work, but it's not yet implemented?

[2021-02-10 02:32] castwide commented on #409
@wycats Yes. It's on the roadmap, but unfortunately I don't have an ETA yet.

[2021-02-10 09:53] andersennl opened #411 "Gem version 0.40.3 goto definition issue"
Goto definition stopped working with version 0.40.3 using VSCode. Going back to version 0.40.2 works again.

I couldn't find any error log output in VSCode. Are there any more details I can provide to help?

Thanks for your work!

[2021-02-10 14:06] stufro opened #412 "Already initialized constant BenchMark::*"
When running rake in my rails project I get the below warnings:

[code]

I believe this is because the benchmark gem is part of core ruby, but is also being required by solargraph as per this commit f3a448345861310fba4e33dcde5f7b4a8dd3b962. Being required twice is causing the constants to be defined again. Does the benchmark gem need to be explicitly required when it is already part of core ruby?

[2021-02-10 14:59] wycats commented on #409
@castwide I'd love to help (and I think @wagenet, a coworker of mine, would also be happy to help). We use Solargraph in a Rails app, and we're starting to add in YARD annotations to improve Solargraph's behavior. Now that we've started doing that, it's clear that this is the missing piece that would unlock a lot of Rails. That makes us really excited about Solargraph's potential, and we'd be happ

[2021-02-10 17:24] nomasprime commented on #411
Works with NeoVim and CoC.

[2021-02-10 17:30] nomasprime opened #413 "Can get to definition with tags but not Solargraph"
With cursor on `choose_school` on [this line](https://github.com/DFE-Digital/claim-additional-payments-for-teaching/blob/74085a3eb115948d4181a3f66cdcbf700bdff3d0/spec/features/maths_and_physics_claim_spec.rb#L21) I can get to the definition with using tags but Solargraph says `definition not found`.

For comparison, works fine with IntelliJ.

[2021-02-10 17:53] castwide commented on #411
I haven't encountered this problem either.

@andersennl Can you provide a reproducible example?

[2021-02-11 09:57] andersennl commented on #411
I just reinstalled gem version 0.40.3 but was unable to reproduce it. When I created the issue, I made several attempts, but VSCode did not show any relevant functionality (restarted VSCode, restarted Solargraph language server). Uninstalling gem version 0.40.3 and using version 0.40.2 instantly made "go to definition" in VSCode work again, hence I created the issue.

So sorry for the confusion. A

[2021-02-11 09:57] #411 closed

[2021-02-12 12:02] pedrocarmona opened #414 "[Feature Request] Add factory bot definitions"
Hi,

Thank you very much for this project.
I have been transitioning from Rubymine to vim, and thus started using solargraph.
One feature I miss is jumping to factory_bot definition.

Is it possible to add? should investigate and make a pull request?

[2021-02-15 06:34] castwide commented on #412
Even though `benchmark` is in the stdlib, it still needs to be required because it's not loaded as part of the Ruby core.

I suspect this problem arises because something is requiring `benchmark` before Bundler reconfigures the load paths. Before `Bundler.setup`, it loads the stdlib version. Afterwards, `benchmark` points to the gem version, so it gets reloaded.

[2021-02-15 06:59] castwide commented on #409
Thanks. Any help you can provide is much appreciated.

I think the simplest place to start is a method that accepts 1) a method pin with a macro, and 2) a source map. The method can then generate method pins based on the source map's calls to the macro's original pin. The inner logic is going to be hairy, but I might be able to put together some proof-of-concept code this week. After that, I suspe

[2021-02-15 15:43] castwide opened #415 "Faster server initialization"
The `fast-initialize` branch aims to improve startup speed by allowing the `initialize` message to complete without mapping the entire workspace. The mapping will occur in the background instead.

To do:
- [x] Use LSP progress reporting to track the status of the mapping process
- [x] Avoid raising `FileNotFoundError` when trying to access files that have not been mapped yet

[2021-02-22 11:40] darrenhp opened #416 "completion not working on character '.'； Is it something wrong on my configure ？"
**The completion request and response with id 1000006 show it   failed in  `a.`**

**But it work fine in        `a.a`**

Sample requests:
[code]
Sample responses:
[code]

**The completion request and response with id 1000006 show it   failed in  `a.`**

**But it work fine in        `a.a`**

Sample requests:
[code]
Sample responses:
[code]

[2021-02-23 20:24] asg0451 opened #417 "Issue loading required files in bundler, under LSP in Emacs"
I've written out my full issue in the lsp-mode repo: https://github.com/emacs-lsp/lsp-mode/issues/2646
But I'll summarize here as well. Using solargraph as an LSP backend in emacs, I can't get it to grok files that I require that are outside of the workspace tree. Files in gem dependencies that are declared in my Gemfile.

I'm allegedly running solargraph under bundler. I know very little about th

[2021-02-24 10:26] castwide commented on #416
This can happen when the client sends the entire file in a `didChange` message, i.e., full sync instead of incremental sync. With incremental syncs, the server is able to correct for edits in progress that would otherwise trigger a syntax error in the parser.

I'm working on a fallback to perform diffs on the server side to provide the same functionality for full syncs.

[2021-02-26 21:15] wagenet opened #418 "Typechecking doesn't allow for `raise` without arguments"
[code]

https://rubydoc.info/stdlib/core/Kernel:raise

[2021-02-26 22:06] wagenet commented on #396
There still seems to be a related issue if you have both splatted args and kwargs.

[code]

[2021-02-26 22:10] wagenet commented on #396
This also complains:

[code]

[2021-02-26 22:14] wagenet opened #419 "Ability to ignore typing errors"
I'd like something akin to `@ts-ignore` or `@ts-expect-error` in TypeScript.

[2021-02-27 07:07] castwide commented on #418
I haven't been able to reproduce this problem. `Kernel#raise` is always seen as valid without arguments.

What versions of Solargraph and Ruby are you using?

[2021-03-01 16:52] wagenet commented on #418
Ruby 2.7.2
Solargraph 0.40.3
Running `solargraph typecheck`

Here's some actual code that I'm seeing the issue with. The later two raise both cause the `Not enough arguments to Kernel#raise` notice.

[code]

[2021-03-03 12:33] castwide commented on #377
This is fixed as of v0.40.3. See also #398

[2021-03-03 12:33] #377 closed

[2021-03-03 12:33] #398 closed

[2021-03-03 12:33] #406 closed

[2021-03-03 12:34] #408 closed

[2021-03-03 13:01] gareth commented on #408
Thanks for the fix! I didn't notice that there was already a to-do comment so I'm glad it wasn't a big unknown

[2021-03-03 21:56] wagenet opened #420 "Type could not be inferred despite explicit @return"
<img width="439" alt="image" src="https://user-images.githubusercontent.com/9835/109877747-3da9b400-7c28-11eb-9b5e-60f58e982cd3.png">

<img width="525" alt="image" src="https://user-images.githubusercontent.com/9835/109877770-469a8580-7c28-11eb-96cc-17ef212ebf0c.png">

Rewriting the method as follows resolves the error:

[code]

However, it does not seem that this should be necessary. My understan

[2021-03-06 11:24] ddoherty03 commented on #369
I tried `solargraph available-cores`.  Any chance 3.0.0 will be added?  Related: would having this result in faster startup?  Is that the idea.  Totally new to lsp-mode.  Thanks.

[2021-03-11 07:44] kirthivaasan22 opened #421 "Solargraph error while starting"
It gives an error while running `solargraph bundle`. No such file or directory - bundle (Errno::ENOENT)

`from /usr/local/bin/solargraph:23:in `<main>'
from /usr/local/bin/solargraph:23:in `load'
from /var/lib/gems/2.7.0/gems/solargraph-0.40.4/bin/solargraph:5:in `<top (required)>'
from /var/lib/gems/2.7.0/gems/thor-1.1.0/lib/thor/base.rb:485:in `start'
from /var/lib/gems/2.7.0/gems/thor-1.1.0/lib

[2021-03-12 14:47] BenHagan commented on #421
Same here.

[2021-03-15 18:29] gaultierq commented on #87
I am struggling make the auto-completion working on active record finder methods.
I tried the following :
- `gem 'solargraph', group: :development` in my `Gemfile`
- `./rails.rb` copied from [here](https://gist.github.com/castwide/28b349566a223dfb439a337aea29713e)
- `bundle exec yard gems && bundle exec solargraph bundle`

I am expecting to have the `find_by` suggested on my models, but I do not h

[2021-03-17 11:36] JosephLing opened #422 "Feature request: support for "standard" linter"
Awesome project!

Would it be possible in the future to get support for https://github.com/testdouble/standard ? Or guidance in how to implement the feature please?

It is described as a wrapper around Rubocop and exposes nearly all the same CLI and has been used in the past to plugin into an editor: https://github.com/testdouble/SublimeLinter-contrib-standardrb. So hopefully a lot of the same cod

[2021-03-22 14:39] adonovan commented on #344
I just had the same experience: many dozens of duplicates, no vendoring, cleared by a restart.

[2021-03-24 17:52] anastasds opened #423 "Solargraph fails on directory whose name ends in .rb"
When scanning my workspace, Solargraph threw an exception when scanning a directory whose name ends in `.rb`:

[code]

[2021-03-26 18:05] iftheshoefritz commented on #87
@gaultierq can you tell us what version of Rails you're using? That gist has worked for me in the past, but it's not working in Rails 6.1.3 for me.

[2021-03-26 19:26] gaultierq commented on #87
I tried with rails 6.1.1
All other versions can be seen in the bottom right corner of my attached screenshot

[2021-03-26 23:31] taylorthurlow commented on #135
@castwide I'm seeing this one again in 0.40.4.

[code]

[2021-03-27 09:54] SolaWing opened #424 "bug: casting inferred type to hint module will generate error"
[code]

solargraph.yml
[code]

[2021-04-07 15:33] siegel opened #427 "Unable to install gem on macOS 10.15.7"
I'm developing a new LSP client, and I'd like to test Ruby support using Solargraph.

However, attempting to install Solargraph fails, with the following Terminal transcript:

[code]

I did consult the [Troubleshooting Solargraph](https://solargraph.org/guides/troubleshooting) instructions, but they appear to be inoperative — there's no longer a separate installer package for the headers in the co

[2021-04-07 15:47] siegel opened #428 "solargraph fails to initialize, a "warning" condition is returned as a fatal error"
I'm writing a new LSP client, and testing with solargraph.

In my test setup, the server fails during initialization, perhaps when trying to ingest my project workspace, which consists of a highly heterogeneous mixture of file types. It turns out that in the middle of all that, there's a directory whose name is "Ruby.rb". (It's a naming convention that my product uses to indicate that a directory'

[2021-04-09 22:43] blovett opened #429 "solargraph.org ssl certificate expired"
[code]

[2021-04-10 12:41] castwide commented on #429
Thanks for letting me know. The certificate is updated.

[2021-04-11 15:17] smackesey commented on #390
Just want to say that I think that either the docs should be adjusted, or `download-core` should explain itself when it downloads different docs. I'm just getting started and I was immediately confused by this (I'm using Ruby 3 and it downloaded 2.7.2), since the [Getting Started Page](https://solargraph.org/guides/getting-started) implies that `download-core` should fetch docs for current Ruby ve

[2021-04-13 19:38] #429 closed

[2021-04-14 11:41] olbrich commented on #404
I just noticed that `@raise` is also not supported, which would be very useful.

[2021-04-17 04:33] mcmire commented on #417
I'm having the same issue. I've got a project with a Gemfile with a gem specified there, and I'm trying to require that gem in a file, but the `require_not_found` reporter is kicking in. Is this a known issue, or is this not how Solargraph is intended to be used?

[2021-04-18 17:18] nfedyashev opened #431 "Question about @option YARD tag support"
I was wondering if solargraph/lsp supports autocompletion using `@option` YARD tags for hashes.
Just trying to understand if it is something with my local setup or is it just missing in current implementation of solargraph?

https://www.rubydoc.info/gems/yard/file/docs/Tags.md#option

[code]

`solargraph (0.40.4)`

I'm not familiar with the internals of solargraph/LSP but this feature is very usef

[2021-04-19 06:58] anryoshi opened #432 "CompletionItem::Resolve JSON response contains duplicated keys"
Using [vim-lsp](https://github.com/prabirshrestha/vim-lsp) I found that feature related to showing hover for autocompletion items I completely broken, because Vim cannot parse resulting JSON with error:
[code]

After some debugging I found that [method](https://github.com/castwide/solargraph/blob/master/lib/solargraph/language_server/message/completion_item/resolve.rb#L19) preparing result in Comp

[2021-04-20 09:48] magiruuvelvet opened #433 "[feature request] option to disable type inferring in strict mode"
It would be nice to get an optional setting to disable type inferring when using strict mode and tell Solargraph that types passed to YARD tags `@param` and `@return` are the only single source of truth. It's a little bit annoying and type inferring just gets in the way when using "runtime magic"; in that case YARD tags must be trusted anyway.

In all other cases I would like to keep all other fea

[2021-04-20 20:46] LeShaunJ commented on #431
I was wondering the same thing. Neither the `@option` nor `@raise` tag appear to be recognized by Solargraph's Intellisense:

| Component | Type | Version(s) | Options |
|:--|:--:|:--:|:--|
| **Solargraph** | Extension | `0.21.1` | `useBundler: false` |
| **Solargraph** | Ruby Gem | `0.40.4` | |
| **YARD** | Ruby Gem | `0.9.26` | |
| **Rubocop** | Ruby Gem | `1.12.0` | |
| **VScode** | Application

[2021-04-20 20:57] LeShaunJ commented on #431
To be clear, I'm aware that the `@raise` tag is displayed when you click on the `#<name>` link in the Intellisense pop-up. However, it would still be nice to see it in that pop-up. Furthermore, the `@option` tag is still missing from both views, despite the latter seeming to be a more detailed look at the doc.

[2021-04-29 12:28] ThomasF34 commented on #406
Same here ! I have the issue while using v0.40.4

[2021-05-06 10:44] tommasongr opened #436 "Accessing initializationOptions in Nova Editor"
Hi there. I'm working on improving the Solargraph support in Nova editor. Unfortunately I'm experiencing some issues with the initializationOptions.

This is the object I'm passing as test with the client options. As you can see I disabled the hover and completion features, but the settings are not registered correctly.
[code]

The logLevel is apperently working fine. In fact I have some logs that

[2021-05-06 19:44] jmburges opened #437 "Solargraph Does Not autocomplete libraries from require"
Hello!

Thank you for making solargraph. I'm trying to get solargraph to work with neovim. I've tried both `LanguageClient-neovim` and `coc.vim` and am having the same issue. with both. Solargraph doesn't seem to recognize when I `require` anything. I open a generic `test.rb` file and type the following

[code]

and then wait for `parse` to get autocompleted and nothing. I'm using nvim 0.4.4 and s

[2021-05-06 19:51] jmburges commented on #437
I also tried this with the rails gem and did

[code]

and hoped 'presence' would show up and it doesn't.

[2021-05-07 18:06] m-pereira opened #438 "Solargraph formatting doesn't work if VScode format on save mode is modifications"
Hello everyone, I'm not used to report an issue, but I'm gonna try it.

I'm using VScode to write some ruby, and I'm loving using solargraph as linter formatter. But recently I found a little bug I guess: when `Editor: Format On Save Mode` is settled to `modifications` solargraph formatter seems not work.

![image](https://user-images.githubusercontent.com/47258878/117489107-9573dc80-af43-11eb-869

[2021-05-07 21:03] jon-minepi commented on #309
Has this been resolved? I'm running solargraph in a docker container, where the docker container has Rails app directory mounted. That directory itself is a subdirectory of the workspace root. I've tried placing `.rubocop.yml` in the workspace root and the rails root directory, but neither get picked up.
[code]

As an aside, I'm fairly new to ruby, and am curious as to how solargraph interacts wit

[2021-05-10 03:36] jingyuexing opened #439 "could dependence as little as possible on third parties？"
I thought this project is a pure `ruby language project`,BUT!,BUT!,BUT!,this project dependence on `jaro_winkler`,that project has `C code`,C CODE!,then there are a bunch of errors.f\*\*k jaro_winkler! f\*\*k C code,
f\*\*k thrid party!

A bit emotional, sorry

[2021-05-18 00:16] tekert opened #440 "Autocompletion on nested calls problem"
`5.times.map`
When typing 5.times.  'map' is not there.

[2021-05-24 14:35] castwide commented on #440
This bug is specific to the `Integer#times` method. Its return value is not typed in the documentation, so I'll need to add it to the core fills (a set of annotations that fills gaps in the core Ruby docs). There's an additional issue with how integers are parsed that I just noticed while testing this one. I'll work on a fix for the next release.

[2021-05-24 14:44] castwide commented on #439
I try to limit dependencies on C extensions, but it takes a back seat to features and performance are concerned. Solargraph also uses Nokogiri, which also uses C extensions, but in my experience is the best HTML parser currently available for Ruby.

[2021-05-24 14:48] castwide commented on #437
You might need to run `yard gems` and/or `solargraph bundle` to make external gem documentation available.

More tips for troubleshooting gem support: https://solargraph.org/guides/troubleshooting
Some Rails-specific tips: https://solargraph.org/guides/rails

[2021-05-24 17:12] castwide commented on #424
Confirmed. The fix is in the master branch and will be included in the next release.

[2021-05-24 22:52] castwide commented on #436
This appears to be an oversight in how the server gets initialized. It registers all capabilities when it starts, and only turns them off in response to a `workspace/didChangeConfiguration` message. I'll fix it in an upcoming patch release.

[2021-05-29 14:53] castwide opened #441 "Faster Initialization and Progress Reporting"
Two updates to the language server have been pushed to the master branch:

* The server responds to the `initialize` method without needing to map the workspace first. This keeps clients from assuming the server timed out when mapping is a long-running process. After initialization, the workspace gets mapped in the background
* Clients that support `window/workDoneProgress` will receive progress r

[2021-05-29 14:55] castwide commented on #415
Two updates to the language server have been pushed to the master branch:

* The server responds to the `initialize` method without needing to map the workspace first. This keeps clients from assuming the server timed out when mapping is a long-running process. After initialization, the workspace gets mapped in the background
* Clients that support `window/workDoneProgress` will receive progress r

[2021-05-29 15:17] castwide commented on #438
Confirmed. I suspect this needs to be registered as a server capability, but Solargraph doesn't currently support it. I'll look into adding it.

[2021-05-29 16:14] castwide commented on #433
I'm still working on the precise rules for typechecking modes, and there are definitely problems with false positives in `strict` mode, but here are a couple ideas that might help:

* Depending on your exact needs, `typed` mode might be sufficient. It won't report mismatches between `@return` tags and the type inferred from the method body. Unfortunately, it also won't report undefined methods, e.

[2021-05-30 05:43] castwide commented on #422
There's a plugin for it: https://github.com/bekicot/solargraph-standardrb

[2021-05-30 18:36] castwide commented on #440
Fix published in v0.41.0.

[2021-05-30 18:37] castwide commented on #432
Thanks for the suggestion. The fix has been included in v0.41.0.

[2021-05-30 18:38] castwide commented on #423
Fixed in v0.41.0.

[2021-05-30 18:44] castwide commented on #415
Updates published in v0.41.0.

[2021-05-30 19:35] castwide commented on #428
This issue appears to be identical to #423. It should be fixed in gem v0.41.0.

[2021-05-31 07:44] tdegrunt opened #443 "Solargraph failing after upgrade to 0.41.0"
Whenever I move around in the code it says the following:

[code]

We have a bundled gem called 'uikit', but the current open file does not have that text.

I ran `solargraph clean`, `solargraph bundle` too.

This is what I see in VSCode developer console:
[code]

I'm afraid that this isn't telling anyone anything though.

I've tried checking out a new version of the code, so that possible lingeri

[2021-05-31 08:22] tekert commented on #440
Thanks! enumerator completion working great now.

[2021-05-31 08:32] tekert commented on #440
I think i found another not typed in doc
Array#find
[1].find. <- 0 results in completion.

[2021-05-31 08:41] zrzka opened #442 "How to specify YARD markup (Markdown)"
We have a documented code base with YARD and Markdown markup. Is there a way how to specify YARD markup? If not, will you accept a PR for it?

See the following screenshot (hover docs). Escaped characters, confused with ` ```ruby `, etc.

<details>
<summary>YARD docs screenshot = how YARD renders it (with --markup markdown), no issues</summary>

![image](https://user-images.githubusercontent.com/1

[2021-05-31 12:08] castwide commented on #440
Confirmed. There's a similar issue at play here, but looking into it exposed another consideration: the return value is different depending on whether the method receives a block argument. (The same is true of `times`; if it receives a block, it returns `Integer`.) I'll fix it in a patch release.

[2021-05-31 12:35] castwide commented on #443
This issue affects workspaces that automatically require bundled gems, e.g., via `require 'bundler/require` or `Bundler.require`. Rails apps do this, so there's plenty of impact. I'm working on an improvement to how those cases get handled. In the meantime, gem v0.41.1 reverts to the same process that worked in 0.40.x.

[2021-05-31 12:44] tdegrunt commented on #443
Sounds good, too bad you had to revert stuff. :( - Thanks!

[2021-05-31 13:39] castwide commented on #442
Can you clarify what results you expect? I'm not sure what happened in that Sublime screenshot, but the Code screenshot looks correct to me.

I put together a simple reproduction. The code in the editor:

![markdown-render-1](https://user-images.githubusercontent.com/3704922/120201783-d03ffc00-c1f3-11eb-9483-a54ad5202414.png)

The rendered documentation in a hover:

![markdown-render-2](https://us

[2021-05-31 13:46] zrzka commented on #442
What I do expect? Correctly rendered MD in the same way as YARD is rendering it (like the first screenshot - YARD docs screenshot). No escaped `<`, no ` ```ruby ` in the middle of code, etc.

Hmm, so, it should work. I'll try to find what triggers this behavior and will provide minimal reproducible example.

[2021-05-31 14:03] castwide commented on #442
Ah, so your Code screenshot is the hover? At first I assumed it was the editor window. My mistake. No idea why it's not rendering. If you can provide a reproducible example, I'll look into it.

[2021-05-31 14:11] zrzka commented on #442
Yep, _Sublime Text & LSP & solargraph_ is hover screenshot. Will work on MRE tmw.

[2021-05-31 14:27] zrzka commented on #442
(note to self, we're using _--markup markdown_ YARD arg to be able to generate docs properly)

[2021-05-31 15:42] castwide commented on #442
Just to be clear, your Code screenshot is what I'd expect from the editor window. Clients are responsible for rendering files in text editors. It's not a function of Solargraph or of language servers in general.

The Sublime hover screenshot is a different story. I'd expect the Markdown in the documentation to be formatted. I'm not sure if the issue is with Solargraph or Sublime/LSP, but I'll do w

[2021-05-31 16:46] zrzka commented on #442
Sry for the confusion, I should have been more clear.

All screenshots represents the same thing. The Code one, which is perfect, no issues, is the source code used for other two screenshots - one is generated HTML via Yard (no issues) & the other one is ST hover (issues). The problematic one here is the ST hover only.

Again, my apologize if I wrote it in a confusing way.

[2021-06-01 21:41] castwide commented on #424
Released in v0.41.0.

[2021-06-02 14:38] #439 closed

[2021-06-03 01:06] gniw opened #444 "[Question] How to specify rubocop version?"
I want to use old version (0.81.0) of rubocop to support ruby 2.3.
It's too old, but I absolutely have to use... 😭

According to [Rubocop Version](https://github.com/castwide/solargraph#rubocop-version) section, configure `.solargraph.yml`.

[code]

Yes, solargraph is work, but rubocop said

[code]

It doesn't seem to recognize rubocop version correctly.
Was my procedure wrong?

Please let me know

[2021-06-03 16:37] typoon commented on #87
I am having the same issue as @gaultierq . Using Rails 6.1.3.2 with solargraph 0.41.1
When I write `MyModel.f` I do not get a suggestion to the `find_by` method.
Also, I am using the `ruby.rb` file from the gist mentioned in the comments above, and if I do

[code]

I don't get any suggestions (even though I'd expect at least the custom methods I have created in `MyModel` to show up. (I do have sol

[2021-06-03 17:58] typoon commented on #87
Well, I guess I got this working now. Not sure why this happens though. The way I was generating all the data needed by solargraph was like this:

[code]

Turns out that `solargraph bundle` for some reason messes things up. If I run all 4 commands above and then save the output of `solargraph scan -v` to a file, this is what I get when I search for `ActiveRecord::Base`

[code]

If I remove the `so

[2021-06-05 22:18] iftheshoefritz commented on #87
Sneak peak of associations coming to solargraph-rails: https://github.com/iftheshoefritz/solargraph-rails#associations-experimental. This will probably not work with your production code yet, but that's why it's hidden behind --pre.

[2021-06-07 13:12] #422 closed

[2021-06-08 06:17] gniw commented on #444
Sorry, I update solargraph version, It solved.

I close this issue. thank you!

[2021-06-08 06:17] #444 closed

[2021-06-09 01:54] stanak commented on #87
I've been trying to make solargraph rails-compatible, and no matter what I try, I can't get it to work. find method doesn't grow.
I referred to @typoon's post, but it still didn't work.
In a last hope, I lowered the version of solargraph from 0.41.1 to 0.40.0. Oh my god, it worked.
Is there something wrong with the latest version?

The actual command I entered
[code]

ruby version is 2.7.2
yard ve

[2021-06-09 13:06] castwide commented on #87
@stanak I don't know what the root cause of your specific issue is, but 0.41.2 fixes a bug that might have been causing lags or freezes in language server responses. If the problem persists, please let me know.

[2021-06-10 18:21] gencer commented on #415
I'm not sure If my issue is due to this change or something else but I lost almost entire bundled gem autocompletion.

For example, Let say I have a Rails app that contains many gems. Name it. Like; `octokit`,  `sanitize`, `semantic_logger` or `puma` and `unicorn`...

None of them showes up on autocomplete list:

[code]

Except few `Rails` autocompletion, I almost lost every single gem from my wor

[2021-06-11 01:03] castwide commented on #415
@gencer Confirmed. The maps aren't picking up your .solargraph.yml configuration. If you add the line `require 'octokit'` to one of your Ruby files, it should start working.

I'll fix the problem in the next release.

[2021-06-11 05:35] gencer commented on #415
@castwide Thank you for your fast reply. Yes, requiring any gem in `rb` file directly (like you said) works on my end too.

Awaiting for the next release. ❤

[2021-06-11 08:40] castwide commented on #436
Fixed in 0.42.0.

[2021-06-11 08:41] castwide commented on #416
Gem 0.42.0 includes a mechanism for repairing edits in progress when it receives a full sync.

[2021-06-11 08:43] castwide commented on #390
In 0.42.0, `solargraph download-core` provides a notice when it uses the nearest matching core documentation instead of the current version.

[2021-06-11 09:01] castwide commented on #415
Fixed in 0.42.0.

[2021-06-11 10:27] ianmurrays opened #445 "No such file or directory @ dir_chdir after upgrading to 0.42.0"
Hi, after upgrading to 0.42.0, I'm now getting this error when running `solargraph scan -v`:

[code]

Using ruby 2.5.8.

[2021-06-11 10:30] IvanBernatovic commented on #445
Same issue in Rails app on Ruby 2.6.5. Using VS code Solargraph extension.

[2021-06-11 11:01] castwide commented on #445
Patched in version 0.42.1.

[2021-06-11 13:27] iftheshoefritz opened #446 "Server cannot handle client response to client/registerCapability"
When my editor starts solargraph and the first Ruby file opens, the LSP client sends:

[code]

Then the server responds with:

[code]

then the client sends:

[code]

and Solargraph crashes with:

[code]

This happens on solargraph `0.41.1`, `0.41.2`, `0.42.0`. Admittedly I'm running an experimental version of `solargraph-rails`. I don't see how anything I'm doing would affect things so early in t

[2021-06-11 14:09] castwide commented on #446
That should be resolved as of 0.42.0 (now 0.42.1 due to an unrelated patch). The code you quoted has been changed to this:

[code]

[2021-06-11 14:56] iftheshoefritz commented on #446
I upgraded to 0.42.2 and now I have:

[code]

[2021-06-11 16:20] iftheshoefritz opened #447 "ActiveRecord::Assocations::CollectionProxy<MyType> as return type"
I'm implementing associations in solargraph-rails. When I make the the association reader return Array<String>, everything behaves nicely:

[code]

i.e. I get responses from Solargraph about Array methods like `my_types.first` and it knows that the return value of `.first` is a `MyType`.

But this doesn't:

[code]

I get none of the methods described by [CollectionProxy](https://api.rubyonrails.or

[2021-06-11 21:14] castwide commented on #446
Do you know what the client's response to `window/workDoneProgress/create` is? The server expects it to be `void` (`nil`) if the request succeeded.

[2021-06-11 21:26] castwide commented on #447
This appears to be an issue with how Solargraph adds implicit gems to the map. In projects that automatically import bundled gems (e.g., a typical Rails app), it shouldn't be necessary to `require` them explicitly, but I couldn't access the `ActiveRecord` namespace until I did so:

![image](https://user-images.githubusercontent.com/3704922/121750274-13467d00-cada-11eb-85ef-2dcd722963d9.png)

I'll

[2021-06-11 21:37] castwide commented on #421
Do you have `bundler` installed? If so, does your workspace have a Gemfile?

[2021-06-14 06:21] castwide commented on #447
Version 0.42.2 fixes automatic gem imports.

[2021-06-14 06:23] castwide commented on #446
Version 0.42.2 fixes two possibly related issues:
* Server request IDs start with 1 instead of 0 in case the client treats 0 as a falsy value.
* The transport adapter gracefully handles responses to unrecognized requests.

[2021-06-14 07:40] #445 closed

[2021-06-14 07:58] castwide commented on #440
The core fills for `Integer#times` and `Array#find/detect` are fixed in gem 0.42.2. `Hash#find/detect` is a little more complicated, but it's on the roadmap.

[2021-06-14 08:00] iftheshoefritz commented on #446
Thanks for the update!

For reference, here are the `workDoneProgress/create` logs:

[code]

[2021-06-14 08:07] castwide commented on #446
The request and response look good. I'm guessing the root cause of your problem was the response handling in the transport adapter. Thanks for following up. Let me know if the problem persists.

[2021-06-14 08:29] iftheshoefritz commented on #447
Thanks for the quick update. Here's where I am now:

<img width="685" alt="image" src="https://user-images.githubusercontent.com/1541595/121861294-9f7ebd00-ccf1-11eb-8526-2787154cb59a.png">

solargraph-rails tells the server that there is a method on `Author` instances named `books` with return type `@return [ActiveRecord::Associations::CollectionProxy<Book>]`. The method is found by autocomplete,

[2021-06-14 08:34] iftheshoefritz commented on #446
Thanks, the server seems much more robust after the upgrade 👍

[2021-06-14 08:41] ianmurrays opened #448 "Uninitialized constant Solargraph::Library::Pathname"
Hi!

I'm getting an error (using vscode-solargraph and solargraph 0.42.2, on ruby 2.5), where the extension stalls while "Mapping Workspace" and with this error:

[code]

This line right here, it seems https://github.com/castwide/solargraph/blob/v0.42.2/lib/solargraph/library.rb#L473

Any idea if I'm doing something wrong myself?

Thanks!

[2021-06-14 09:10] ianmurrays commented on #448
It would seem this is an issue with ruby 2.5, where one needs to `require 'pathname'`, whereas ruby 2.7 and above include it by default.

[2021-06-14 09:16] castwide commented on #448
The `require` is safe in Ruby 2.7+, so I patched it in gem 0.42.3.

[2021-06-14 09:33] ianmurrays commented on #448
Works now, thanks for the quick fix!

[2021-06-14 09:33] #448 closed

[2021-06-15 01:23] atruskie opened #449 "solargraph bundle does not document gems that are not in the default group"
Solargraph appears to only consider gems in the `:default` bundler group:

https://github.com/castwide/solargraph/blob/18854d7577737cf9929063d96dd99b3d0a77f703/lib/solargraph/documentor.rb#L60-L67

For my use case, I've got multiple bundler groups that I load based on what task/microapp I'm starting. Because of these groups, the docs for the gems aren't downloaded.

Similarly, this leads to `unres

[2021-06-15 10:26] JosephLing commented on #309
I think the issue is in how file names are handled as absolute path of the system. And rubocop isn't able to find the config file by default from that path. Combined with how @duc00 described it that hard coding the config in doesn't work either.
[code]

[code]

I am not sure what a good fix would be for this situation. And I could have missed something in the code as well so sorry if that's the c

[2021-06-15 20:48] #415 closed

[2021-06-15 20:52] castwide commented on #410
This should be fixed in the current release (0.42.3). If it's still an issue, please feel free to reopen.

[2021-06-15 20:52] #410 closed

[2021-06-15 20:59] castwide commented on #270
The current release maps YAML to Psych for documentation.

[2021-06-15 20:59] #270 closed

[2021-06-16 06:24] gencer commented on #410
Hey @castwide, If I do this:

[code]

Then restart Solargraph, I still have this problem. However, After cleaning cache via:

[code]

And restart, Everything works as expected. So, I believe we should avoid `bundle`?

[2021-06-18 15:22] iftheshoefritz commented on #447
I didn't realise, but it seems like there's some miscommunication here. It wasn't just that I was trying to find the constant, it's that solargraph seems to know nothing about the methods on CollectionProxy:

<img width="729" alt="image" src="https://user-images.githubusercontent.com/1541595/122583397-15b45400-d051-11eb-9f77-e562a2be4f70.png">

(everything here is inherited from Object)

I get the

[2021-06-19 13:08] gencer commented on #212
Hey @castwide! One more thing:

This issue and #119 came back again. `SevcureRandom` and `FileUtils` (and perhaps other core modules too) has missing xsome members like `uuid` or `rm_rf` respectively.

I am using ruby 3.0.1 and downloaded core files for 2.7.2. Could this be the problem?

[2021-06-19 13:56] castwide commented on #212
Both `SecureRandom.uuid` and `FileUtils.rm_rf` show up for me using Ruby 3.0.1. I plan to get 3.0.x documentation available soon, but using 2.7.2 in the meantime shouldn't be a problem.

[2021-06-19 14:37] gencer commented on #212
Hm.. Not for me here. See:

![Animation](https://user-images.githubusercontent.com/1711576/122645826-0272b880-d125-11eb-97a1-5f265331dbfb.gif)

I do not run `solargraph bundle`. I just do `yard gems` which gives me more autocomplete then running `bundle`. But, I also tried via that usage. Same behavior.

[2021-06-19 14:45] castwide commented on #212
Try running `solargraph clear && solargraph download-core`. The problem might be a stale or corrupted cache.

`FileUtils` and `SecureRandom` are in the stdlib, so `solargraph bundle` shouldn't be necessary here.

[2021-06-19 14:54] gencer commented on #212
Interestingly still have that problem. But, Now it goes further.

I closed my original project and crated a new folder (called `aaa/`) and put one file in it `a.rb`.

See action:

![image](https://user-images.githubusercontent.com/1711576/122646309-351db080-d127-11eb-81c4-de5e17bcf17d.png)

Not even SecureRandom namespace gets listed :/. Something is seriously broken.

I couldn't find anything yet

[2021-06-19 15:02] castwide commented on #212
Dang. I haven't been able to replicate this problem, even using Remote SSH (Windows 10 connected to CentOS 7.6).

[2021-06-19 15:03] gencer commented on #212
Let me try one by one changing settings and disabling extensions. I am using `rbenv` to manage ruby versions and do not use solargraph in Gemfile but globally.

However, On Windows 10, Locally, I am able to see `uuid` and other things. It works on Windows but not on remote. Something interfere remotely. Let me check further. But If you have any idea, please let me know while I am working on it.

[2021-06-19 15:09] castwide commented on #212
One thing you can try is running "Solargraph: Get environment info" from the VS Code command palette to make sure you're running the version of Ruby you expect. The extension should work with `rbenv` but problems are possible.

[2021-06-19 15:10] gencer commented on #212
[code]

[2021-06-19 15:16] castwide commented on #212
I agree. Please let me know if you figure it out.

[2021-06-19 17:07] gencer commented on #212
@castwide. I've tried RVM and system ruby. All worked as expected. Then I dig more and found that root cause of this issue is running: `yard gems`

After this, yard builds a gem index and creates 2 folders `cache` and `doc` in Ruby's gem folder. When this happens I lost many autocomplete including `SecureRandom.uuid`.

When I delete those yard document cache folders and restart Solargraph, everyth

[2021-06-19 18:24] castwide commented on #212
Cool, thanks for letting me know. This sounds like a problem with the gemified stdlib. I'll look into it.

[2021-06-20 11:14] #446 closed

[2021-06-21 03:00] vitaly opened #450 "generate_require_paths doesn't prepend `self.directory` to `config.required_paths` when `gemspec?` is true"
as a result you need to put absolute paths in `soalrgraph.yml` `require_paths`.

[2021-06-21 10:37] #443 closed

[2021-06-30 14:07] samtgarson opened #452 "Unable to remove Rubocop from reporters"
Hello there, thanks for your work on OSS 🙌

I'm trying to remove the `Rubocop` reporter from my Solargraph config, as I have [other methods](https://github.com/mattn/efm-langserver) of getting Rubocop diagnostics in my IDE, and at the moment I'm getting duplicated diagnostics.

(I'd still like to receive diagnostics from the other reporters and other solargraph functionality.)

With the following

[2021-06-30 14:15] samtgarson commented on #452
Upon restarting, even though the result of `solargraph reporters` still includes `rubocop`, my IDE seems to no longer be reporting duplicate diagnostics.

Looking through the code, I now realise the CLI tool is displaying the list of _available_ reporters, not the enabled ones.

Edit: the docs also say this 🤦

[2021-06-30 14:15] #452 closed

[2021-07-05 12:22] SolaWing opened #453 "typecheck report error for duck type"
![图片](https://user-images.githubusercontent.com/3897953/124470795-a8355100-ddce-11eb-9e67-b101ab80635b.png)

[2021-07-05 14:45] j-monteiro commented on #135
Same on 0.42.3

[2021-07-08 13:39] strayer opened #455 "Formatting with nvim-lspconfig doesn't work anymore"
Since today (might have been broken earlier, not completely sure) I can't format code in nvim with nvim-lspconfig anymore. The `vim.lsp.buf.formatting()` function simply seems to do nothing. Formatting with other LSPs works. I can't find anything in the lsp.log, even with debug logging in solargraph activated.

I could find a workaround though… it seems like solargraph doesn't tell nvim (or nvim d

[2021-07-08 20:26] CKolkey commented on #455
This has been bothering me all day. I can corroborate that solargraph isn't reporting the capability to handle document formatting.

[2021-07-08 21:02] castwide commented on #455
I'm not 100% sure what the root cause is, but I have a suspicion. It sounds related to an initialization problem that was addressed in #436. With some clients, Solargraph would ignore the config options from the `initialize` message and only update them in response to a `workspace/didChangeConfiguration` message. That's been fixed, but it has the side effect of disabling formatting by default, whi

[2021-07-08 21:14] strayer commented on #455
This seems to be it! Passing `init_options = {formatting = true}` to the setup function of the lspconfig server makes formatting work again.

Should be something like this in a "normal" config:

[code]

[2021-07-09 02:26] castwide commented on #455
Sounds like it. From what I can tell, `init_options` should be equivalent to `settings.solargraph`. That's essentially how it works in VS Code; the same options that are sent in the `initializationOptions` param of the `initialize` message are sent in the `settings.solargraph` param of the `workspace/didChangeConfiguration` message. There might be a better way to handle it, though.

[2021-07-09 14:45] kleaver opened #456 "solargraph.org TLS cert expired"
I'm trying to visit https://solargraph.org and it's showing the certificate expired on 7/9/2021

![Screen Shot 2021-07-09 at 09 44 47](https://user-images.githubusercontent.com/9170527/125095953-4d377e80-e09a-11eb-81cc-5d99eda7a17b.png)

[2021-07-09 18:25] castwide commented on #456
Thanks. Fixed.

[2021-07-09 18:25] #456 closed

[2021-07-12 02:01] castwide commented on #416
If this problem still persists, please feel free to comment or open a new issue.

[2021-07-12 02:01] #416 closed

[2021-07-12 02:04] castwide commented on #421
Closing for inactivity. The typical cause for this issue is not having Bundler installed, or not having the version expected by the current runtime environment. If the problem persists regardless, please feel free to open a new issue.

[2021-07-12 02:04] #421 closed

[2021-07-12 02:04] #423 closed

[2021-07-12 02:05] #428 closed

[2021-07-12 02:05] #436 closed

[2021-07-12 02:06] #437 closed

[2021-07-12 02:08] #424 closed

[2021-07-13 15:08] strayer commented on #455
I can confirm that formatting works without any workarounds after updating nvim-lspconfig. Thanks @CKolkey for fixing this!

[2021-07-13 15:08] #455 closed

[2021-07-15 14:12] thegeorgeous opened #460 "Server startup fails with emacs-lsp"
When using solargraph as the lsp server for emacs lsp, `solargraph stdio` fails with the error below:
[code]

[2021-07-15 15:24] olistik commented on #369
@castwide as @ddoherty03 pointed out, should we expect to see 3.0.x as a result of `solargraph available-cores`?
I don't want to pressure you on this, just asking if 3.0.x support requires some configurations or if it's still in the works (I'm new to this project).

[code]

Also, the link https://solargraph.org/download returns a 404 and I'm not sure if there's such a link in the web site and if t

[2021-07-15 16:36] castwide commented on #369
Starting with 3.0, the documentation in the Ruby source has become less complete, so generating yardocs from it is no longer reliable. The plan going forward is to generate core documentation from RBS instead. (One happy side effect of this change: downloading cores should no longer be necessary.)

In the meantime, the most recent core documentation available, 2.7.2, should work with 3.0.x. I'll p

[2021-07-15 16:40] castwide commented on #460
Does it happen on a specific workspace? Based on the stacktrace, it looks like Ripper is failing to parse a heredoc string in one of your Ruby files. (Solargraph uses Ripper to extract comments.)

[2021-07-15 16:47] olistik commented on #369
@castwide

That's interesting, I didn't know that. 🎩

Do you feel like the current documentation (both in the command line and in the website) could benefit from an update? I suppose other people like me could end up being a little confused. 🙂

[2021-07-15 18:48] thegeorgeous commented on #460
@castwide

`solargraph scan -v` completed without any issues
[code]

Is there some other way I can find this rogue heredoc string?

[2021-07-15 22:09] thegeorgeous commented on #460
@castwide

The issue was because of a squiggly heredoc string used to write a SQL query. I was able to run `Ripper.sexp` on the string but it seems to be failing in the server.

You can close this ticket if it is not a solargraph-related issue.

[2021-07-16 16:55] castwide commented on #369
It couldn't hurt. There's already a notification if you run `solargraph download-core` without an argument. It tells you there's no documentation available for the current version and what version it's going to use instead. I'll add a similar message if a specified version isn't available.

[2021-07-16 18:45] castwide commented on #453
Confirmed. This will be fixed in the next release.

[2021-07-20 08:56] castwide commented on #460
If you can give me an example of a heredoc string that causes the error, I can try to make it fail more gracefully or look for some other workaround.

[2021-07-20 09:15] thegeorgeous commented on #460
@castwide, I'm afraid I can't share the SQL query as it is part of proprietary code. I can tell that it does string interpolation in two places. I tried removing the interpolation in case that was the issue, but that didn't help.

The only way to make it work was to change it from `<<~SQL` to `<<-SQL`

[2021-07-20 09:20] castwide commented on #460
Understood, thanks. I'll keep this issue open for at least a little longer while I try to reproduce the error.

[2021-07-21 11:46] samk1 opened #461 "solargraph sometimes doesn't map workspace on start"
Hi

I'm struggling with an issue where solargraph does not map all sources in a workspace upon starting.

I think I've narrowed it down to the async_library_map function of host.rb.

If I set client_supports_progress? to false, I can no longer reproduce the problem, so that might have something to do with it.

I also can't seem to reproduce it when running solargraph from the terminal as an extern

[2021-07-22 08:18] AlBundy33 opened #462 "Support for JRuby and Java types?"
I have seen that it is possible to define types of variables with `# @type [Array]` which is really cool.

Is solargraph also able to work with JRuby and java-types?

For example in JRuby all(?) objects have a method to_java
And a really cool feature would be something like this

[code]
or
[code]

[2021-07-22 20:50] ws1088 opened #463 "[NoMethodError] undefined method on intellisense"
[code]
Hi got this error when doing simple ruby coding like when I press `.` after `t1`
[code]
I am using the latest gems. What could be the issue? Thanks in advance!

[2021-07-23 06:49] castwide commented on #462
Unfortunately, there are no plans to support JRuby/Java-specific types at this time. The core maps are based on the MRI source.

[2021-07-23 07:06] castwide commented on #463
Is there a backtrace in the developer tools console (Help -> Toggle Developer Tools)?

[2021-07-23 12:40] AlBundy33 commented on #462
OK - then I'll try to generate ruby-classes from our java-classes.

[2021-07-23 12:49] AlBundy33 commented on #462
btw: is it possible to define the type of array elements
I know that I can define something like this
[code]
Is it possible to define the type of the elements (e) in the first definition?

Current workaround
[code]

[2021-07-23 13:45] castwide commented on #462
Yes. YARD types can be paramterized, and the core maps understand Array parameters:

[code]

[2021-07-23 14:58] AlBundy33 commented on #462
perfect - then I'll try to generate dummy-ruby-files to get codecompletion!

Thanks for your help.

[2021-07-23 14:58] #462 closed

[2021-07-23 15:04] castwide commented on #450
Released in v0.42.4.

[2021-07-23 15:04] #450 closed

[2021-07-23 22:13] ws1088 commented on #463
Here you go. Thanks!

[code]

[2021-07-24 17:49] castwide opened #464 "RBS Support"
Integration of RBS into Solargraph is officially on the roadmap.

## Features

* Map the Ruby core and stdlib with RBS
* Map gems with RBS when sigs are available
* Fall back to YARD for gems that do not provide sigs

## Pros

* **Ostensibly faster.** In my early experiments, mapping from RBS instead of YARD appears to provide a slight performance boost.
* **Better support.** Updates to core and s

[2021-07-24 18:11] castwide commented on #418
This appears to be a problem specifically with core documentation for Ruby 2.7+. The definition was previously `Kernel#raise(*)`, but now the definition is `Kernel#raise(*, _)`. The latter is incorrect.

As a temporary stopgap, I'll probably add a redefinition of `Kernel#raise` to the core fills.

[2021-07-25 17:19] typoon opened #465 "Response to `textDocument/signatureHelp` is always blank"
Hello!

I have the following ruby code:

[code]

When I type `xpto(` the LSP client in neovim sends a `textDocument/signatureHelp` query to solargraph that returns blank. Here is what the log is showing:

[code]

The complete log can be seen below:

<details>

[code]

</details>

Any ideas why this happens or how to fix it?

Thanks!

[2021-07-25 17:20] castwide commented on #396
The above two issues with kwrestargs are fixed in v0.43.0.

[2021-07-25 17:20] castwide commented on #418
Fixed in v0.43.0.

[2021-07-25 17:24] typoon commented on #465
I forgot to mention. I am running:

[code]

Same issue happens with Ruby 2.7.3

[2021-07-25 17:46] castwide commented on #465
I suspect it's happening because the parsed source is in an error state due to an unclosed parenthesis.

One way to test : type `xpto)`, then go back and add the `(`.

You might be able to work around it if there's a mechanism to close parentheses automatically, which is the reason it works in VS Code.

[2021-07-25 18:01] castwide commented on #440
`Hash#find/detect` work as of v0.43.0.

[2021-07-25 18:02] #432 closed

[2021-07-25 18:04] typoon commented on #465
Ohhh, you are right. If I do that it works. But I feel like it should work
by just typing the opening `(` as well, no? This works in pyright for
example.

On Sun, Jul 25, 2021, 1:47 PM Fred Snyder ***@***.***> wrote:

[2021-07-25 18:19] castwide commented on #420
It looks like the return type inference is incorrect because it handles the `&` nil safety operator incorrectly. A simple reproduction:

[code]

There's another related problem where a parameterized hash (e.g., `[Hash{String => String}]`) does not properly handled the possibility of a nil result from `Hash#[]`. The return type from `headers['Authorization']` should be `[String, nil]`, but it's inf

[2021-07-25 18:29] castwide commented on #465
Yeah, I agree it should be able to handle an opening `(`. There's a similar mechanism already in place for a trailing `.`; the parser ignores the fact that it's a syntax error and understands that you're starting a method call. It should be able to do the same for starting an argument list. I'll fix it in an upcoming patch release.

[2021-07-25 18:32] typoon commented on #465
Cool! Thanks for that, really appreciate the work on solargraph! :)

On Sun, Jul 25, 2021, 2:29 PM Fred Snyder ***@***.***> wrote:

[2021-07-26 03:32] typoon commented on #249
Are there any plans into merging the `document-highlight` branch into master? This feature would be pretty great to use with nvim, since treesitter still has a hard time dealing with ruby.

[2021-07-26 21:40] will opened #466 "Question: Change formatter with plugin?"
Hi, I'm looking through https://solargraph.org/guides/plugins and I see I can modify the reporters, which is cool. I'm looking to also change the formatter, but don’t see it explicitly called out as an option. Is it possible? I mean I imagine I could monkey patch anything to work, but more like asking if it's supported.

[2021-07-27 02:17] will commented on #466
I've gone the monkey patching route for now, posting the solution here just in case it's useful to find what spots would be good for hooks:

[code]

Then I have nvim start this as the lsp instead of the one provided by the gem.

[2021-07-27 06:46] AlBundy33 opened #467 "Is it possible to speedup workspace scanning?"
As mentioned in #462 I've created a simple generator the generates rb-files from our java-classes via reflection.
This seems to work but scanning the workspace takes some time.
`Scanned Z:/eclipse_projects/RubySandbox (117591 pins) in 245.5860803000396 seconds.`

In this case RubySandbox contains only my generated files (~1000) but I want to put the files in our main folder where we have much more

[2021-07-27 14:02] castwide commented on #467
I don't know if there's much that can be done to improve the speed of a scan. It's an intensive process that involves performing type inference on every pin in the map, including the Ruby core and pins imported from other libraries.

The good news is that `scan` is a troubleshooting tool that you shouldn't need to run on a regular basis. I only use it when I'm trying to track down the root cause o

[2021-07-27 14:10] AlBundy33 commented on #467
I did this only because the initial scan in eclipse and vscode was very slow and I was not sure how long I have to wait.

Therefore I've used solargrpah scan -v to have something like a progress :-)

After that I could use code-completion in eclipse and vscode.

My complete workspace looks like this...

[code]
(including 1145 rb-files of the generated api)

[2021-07-27 14:22] castwide commented on #467
A workspace of that size should probably get mapped in a couple of seconds. If it's still taking a long time, it might be due to a large number of gem dependencies. I don't know if there's much you can do about that.

Incidentally, if you haven't updated to Solargraph 0.43.0, it includes a few changes that might noticeably improve the performance of the language server.

[2021-07-27 14:28] castwide commented on #466
Setting formatters from plugins is on the roadmap. Thanks for the example implementation. This feature is long overdue, so I'll try to get it into the next minor release.

[2021-07-27 14:39] AlBundy33 commented on #467
I've already updated to 0.43.0 - but I think this was yesterday after I already worked with solargraph scan.

If you say it should be faster than I'll let my colleagues test the generated api and see what they say about the performance.

At least with the manual scan it works very well in eclipse and vscode.

[2021-07-27 14:39] #467 closed

[2021-08-02 21:47] helloguille commented on #309
I can confirm that this is an issue. Running using docker-compose.

I'm available to help debugging this issue.

[2021-08-04 10:46] myshkin-uk opened #469 "Is there a forum - or failing that - how do I change eclipse editor behaviours?"
Complete newb question - for which I apologise.

Is there a forum for 'dumb questions support' - I googled but failed to find any pointer to one.
Github doesn't sound like the right place for that.

Failing that - here's the actual dumb question:
--------------------------------------------------------------------------------------------------
I have installed solargraph with my eclipse IDE SOLELY

[2021-08-04 13:54] jonathan-raines opened #470 "Neovim LSP STDERR"
Hello,

I am having a couple of issues with Solargraph using Neovim 0.5. I lose diagnostics and linting when I utilize a `.rubocop.yml` file that tries to include `rubocop-rails` or `rubocop-rspec`.

[lsp.log including require rubocop-rspec](https://github.com/castwide/solargraph/files/6931706/lsp.log)
[lsp.log excluding require rubocop-rspec](https://github.com/castwide/solargraph/files/6931730/l

[2021-08-04 18:06] #470 closed

[2021-08-06 19:02] castwide commented on #469
Asking questions in GitHub issues is fine. There's no official discussion forum at the moment.

Solargraph itself doesn't provide syntax highlighting. It looks like the [eclipse-solargraph plugin](https://github.com/PyvesB/eclipse-solargraph) adds highlighting on top of Solargraph features, so you might want to ask there.

[2021-08-09 09:48] myshkin-uk commented on #469
Thank you - will do.

[2021-08-09 12:47] sandstrom commented on #427
Is this an issue with the code itself, or a general question? For general questions [Stackoverflow](https://stackoverflow.com/) or [Github Discussions](https://docs.github.com/en/discussions) (if one is setup for this repo) is better than Github.

If it isn't a confirmed issue, maybe this could be closed?

[2021-08-09 13:29] sandstrom opened #471 "Interaction with other extensions, shell/terminal setup"
I'm trying to get the solargraph VS Code extension to work with direnv, which I'm using to load gems dynamically (I'm using a dedicated direnv VS Code extension that works at least with the VS Code terminal, https://marketplace.visualstudio.com/items?itemName=cab404.vscode-direnv).

VS Code terminal loads direnv properly:

![image](https://user-images.githubusercontent.com/122287/128710861-c88e83b

[2021-08-09 15:17] cab404 commented on #471
I think it belongs to VSCode extension bug tracker: https://github.com/castwide/vscode-solargraph/

[2021-08-09 17:25] sandstrom commented on #471
@cab404 Finally got it working.

Reason for all my problems was that I had direnv script setup in `~/.zshrc` (runs only for non-interactive shells) instead of `~/.zprofile` (called by interactive and non-interactive shells; VS Code starts a non-interactive shell).

I agree this is the wrong repo, but would it be helpful with some general documentation on this (same for rbenv and others) in the htt

[2021-08-09 17:25] #471 closed

[2021-08-11 21:37] #469 closed

[2021-08-14 09:08] iftheshoefritz opened #473 "RDocToYard overwrites previously defined YARD objects, even if they aren't defined in RDoc"
EDIT: this issue is quite far from where it started, look [here](https://github.com/castwide/solargraph/issues/473#issuecomment-921930024) for the latest.

====

[`api_map.get_complex_type_methods` returns empty for `ActiveRecord::Associations::CollectionProxy<MyModel>`:

[code]

I expect at least the methods described here: https://api.rubyonrails.org/classes/ActiveRecord/Associations/CollectionP

[2021-08-14 20:55] iftheshoefritz commented on #447
Closing this in favour of #473

[2021-08-15 07:19] #447 closed

[2021-08-16 06:10] AlBundy33 opened #474 "`process_comment_directives': invalid byte sequence in UTF-8"
An information about the file with the problem would be nice. :-)

[code]

[2021-08-16 15:13] AlBundy33 opened #475 "Is it possible to define the type of a variable without assignment?"
Something like this
[code]

my current workaround is this
[code]

It works as expected but I the first one looks much nicer in my oppinion.

[2021-08-20 11:16] JuPlutonic commented on #470
#402 had rubocop-performance and rubocop-rails in his cwd's .rubocop.yml file

[2021-08-20 12:28] JuPlutonic commented on #452
How to make a diagnostic to understand if currrent working directory provides some reporters?

M.b. FEATURE_REQUEST: solargraph reporters --cwd / solargraph reporter --current / solargraph cwd-reporters

[2021-08-20 13:25] JuPlutonic opened #476 "Question: Is it possible to provide in .solarwind.yml additional Gemfile's rubocop-* gems"
I have to always put in my projects' dirs **.solarwind.yml** with excluded from reporters rubocop.

[code]

I have .overcommit.gems.rb in CWD and also I have .rubocop.yml with a number of requred __rubocop-* extensions__.
So, when LSP launches I get \
```vendor/bundle/ruby/2.6.0/gems/rubocop-1.19.1/lib/rubocop/config_loader_resolver.rb:17:in `require': cannot load such file -- rubocop-performance"

[2021-08-20 13:53] JuPlutonic commented on #476
Copied lines
[code]
from .rubocop.yml file into .solargraph.yml file.
So I'll use them in my project template and add to global ignore configuration.

[2021-08-20 13:53] #476 closed

[2021-08-20 16:18] iftheshoefritz commented on #473
Some more feedback:

I can see that `ApiMap.load` invokes `yard_map.change`, and then I can ask `yard_map` for pins it knows about. When I try ask it about Array, it has lots of pins for me:

[code]

So the YardMap (and by extension ApiMap) does know that the Rails classes exist, but it's not getting that ActiveRecord::Relation includes Enumerable and so should have all of its instance methods.

[2021-08-21 11:04] iftheshoefritz commented on #473
I see that Array might not be a good comparison option, maybe it doesn't include Enumerable? Instead I looked at `Set`, which [does include Enumerable](https://github.com/ruby/ruby/blob/1e04571da07ed742efa3cb33b4b3aa1089314d51/lib/set.rb#L223) and the plot thickens:

[code]

 Perhaps I am missing something because this is worse than what I had for `ActiveRecord::Relation` (where at least there are

[2021-08-21 15:30] castwide commented on #475
Unfortunately, no. The `@type` tag needs to precede an assignment. I'm working on a more robust alternative, but no ETA yet.

Another option is to use the `@!parse` tag:

[code]

Still not pretty, but it's a one-liner that doesn't introduce executable code.

[2021-08-21 16:07] castwide commented on #473
I was able to get results for `ActiveRecord::Associations::CollectionProxy<Book>` like this in IRB from a Rails app:

[code]

That's with Rails 6.0.3.6, Solargraph 0.43.0, and Ruby 2.7.1.

Based on your failing specs, you might need to run `yard gems` to install some missing documentation.

---

The issue you found with `Set` appears to be a legitimate bug. As of Ruby 2.5, you no longer need to `r

[2021-08-23 11:49] iftheshoefritz commented on #473
Running `yard gems` didn't make a difference to my results with `api_map.get_complex_type_methods`.

It fixed some of the tests I mentioned, but I still have these failures:

[code]

Perhaps that's related to the separate `Set` gem possibility that you mentioned.

I am running:

 ⚡  solargraph -v
0.43.0
 ⚡  ruby -v
ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [arm64-darwin20]
 ⚡  rails -v
Rails

[2021-08-24 11:10] gencer opened #477 "Parameter hints support"
Is it possible to at least provide basic support for Parameter Hinting?

Just like RubyMine does or recently VSCode team added support for this on JavaScript/TypeScript as seen here: https://github.com/microsoft/vscode/issues/16221#issuecomment-879538951

[2021-08-25 08:19] iftheshoefritz commented on #473
I installed a fresh Rails 6.0 install with solargraph as a development dependency. Same result:

[code]

[2021-08-28 01:16] tylucaskelley opened #478 "typecheck: strict mode providing false positives"
Right off the bat, I will admit I am not a seasoned Ruby developer, so there may be some configuration issue on my end. But I'm seeing some incorrect results from `solargraph typecheck --level strict`. Here is the file in question:

[code]

And my `.solargraph.yml`:

[code]

Lastly, Rubocop config:

[code]

Gems are installed via `bundle`, located in my project directory. The errors I get are:

[c

[2021-08-29 18:06] AlBundy33 commented on #475
It seems that this doesn't work as expected (only tested in eclipse) - so I'll stick with $tool = $tool :-)

[2021-08-29 18:06] #475 closed

[2021-08-29 19:35] castwide commented on #475
I'm glad you have a workaround, but I'll keep this on the radar and continue working on a better solution :-)

[2021-08-30 17:12] il-tmfv commented on #460
I'm having the same error if I run solargraph manually + `external` transport:
[code]

In the case of VS code integration it does nothing: no errors, all commands fail (like getting gem version).

I've tried to find what causes it and looks like I've found:
[code]

It is a very long `SQL` string with more than 3800 lines 😅

Changing `<<~SQL` to `<<-SQL` makes everything work. As well as removing a

[2021-09-03 16:19] wata00913 opened #479 "Diagnostic does not work when .rubocop.yml is placed"
## Environment Information
- Neovim (0.5.0)
- Solargraph (0.43.0)
- RuboCop (1.18.4)

## Question

Hello there!
I am using Neovim's coc.nvim to connect to Solargraph.
When I placed `.rubocop.yml`, why do I need to place both `Gemfile` and `Gemfile.lock` to enable Diagnostic?

## Detail

Under my environment, Diagnostic was not be activated when Solargraph is started for root project directory.
How

[2021-09-06 08:46] jspawar commented on #265
@castwide apologies, but would you mind clarifying your response a bit more please? Is there no support then for Solargraph to load YARD plugins via a `.yardopts` or such? Not fully clear to me if there is or not and if there is support, is there anything I need to do to enable it beyond having a `.yardopts` in my project root?

[2021-09-06 14:30] sandstrom commented on #479
@castwide I'd suggest enabling "Discussions" on this Github repo. That way you can move some stuff (like this question) into that section, and keep the number of issues down.

Many of the current issues aren't really technical issues, more StackOverflow type of questions. Some examples:

- https://github.com/castwide/solargraph/issues/466
- https://github.com/castwide/solargraph/issues/442
- https

[2021-09-07 11:55] SolaWing commented on #192
since the checker supported upcast and downcast, add a Object type to declare type, can suppress the wrong infer or wrong extern annotation type.

just for sameone what strict check but struggle with typechecker.

[2021-09-07 12:12] SolaWing opened #480 "[bug]type checker ignore break return type"
[code]

[2021-09-10 11:55] iftheshoefritz commented on #473
Over on the rails thread, this comment: https://github.com/castwide/solargraph/issues/87#issuecomment-854068741 helped me figure this out. Solargraph bundle is doing something to interfere:

[code]

Compared to the first two without `solargraph bundle`:

[code]

and after doing the latter, from the Rails console:

[code]

So the next question is what `solargraph bundle` does that interferes with a

[2021-09-13 11:44] thomthom commented on #260
Is this something that would need YARD to be updated to understand?

[2021-09-16 11:17] baelter opened #481 "[RuntimeError] conflicting chdir during another chdir block"
In a multi folder workspace I sometimes get:

[code]

[2021-09-16 11:56] baelter commented on #481
Related issue: https://bugs.ruby-lang.org/issues/15661

[2021-09-17 16:33] iftheshoefritz commented on #473
Update:

I can see [in RDocToYard](https://github.com/castwide/solargraph/blob/master/lib/solargraph/yard_map/rdoc_to_yard.rb#L89-L97) that when SG generates Yard from RDoc for a gem it does:

1) load all the RDoc objects found into a cleared YARD::Registry
2) clear out the old cache_dir for that gem
3) save the newly constructed registry into the old location

Obviously this means we lose anythin

[2021-09-19 16:32] castwide commented on #479
@sandstrom Thanks for the suggestion. I considered enabling Discussions a while ago but left it on the wayside. They're enabled now.

[2021-09-19 16:38] castwide commented on #478
Confirmed. This appears to be an issue with the generated YARD documentation for Sinatra instead of Solargraph itself, but I'll investigate possible solutions.

[2021-09-19 16:50] castwide commented on #474
Do any of your files contain characters that are not encoded for UTF-8?

I'll work on capturing that error so it identifies which file caused it. Fixing the root cause might be more difficult. Proper string handling across character sets is always an adventure.

[2021-09-19 17:03] castwide commented on #477
I'm not sure if this feature is possible through the language server protocol. Hover and signatureHelp are already supported, but inline parameter hints might need to be implemented in the VS Code extension itself. I'll look into it a little further, but if we add this feature, it'll probably need to be implemented in [vscode-solargraph](https://github.com/castwide/vscode-solargraph).

[2021-09-19 17:06] castwide commented on #473
Thanks for staying on top of this. Capturing existing YARD objects seems feasible. I'll try a couple experiments and see how it looks. Any other suggestions or feedback you have is appreciated.

[2021-09-19 17:07] #440 closed

[2021-09-19 17:09] castwide commented on #453
Fixed in v0.43.0.

[2021-09-19 17:10] #418 closed

[2021-09-19 17:29] AlBundy33 commented on #474
yes, of course because my woekspace is not a single app it is more a collection of different scripts for different custumers from different developers. :-)

most files are already utf-8 but in this rare cases of different encodings it would be nice to have the path in the exception-message.

[2021-09-19 18:05] castwide commented on #480
Confirmed. Solargraph assumes that the return type of `Array#find` is the array's parameter type (or `nil` if no match is found). In most cases this is true, but the use of `break` is an exception. I didn't even know that inserting a different value through `break` was possible 😅

The problem is definitely specific to the `break` behavior, since this gets inferred correctly:

[code]

I'll look fur

[2021-09-19 18:29] castwide commented on #474
I added exception handling so this particular error will report the name of the file where it occurred. It'll be included in v0.43.1, which I plan to release tomorrow morning.

I was also able to reproduce the error using a file with a known invalid byte sequence in the current tests (`spec/fixtures/invalid_byte.rb`), so I'll look into possible solutions for handling the unrecognized sequence grac

[2021-09-19 18:58] castwide commented on #460
@il-tmfv Thanks for the example. I was able to reproduce the error with that list expanded to 3800 lines. I'll look into a solution.

[2021-09-20 02:31] castwide commented on #265
YARD extensions modify the documentation they generate, but Solargraph generally can't make use of them in an active workspace. If you reference a gem that used a YARD extension to modify its documentation, the modifications should be available in a workspace that includes that gem as a dependency. If you're working on a project that includes YARD extensions that would modify the generated documen

[2021-09-20 06:41] castwide commented on #474
Version 0.43.1 reports filenames for this error.

[2021-09-20 06:42] castwide commented on #460
Fixed in v0.43.1.

[2021-09-20 09:05] sandstrom commented on #479
@castwide Great!

There should be a "move to conversation" button on each issue. Above is a suggestion of issues that are probably better suited for discussion, since they aren't really issues with the code (questions, etc).

[2021-09-21 04:24] castwide commented on #461
Many thanks for the detailed message, and apologies for the late reply.

Does this problem still occur with gem version 0.43.1? My first guess is that the server locked up trying to deliver information about a mapped file based on an incomplete mapping, but some recent optimizations might have fixed that issue.

If the problem persists, please let me know, and another log would definitely be helpf

[2021-09-21 04:45] castwide commented on #481
My first guess is that your workspaces have dependencies that conflict too much to work in a single Ruby runtime. Solargraph will try to separate dependencies between workspaces, but they all get mapped in the same runtime process, so clashes are definitely possible.

Nonetheless, there might be some other solution to that 'conflicting chdir' error, so I'll look further into it.

[2021-09-21 10:07] thegeorgeous commented on #460
@castwide the issue is resolved for me too. I am closing the issue. 🥳

[2021-09-21 10:07] #460 closed

[2021-09-23 08:49] castwide commented on #461
Gem version 0.43.2 addresses this issue. Server requests should be synchronized to ensure that the request ID gets incremented properly.

[2021-09-23 17:09] timfjord commented on #461
Just tested, works like a charm, thanks @castwide

[2021-09-23 20:32] prdanelli opened #483 "Can't disable Rubocop reporter"
Firstly, Id like to say thank you for this project, its really amazing and helps so many people.

I am seeing this error message whenever I open a ruby file in Neovim 0.5 using the built in LSP with Solargraph:

(obsolete configuration found in /home/paul/.rvm/gems/ruby-2.7.3/gems/bixby-1.0.0/bixby_rails_enabled.yml, please update it)

Solargraph gem version: `0.43.2`

`.solargraph.yml` config - w

[2021-09-24 10:21] castwide commented on #483
One thing you can try is disabling formatting in the LSPConfig:

[code]

Although I plan to support other formatters in the near future, RuboCop is the currently the only option. The server might be trying to use it even though `formatter` is empty in `.solargraph.yml`.

[2021-09-24 10:37] castwide commented on #481
Does this error still persist with gem version 0.43.2? I haven't been able to reproduce it. A change to server request synchronization may have fixed it, but there's another avenue I can pursue if it's still happening.

[2021-09-24 16:49] castwide commented on #481
Quick update: I finally managed to reproduce the error. The other avenue I mentioned looks like the way to go. I'll publish a fix in a patch release.

[2021-09-25 06:36] samk1 commented on #461
Hey! Thanks for getting back, and I really appreciate all the effort that's gone into solargraph so far. Both me and my teammates use solargraph quite heavily and it's a really useful tool.

I had a test on solargraph 0.43.2 and I can't seem to reproduce the issue anymore. I think it's fixed now. Thanks again!

Also, let me know if there's anyway I can contribute to solargraph - I'd like to return

[2021-09-25 06:36] #461 closed

[2021-09-25 10:12] castwide commented on #481
Gem v0.43.3 addresses the conflicting chdir issue.

[2021-09-27 05:01] #396 closed

[2021-09-27 07:07] castwide commented on #465
This should work correctly in version 0.44.0.

[2021-09-27 07:09] castwide commented on #249
It took me a while to circle back to this one, but `document-highlight` is merged into `master` and released in version 0.44.0. The incorrect highlights that @PyvesB reported are fixed.

[2021-09-27 08:49] castwide commented on #417
There are two possible causes here. Solargraph loads the yardocs for external gems instead of trying to parse every dependency's code. You can run `yard gems` to ensure that all your gems have yardocs. More information: https://solargraph.org/guides/yard

Solargraph also can't detect yardocs in gems loaded from paths. This is the issue with the [example project](https://github.com/emacs-lsp/lsp-mo

[2021-09-27 09:36] castwide commented on #463
I haven't been able to reproduce this error, but my best guess is that it's a problem parsing an interpolated string, e.g., `"#{var}"` or `$( #{var} )`. If the problem persists in version 0.44.0, can you possibly give me a simple example that causes it?

[2021-09-27 09:38] castwide commented on #357
Possibly related: #463

[2021-09-27 17:40] prdanelli commented on #483
@castwide thank you for getting back to me. I added the code as you suggested, however it doesn't seem to have fixed the issue i'm seeing. I am still seeing the following when I open a ruby file:

[code]
I tried setting all of the settings to `false`, but it didn't seem to make a difference either:

[code]

Thank you for your help with this issue and the time you have invested in helping the Ruby

[2021-09-29 04:26] SolaWing opened #484 "[bug]frozen|unfrozen string modifier lose type infer"
[code]

only c infer to String, a, b can't get type info

[2021-09-30 04:34] pdspicer opened #485 "typecheck: use domains from config when checking types"
It's very possible that I'm just going about this all wrong, but I'm trying to set up my workspace config so that typecheck includes types from domains that I've specified in the config file (my code executes entirely within the context of one domain). So far I haven't been able to make this work, and I'm not sure if its something I'm doing incorrectly, or if the "domains" config value is unused d

[2021-09-30 04:38] castwide commented on #420
There's a fix for the `&` nil safety operator in `master`. It'll be included in the next release.

[2021-09-30 07:35] dgmora opened #486 "Rubocop extra_args not being picked up"
I may be doing something wrong, but I've tried with the following config:
[code]
`extra_args` does not seem to pick up `-D` (to show the cop name), it only shows the error message. `--config` also does not seem to work, it's picking up `rubocop.yml` instead of `rubocop.local.yml`. Are the extra args specified incorrectly?

[2021-10-01 03:31] castwide commented on #486
It sounds like your concern is with problem descriptions in the diagnostics display. The RuboCop diagnostics reporter should display the cop name by default:

![image](https://user-images.githubusercontent.com/3704922/135560537-94005f83-83b0-4125-af53-3cc395b56c36.png)

The options under `formatter` only apply to formatting, not diagnostics. That was a deliberate choice due to cases where the form

[2021-10-01 04:44] castwide commented on #484
Confirmed. I should be able to modify type inference to recognize the string freezing operators.

[2021-10-01 06:17] castwide opened #487 "Map closure and context for class_eval receivers"
[code]

When SourceMap::Mapper processes the `Foo.class_eval` block, it should map the `baz` definition to a `Foo#baz` pin.

This wasn't previously possible due to limitations in scope handling, but the current separation between closures and contexts should allow for it.

[2021-10-01 06:27] dgmora commented on #486
The cops don't appear in the diagnostics, but that might have to do with my vim configuration.
The formatter still doesn't seem to accept the `--config` flag, it formats based on `rubocop.yml`

[2021-10-01 09:11] castwide commented on #485
The `domains` setting (and the `@!domain` directive) imports public instance methods from classes and modules. Its intended use is to provide code intelligence for certain types of DSLs. It was occasionally useful in some older versions of Solargraph, but I rarely use it anymore and might drop support for it in a future version.

Can you give me an example of what you're trying to accomplish, e.g.

[2021-10-04 14:06] pdspicer commented on #485
Certainly, my code is running within the context of a specific class/module and thus has access to methods within that module without using any module identifiers. So for example there might be a module like Pkg::Sdk::Http with methods like 'get', 'post', etc., and in my code instead of writing it as `Pkg::Sdk::Http.get`, it'd just be `get`.

And I'm looking for solargraph to recognize this `get`

[2021-10-06 18:09] prdanelli commented on #483
@castwide I tried the suggestions and they didn't have any affect I'm afraid.

As an example, with a brand new Ruby file, I get the diagnostics correctly:

![image](https://user-images.githubusercontent.com/1199977/136257184-dee04509-96d0-4c3f-83ec-0a293d23d395.png)

However, when an error is found parsing Rubocop's configuration, i'm getting nothing back from Solargraph - ven with rubocop removed

[2021-10-12 06:39] jhirn opened #488 "Ruby 3 cores"
Hi. I just picked up a new project using ruby 3.0.2 and realized there's no cores available for ruby 3 yet.

What is the status on that? Is there anything blocking or are they just not available yet? What issues will I face by not having the core installed?

Thanks!

[2021-10-12 19:35] castwide commented on #488
The 3.x core documentation failed some tests due to reduced code coverage the last time I tried generating it. The 2.7.4 documentation should be mostly sufficient for the time being.

There's a good chance that the need to download cores will be eliminated in an upcoming version, with RBS handling those duties instead. Related issue: #464

[2021-10-13 14:08] #488 closed

[2021-10-14 17:07] Postur opened #491 "Dir.exist? typecheck issue"
![image](https://user-images.githubusercontent.com/70761742/137363574-08c07185-bcf6-4770-b9c9-bbcafd5aaaa7.png)

![image](https://user-images.githubusercontent.com/70761742/137363786-c58887f2-4724-4e09-ad28-2f492b68677a.png)

For some reason my ruby documentation does not allow the passing of an argument to `Dir.exist?`

`Dir.exist?` should take an argument following the ruby docs (2.7.2):

![imag

[2021-10-18 04:10] zw963 opened #492 "Raise error when solargraph can not find rubocop with Gem::Specification.find_by_name."
For my use case, rubocop is not add to my project use bundler, instead,  rubocop is installed into my $HOME, and then added into $RUBYLIB, and can be used for several project. solargraph is ame.

it works quite well, but, solargraph can not find this rubocop, and raise following error.

https://github.com/castwide/solargraph/blob/master/lib/solargraph/diagnostics/rubocop_helpers.rb#L20-L23

The is

[2021-10-18 06:14] SolaWing opened #493 "bug: block in define_method should infer to instance type"
current self is not change

[2021-10-19 13:39] Postur commented on #491
Any help would be appreciated

[2021-10-20 02:28] castwide commented on #493
Confirmed. If the solution is as simple as I expect, I'll include it in the next patch release.

[2021-10-20 09:32] strayer opened #495 "Solargraph fails to load gems"
I'm having trouble with solargraph in a rails project I'm working on that I can't share. A while ago I noticed that rubocop diagnostics and formatting stopped working and I'm unsure why. A lot of things changed in my neovim configuration in the meantime, so I can't say if this was broken by the rails project or my neovim config.

My lsp log shows errors like this:

`[WARN] Failed to load gems from

[2021-10-20 10:31] phillipoertel commented on #135
Seeing this too in 0.44.0

[2021-10-27 07:48] qortex opened #496 "Feature request: Support `@!scope class` syntax"
YARD syntax allows to define class methods in the following way:

[code]
or
[code]

In my experience, defining methods like that doesn't lead to auto-completion by the language server:

[code]

It would be nice if `Test.method1`, `Test.method2`, `Test2.method1` and `Test2.method2` would be completed/documented.

[2021-10-28 03:02] SolaWing opened #497 "[bug]Typecheck does not recognize alias assign"
[code]

[2021-11-01 18:49] hjw commented on #486
I'm not seeing the cop name in my diagnostics either and I am not sure where to look to figure this out.
Can we get a hint?

[2021-11-02 08:00] kamaradclimber commented on #491
@castwide, would you have an example of what a "core fill" is? I would be glad to submit a PR for this.

[2021-11-07 18:03] #412 closed

[2021-11-09 08:00] win93 commented on #463
Another test case where this occurs, if this is the entire file's contents:

[code]

Then typing anywhere in the file triggers the same error with the following stack trace:

[code]

[2021-11-09 17:26] gukandrew commented on #463
same here, osx big sur, ruby 2.6.0 over asdf, solargraph version 0.44.0 used in vscode last version
[code]

[2021-11-10 07:45] grncdr commented on #265
I'm interested in this problem 😉

Could you tell me more about what the main issues are? Like the previous commenter, I'm interested in having dynamic attributes/methods added by YARD handlers available to Solargraph.

My approach would be "use the workspace .yardopts when generating YARD map for the workspace". If you can warn me about what issues I'm going to encounter I'd appreciate it.

[2021-11-12 12:15] amake opened #500 "File.open(filename, &block) return type inferred incorrectly"
This code:

[code]

Typechecks incorrectly:

[code]

It seems to be unaware that [when a block is supplied, the return value is that of the block](https://ruby-doc.org/core-2.7.4/File.html#method-c-open).

[2021-11-15 15:03] eregon opened #501 "How does solargraph determine the methods of an object"
Hello,
I've been trying Solargraph on TruffleRuby, and completion works for regular Ruby methods.

However, when trying to complete methods of a "foreign object" (e.g., a Java or JavaScript or Python object), Solargraph fails like this using VSCode (and no completion at all is then provided by Solargraph):
[code]
BTW, is there a way to find out what was the Ruby-level exception that caused this?

[2021-11-15 18:12] grncdr commented on #265
Ok, so I've looked into this a bit today and it seems I might have fundamentally misunderstood how Solargraph and YARD relate to each other. 😬

What I thought then: Solargraph is using the YARD database to understand external libs and workspace source files.

What I think now: Solargraph only uses YARD for Gems. Source files in the workspace itself are never parsed into YARD code objects, only Sol

[2021-11-17 16:54] castwide commented on #265
@grncdr Your conclusions about the process and the reasoning behind it are largely correct. Solargraph uses its own mechanisms to parse and analyze the active workspace, and uses standard YARD tags to augment its data. It only uses yardocs for external gems. Earlier versions of Solargraph used yardocs for the active workspace, but 1) it was too slow and resource-intensive; 2) it didn't provide inf

[2021-11-17 17:39] grncdr commented on #265
Thanks for the confirmation @castwide. It's especially helpful to know that YARD was too resource intensive.

This seems very likely to me, and is not a path I want to take. I suspect that the 80% use case (and certainly my use case) for YARD extensions is "I have a custom DSL that defines methods dynamically". I will see if I can accomplish something with conventions and open/comment on more rele

[2021-11-17 18:12] castwide commented on #500
Confirmed. I'm not sure how to handle this case yet, but I'll look into it.

[2021-11-17 18:24] castwide commented on #491
@kamaradclimber `Solargraph::YardMap::CoreFills` contains overrides that fill some of the gaps in core documentation. I expected that the override for `Dir.exist?` should look something like this:

[code]

Unfortunately, that doesn't appear to work. Not sure what the problem is.

[2021-11-17 18:37] castwide commented on #501
This isn't currently possible with Solargraph. It uses static analysis to find methods, so methods defined at runtime aren't visible. There are ways to document dynamic methods with YARD (e.g., the `@!method` directive), but there would still need to be a mechanism for Solargraph to infer the correct class from a `Java.type` call.

[2021-11-17 18:41] castwide commented on #497
Confirmed. There are existing mechanisms to recognize constants that reference classes in this manner, so it should be fixable.

[2021-11-17 21:36] eruizc-dev opened #502 "Use different Ruby versions for Solargraph and project"
I'm currently maintaining a Ruby on Rails project that uses Rails version 2.4, the problem I run into is a version conflict.

I need ruby 2.6 or higher to run solargraph and ruby 2.4 to run my project and I don't know how to make it work. I'm using rvm to handle ruby installations.

### Repro steps

 1. Install solargraph with `gem install solargraph` (will be installed with default ruby version 3

[2021-11-18 01:57] YU5Z8X2CvH1fv4ep commented on #501
The methods and internal functions of the java object support static analysis. Can you read the type from ruby ​​and then request the API of the java language server to obtain the code completion of the ruby ​​(from java) object? The premise is that the ruby ​​language server can Know that an object comes from java. This is an idea

[2021-11-18 01:59] YU5Z8X2CvH1fv4ep commented on #501
Theoretically achievable

[2021-11-18 03:23] castwide commented on #501
It's definitely theoretically achievable, but it's beyond the scope of Solargraph itself. TruffleRuby support would have to be accomplished in a plugin. I would rather not try to support Java integration as a first-class feature. I can try to provide help developing a plugin, but I don't want responsibility for its maintenance.

[2021-11-18 08:07] YU5Z8X2CvH1fv4ep commented on #501
Is there any relevant documentation written by the Solargraph plugin?

[2021-11-18 08:11] YU5Z8X2CvH1fv4ep commented on #501
i find some docment in https://solargraph.org/guides/plugins. but i dont know how can i get a type of ruby variable  . if i can get ruby object type , work will be simple .

[2021-11-18 17:07] #493 closed

[2021-11-18 22:09] castwide commented on #487
Released in v0.44.1.

[2021-11-18 22:09] #487 closed

[2021-11-18 22:21] castwide commented on #486
I assume the editor doesn't display the `source` and/or `code` parameters of the Diagnostics in the `textDocument/publishDiagnostics` notification. If there's a way you can log the server messages, you should be able to see them there. For the RuboCop reporter. the `source` is always "rubocop" and the `code` is the name of the cop (e.g., "Layout/EndOfLine").

[2021-11-18 22:27] castwide commented on #501
You probably want your plugin to modify the ApiMap with a Convention. You can see existing implementations in `lib/solargraph/convention` and the [solargraph-rails](https://github.com/iftheshoefritz/solargraph-rails) plugin.

[2021-11-18 22:58] castwide commented on #502
I'm not sure why installing Solargraph with Ruby 2.4 would fail, because the current release still supports it.

* Can you tell me what error message you get running `gem install solargraph` with 2.4?
* What editor are you using? (VS Code specifically supports rvm, but other editors might require additional setup.)

[2021-11-18 23:48] eruizc-dev commented on #502
The following error is from a clean environment created with docker (`docker container run -it ruby:2.4 /bin/bash`):
[code]

I'm using neovim, which simply calls a background process with `solargraph stdio` and then interacts with it. Basically when I go to my project, rvm sets 2.4 as default and solargraph is no longer in path. Trying to install it causes that error and attempting to run it with

[2021-11-19 00:55] castwide commented on #502
Did you try `gem install racc -v 1.5.2` before `gem install solargraph`? 1.5.2 is the last version of racc that's compatible with Ruby 2.4.

[2021-11-19 01:40] YU5Z8X2CvH1fv4ep commented on #501
thank?i try it on free time

[2021-11-19 01:44] eruizc-dev commented on #502
I managed to get it working for 2.4 with
[code]

[2021-11-19 02:03] castwide commented on #502
* Solargraph currently requires Ruby 2.4+.
* It involves some duplication, but the same is true of any gem that's required in multiple rvm environments. Trying to use Solargraph on a workspace that's configured for a different version of Ruby is liable to introduce more bugs than it fixes. (It might work in trivial cases, but as soon as a project involves RubyGems and Bundler, things get messy qui

[2021-11-19 03:24] castwide commented on #420
Released in v0.44.1.

[2021-11-19 03:26] castwide commented on #474
In version 0.44.1, `SourceMap::Mapper` handles invalid byte sequences more gracefully. (The main cause of the error was trying to run strings with invalid bytes through regular expressions.)

[2021-11-20 13:42] mvz opened #503 "Scan fails with undefined method `range' for nil:NilClass"
The following minimal code will trigger an error 'undefined method \`range' for nil:NilClass' when running `solargraph scan`:

[code]

This error occurs with solargraph 0.44.1. I've tested on Ruby 3.0.2 and 2.7.4, and the error occurs on both versions.

Backtrace on Ruby 3.0.2:

[code]

[2021-11-20 14:15] castwide commented on #503
Confirmed. I'll work on a fix for a patch release.

[2021-11-20 19:54] amdorra commented on #135
I'm facing the same issue on version 0.44.1

[2021-11-21 03:24] pramoditagi commented on #463
@castwide any updates on this?

[2021-11-21 22:50] halilim opened #504 "gsub invalid byte sequence in UTF-8"
I've attached the [zipped file](https://github.com/castwide/solargraph/files/7577311/test.rb.zip) in case the invalid character gets lost in the description.

[code]

[2021-11-21 23:48] eruizc-dev commented on #502
It's a shame to have such limitations, but it seems there's nothing to be done. I'm going to close this issue, thank you for your help!

[2021-11-21 23:48] #502 closed

[2021-11-22 02:50] castwide commented on #504
Confirmed. It'll be fixed in the next patch release.

[2021-11-22 11:43] albertoleal opened #505 "New release 0.44.1 has introduced an UnhandledRejection error"
After upgrading to the latest version, whenever I open a ruby file on nvim I receive the following error:

[code]

I downgraded to the previous version, v0.44.0, and the error disappeared.

[2021-11-23 10:34] castwide commented on #503
Fixed in v0.44.2.

[2021-11-23 10:34] castwide commented on #504
Fixed in v0.44.2.

[2021-11-23 10:38] mvz commented on #503
Thanks, @castwide, I can confirm that the error no longer happens.

[2021-11-23 10:38] #503 closed

[2021-11-23 10:45] castwide commented on #505
Does the error still happen with v0.44.2? If so, is there any way you can get a log from the Solargraph server process?

[2021-11-23 10:52] albertoleal commented on #505
@castwide It works great on v0.44.2! Thanks for that :)

[2021-11-23 10:52] #505 closed

[2021-11-23 13:25] halilim commented on #504
Confirmed the fix 🎉 Thank you very much!

[2021-11-23 13:25] #504 closed

[2021-11-24 16:30] alisnic opened #506 "Parsing of nested classes"
this is somehow related to #87

# Introduction

In standard Ruby, when you define a class without defining its parent module first, this fails:

[code]

However, in Rails that's perfectly fine, for example in nested controllers:

[code]

# Problem report

When solargraph parses such class definitons, it does not generate intermediary pin entries. This leads to the fact that autocomplete for querie

[2021-11-25 14:15] reneweteling commented on #506
Same issue here, would like to know if its a best practice to define the module somewhere before using it in a rails context or that a change to solargraph needs to be created.

[2021-11-25 14:16] alisnic commented on #506
I was able to write a plugin that works around this limitation at https://github.com/alisnic/solar-rails. Test and see if it works.

[2021-11-25 15:20] castwide commented on #506
Since this isn't core Ruby behavior, I would definitely recommend implementing it in a plugin (or at least making it optional). A couple possibilities:

* Implement it directly in `solargraph-rails`
* Make a separate plugin (e.g., `solargraph-zeitwerk`) and add it to `solargraph-rails` dependencies

/cc @iftheshoefritz

[2021-11-25 16:19] alisnic commented on #506
That's what I thought. Thanks! Closing here

[2021-11-25 16:19] #506 closed

[2021-11-26 10:00] alisnic opened #507 "Completion candidates for union types"
Currently, if method signature includes multiple types, solargraph will provide candidates only for the first type. Heres a failing spec that can be added to `spec/source_map/clip_spec.rb`:

[code]

Executing it, yields the following report:

[code]

@castwide if you can give me some pointers on how to fix this, I would gladly contribute with a patch

[2021-11-29 09:46] castwide commented on #507
This is a feature that's been on the radar for a while, but I still have some outstanding questions about the best approach.

* Should method candidates be a union (as in your test) or an intersection? In the latter, candidates would need to exist in both classes; for example, [Array, Set] would not include `Array#push` or `Set#add`, but it would include all `Enumerable` methods.
* If it uses an i

[2021-11-29 16:45] alisnic opened #510 "Consider skipping development_dependencies for gems"
In https://github.com/castwide/solargraph/blob/949fa3c3be83de437f84c6acf8b9503347083471/lib/solargraph/yard_map.rb#L265 solargraph loads development dependencies of gems, which is not desirable in my opinion. Consuming gems is not the same as developing them, and this leads to the fact of MiniTest completions being available in my project (because it is a development dependency of other gems), alt

[2021-11-29 19:19] castwide commented on #510
That line should already be excluding development dependencies from external gems. Is there a call to `require` minitest somewhere in your project, or in a file you currently have open? If you're using a development branch, does the problem still occur using 0.44.2?

[2021-11-29 19:24] alisnic commented on #510
I don't have minitest required anywhere in my app. The only place where it is mentioned, is in `Gemfile.lock`, where it is listed as dependency of activesupport 😭 https://github.com/rails/rails/blob/5-2-stable/activesupport/activesupport.gemspec#L32

Is this why minitest is present in completions?

[2021-11-29 19:25] castwide commented on #510
Yep, that would do it 😄

[2021-11-29 19:26] alisnic commented on #510
Sorry for confusion then :D it wasn't immediately obvious from source code that solargraph handles this properly

[2021-11-29 19:26] #510 closed

[2021-11-30 06:49] reneweteling commented on #506
If someone reads this, just use nested class and module definitions, its the default in rubocop, also using a nested module or class before the parent module is declared results in an error in plain ruby. Rails has some magic to overcome this, but that does not make it correct.

just enforce this Cop: https://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Style/ClassAndModuleChildren to nested and you