[2019-02-22 13:13] #141 closed

[2019-02-22 16:37] Hubro commented on #159
Awesome! Thanks for the quick fix.

[2019-02-23 01:31] tylerlu94 opened #160 "crash in VSCode with Ruby files"
VSCode Version 1.31.1
Solargraph Version 0.31.3
Ruby Version Version 2.3.7p456
Docker Version 2.0.0.0-mac81 (29211)
Docker-Sync version 0.5.11

[code]

[2019-02-23 02:00] castwide commented on #160
Is there a backtrace you can copy/paste in the developer console (Help -> Toggle Developer Tools)?

[2019-02-25 05:30] #128 closed

[2019-02-25 11:37] thomthom opened #162 "Is require_paths relative to workspace?"
I'm trying to help out on a reported issue in a VSCode + Solargraph setup example I've provided:
https://github.com/SketchUp/sketchup-ruby-api-tutorials/issues/15

Given a `.solargraph.yml` like this: (Example project at https://github.com/SketchUp/sketchup-ruby-api-tutorials/issues/15#issuecomment-466405372)

[code]

And a `src/sample.rb` like this: (Along with a dummy `src/sample/main.rb`)

[cod

[2019-02-25 11:44] thomthom commented on #162
Oooh.....

I just realized that I have inadvertently omitting `require_not_found` reporters:

https://github.com/thomthom/true-bend/blob/07caec6f95759fad7e8f6902527fdccf10011495/.solargraph.yml#L8-L9

[code]

Aaand... I just realized I've had this discovery before..... https://github.com/castwide/vscode-solargraph/issues/56#issuecomment-391794165(*facepalm*)

I'm sorry for the noise.

[2019-02-25 11:44] #162 closed

[2019-02-25 11:46] thomthom commented on #162
Btw, would it be to naive to allow for absolute paths in `require_paths` by simply adjusting `Workspace#configure_require_paths`? Or are there other things that would have to adjust as well?

Would you accept a PR that let Solargraph append `.rb` only if there isn't already a `.rb` extension in the file path?

[2019-02-25 16:35] castwide commented on #162
That sounds like a good change, yes. There might need to be an accompanying change in the mapping process that looks for unresolved require paths, but I wouldn't expect it to be too troublesome.

[2019-02-25 21:28] tylerlu94 commented on #160
Sorry about that. Here it is

[code]

[2019-02-28 05:19] hima2nd opened #163 "Reference tab don't interpret object type"
VSCode : Ruby Solargraph Version 0.19.3
Solargraph Version 0.31.3

`(see #method)` and `@param (see #method)` don't interpret argument object type in define block.
`(see #method)` don't interpret return value object type.

Here's example code:
[code]

[2019-03-03 18:32] #138 closed

[2019-03-06 12:22] Skarlso opened #164 "Server startup is slow for 3278 ruby files sized project"
Hi.

I have a project which has 3278 ruby files not including vendor.

I started up vscode and the server startup time after opening a ruby file took ~5 minutes or so.

I have a fairly good laptop with i7 8 cores and such.

What I'm asking is... is this normal? I mean it probably is, since it's parsing every file possible. And after startup everything works smoothly. I'm just curious if this is no

[2019-03-06 21:03] castwide commented on #163
Support for `@param (see)` is on the roadmap. It's a little trickier than `@return` but very possible.

[2019-03-06 21:26] castwide commented on #163
The issue with `ref_method` is a little different. The `see` reference needs to be in a `@return` tag:

[code]

I noted, however, that although the completion request recognizes that `ref_method` returns a `String`, the hover request does not. We should be able to resolve the type in the hover request as well.

I'm not sure what to do about `(see)` outside of tags. The YARD reference seems to say

[2019-03-07 13:13] hima2nd commented on #163
Sorry, my english is so bad

I understood about `@param(see)`. I expect it.

 I confirmed `(see)` in this document
https://www.rubydoc.info/gems/yard/file/docs/GettingStarted.md#Reference_Tags

I'm asking "ref_method" to interpret the object type like "method".

[2019-03-07 17:08] castwide commented on #163
Thanks for the link. I had checked the [Tags Overview](https://www.rubydoc.info/gems/yard/file/docs/Tags.md) and didn't see any mention of that syntax. I'll look into it.

[2019-03-08 04:35] castwide commented on #164
That's about what I'd expect from a project of that size, depending on LOC. Here are some recent benchmarks on a Windows 10 PC with AMD 4GHz 8-core and 32 GB RAM:

Files | LOC    | Seconds to load
------|--------|----------------
   12 |    608 |   2
   60 |   4062 |   3
  178 |  10989 |  22
  344 |  43621 |  23
 1122 | 133320 | 147

The number of gem dependencies can also have an impact, but the

[2019-03-08 07:38] Skarlso commented on #164
Thanks for the breakdown! Don't worry, I don't mind the bit slow startup. After that it runs just fine.

Usually I get in, start the IDE then go make tea and when I'm back it's all cool. ☕😎

The benefits of using solargraph outweigh this minor nuisance hundredfolds! Never been happier with working with Ruby. 👍

[2019-03-08 07:38] #164 closed

[2019-03-08 15:20] castwide commented on #160
Thanks, @tylerlu94. The root cause appears to be related to variable assignments with literal types, e.g., `var = []' or `@var = 'var'`. I'll work on a fix for the next release.

[2019-03-09 20:52] castwide commented on #163
Support for top-level `(see #method)` references is in the master branch. (Return types only. Param types are still pending.)

[2019-03-10 12:14] hima2nd commented on #163
Thanks for the quick update. it's incredibly useful.
Keep up the good work!

[2019-03-11 12:03] kmoschcau commented on #102
With the following versions the cut-off does not seem to happen anymore, or at least I can't reproduce it:
Ruby 2.5.3
Solargraph: 0.31.3
Neovim 0.4.0

But I also have the problem, that completion does not work, when there are some characters typed already. I am also using autozimu/LanguageClient-neovim and do not have these problems with other languages. (Rust's rls works like a charm for example.

[2019-03-16 15:23] rezzovskij opened #165 "demo now not working"
http://solargraph.org/demo

[2019-03-16 17:33] gencer opened #166 "Autocomplete does not initiated when ! used at start"
When we put negative mark at start, Autocomplete does not work.

For example;

[code]

See below GIF:

![notation](https://user-images.githubusercontent.com/1711576/54479116-c6a46680-482a-11e9-9280-518a65612803.gif)

[2019-03-16 22:26] castwide commented on #166
Confirmed. This appears to be a simple bug in word detection. I should be able to fix it for the next release.

[2019-03-16 22:28] castwide commented on #165
Do you mean it's *not* working? If so, can you tell me what you tried that didn't work?

Incidentally, the Solargraph version in the demo is way behind the current release. I'll work on getting it updated.

[2019-03-17 21:36] castwide commented on #166
Fixed in the master branch.

[2019-03-18 14:37] kkneutgen commented on #33
Problem seems to appear again with version 0.31.0 of solargraph gem.

I downgraded to version 0.30.2 and solargraph-server starts inside atom.

[2019-03-18 14:49] kkneutgen opened #167 "all suggestions appear twice"
Every entry in solargraph's suggestions-list is shown twice in atom. I tried with different gem-versions down to 0.27.1.

E.g. typing `"a".downc` shows

- downcase
- downcase!
- downcase
- downcase!

[2019-03-18 18:25] castwide commented on #137
Are you still having problems with `inmemory:`, or did you find a workaround? A change in how the gem escapes URI schemes may have affected this issue.

[2019-03-21 04:38] rezzovskij commented on #165
not working - "Instructions: Enter some Ruby code and press ctrl+space to see a list of suggestions"

[2019-03-21 14:02] gencer opened #169 "Peek Definition goes to wrong line"
When I `Ctrl + Hover` then `click` on method, it goes to wrong place (`line`) of the target.

See here:

![dfg](https://user-images.githubusercontent.com/1711576/54757266-ed7fe580-4bfa-11e9-9247-6a21303754eb.gif)

Sample project in GIF:

[sample.zip](https://github.com/castwide/solargraph/files/2992357/sample.zip)

[2019-03-21 15:11] gencer commented on #165
It works here.

[code]

[2019-03-22 07:58] castwide commented on #169
Confirmed. I'll look into it.

One thing I noticed: the first time I tried, it opened the same location shown in your GIF; but the second time, it opened the correct definition.

[2019-03-22 10:41] gencer commented on #169
@castwide, yes this happened to me. But in general, it finds the wrong line.

[2019-03-22 14:33] bjkeller commented on #141
@castwide I'm still getting this on one project. Do you have any hints on tracking down the trigger in our code?

[code]

[code]

[code]

[2019-03-22 14:55] castwide commented on #141
The trigger is (probably) two sets of comments that overlap a codepoint. This is the code that I used to reproduce the error:

[code]

The begin/end block and the #foo comment are both attached to the same line of code, which used to confuse the parser.

It looks like you're still using gem version 0.31.0. The bug should be fixed in 0.31.1. The current version is 0.31.3.

[2019-03-22 15:18] hima2nd opened #170 "Type not interpret when using `include` at top level"
VSCode : Ruby Solargraph Version 0.19.3
Solargraph Version 0.31.3

Here's example code:

[code]

[2019-03-22 15:35] castwide commented on #170
Confirmed. I'll work on a fix.

[2019-03-23 00:53] zero51 opened #171 "0.31.3 Server initialization failed"
macOS: 10.14.3
Ruby: 2.5.1
Solargraph: 0.31.3
VS Code: 1.32.3

Solargraph fails to startup:
[code]

Stack traces:
[code]

[2019-03-23 04:06] castwide commented on #171
I was able to reproduce this error by applying `private_class_method` to an attribute instead of a method. Minimal example:

[code]

I should be able to fix it for the next release.

[2019-03-24 12:07] rezzovskij commented on #165
unfortunately ctrl + space not working

[2019-03-25 11:35] castwide commented on #169
The root cause appears to be end-of-line sequences. When I change Email.rb from CRLF to LF, definitions get located correctly.

Solargraph is supposed to be EOL-agnostic, so I'm not sure what broke down here. I'll keep looking into it.

[2019-03-25 12:37] gencer commented on #169
Ah, This explains why it's only have issues for the files I sent you.

[2019-03-25 14:54] castwide commented on #169
One more clue: it looks like the problem happens because the EOL sequence is mixed. If the entire file uses either CRLF or LF, it works.

[2019-03-25 20:13] AlanWarren opened #173 "Possible enhancement to documentation output"
Hello!

Thanks for the wonderful tool.

I'm currently using solargraph with neovim, via the coc plugin.  As of very recently, nvim can now display an additional floating menu adjacent to the normal completion menu.  COC has implemented this, and it's wonderful for quickly viewing method docs.   (reference to configuring neovim for floating windows https://www.reddit.com/r/neovim/comments/ars2ad/wa

[2019-03-25 20:53] castwide commented on #173
Thanks!

Setting documentation to a MarkupContent object shouldn't be a problem. I never noticed it was an issue because the clients I most commonly use (VS Code and Atom) assume Markdown by default.

Using language identifiers for code blocks is fine, but the actual syntax highlighting is up to the client. It looks to me like coc should have it covered.

[2019-03-26 14:32] kmoschcau commented on #102
With the following versions the problem disappeared for me:
Ruby: 2.5.3p105
Solargraph: 0.31.3
Neovim: v0.4.0-207-g7e6980a16
And of course the up to date LanguageClient-neovim.
@pappasam Can you check if those versions also fix the problem for you?

[2019-03-26 16:21] AlanWarren commented on #173
Thanks, I appreciate you considering this!

[2019-03-26 18:20] gencer commented on #169
@castwide, btw, one more issue. When I say Restart Solargraph in VSCode, in the past I can see the notification (bottom bar not vscode notification slide) that solargraph is initializing message and loader animation. Last 1-2 builds removed this feature.

I only see Solargraph Restarted message and not status for current state. (Like if its really restarting or failed or succeeded/ready.)

[2019-03-28 12:30] castwide commented on #169
@gencer The issue with progress notification during restart was a minor oversight in the VSCode extension. It'll be fixed in the next release.

[2019-03-28 22:50] pappasam commented on #102
@kmoschcau the problem is indeed fixed with the latest version of solargraph!

Ruby: ruby 2.5.1p57
Solargraph: 0.31.3
Neovim: NVIM v0.3.1
And of course the up to date LanguageClient-neovim.

So glad to see this is fixed, thanks!

[2019-03-28 22:50] #102 closed

[2019-03-29 19:05] AlanWarren commented on #33
Thanks, I experienced this with a rails project today using solargraph-0.31.3.  Downgrading to 0.30.2 fixed the issue.

Is there anyway to view output of which files solargraph is parsing when it hits the invalid byte sequence and crashes?

[2019-03-30 11:35] PyvesB opened #174 "Logo licensing"
Hello there,

I've recently been working on an Eclipse plugin to integrate Solargraph within the IDE. I'm thinking about open-sourcing the work I've done so far and sharing the plugin on the Eclipse marketplace. I want to create some sort of simple logo that incorporates visual elements from both the Eclipse logo and the Solargraph logo ([this one](http://castwide.com/assets/solargraph-9a5ea85304a

[2019-03-30 13:15] castwide commented on #174
Thanks for the consideration. I think it's reasonable to license the Solargraph logo under [CC BY-SA](https://creativecommons.org/licenses/by-sa/4.0/), so you have permission to share and adapt it as long as you provide attribution. Any other questions or concerns, just let me know.

[2019-03-30 20:00] castwide commented on #33
@AlanWarren I'm working on an update that will report which file triggered the error. Hopefully it will also be able to skip offending files and parse the rest of the workspace.

Can anyone who's experiencing this error let me know if there's a backtrace or any additional information in the console log? (In VS Code, Help -> Toggle Developer Tools; in Atom, View -> Developer -> Toggle Developer Too

[2019-03-30 20:56] #133 closed

[2019-03-31 14:58] kkneutgen commented on #33
@castwide I just sent the console-output via email to you.

[2019-03-31 17:23] PyvesB commented on #174
Thank you for your response! I'll keep that it mind, for now I've still got a fair bit of work to make things run smoothly. Will give you a shout when things are ready.

[2019-03-31 17:23] #174 closed

[2019-03-31 23:43] SaganRitual commented on #145
I'm having the same problem with `gem install overcommit`.

My environment is fairly straightforward, because I'm just now beginning a reinstall of my os onto a blank drive.

- Mac OS 10.14.4
- Ruby 2.6.0 installed per the RVM single-user instructions
- Homebrew 2.0.6
- Xcode 10.2

It was mentioned earlier that the latest ruby hasn't been fully vetted.  Should I try to install an older version of

[2019-04-01 15:34] castwide commented on #145
@SaganRitual If you can use Ruby 2.5 instead, it's probably worth a try. As far as I can tell, this issue is specific to rdoc on 2.6.

[2019-04-02 06:51] gencer commented on #169
@castwide, I did not want to open a ticket just for a simple question. I see that `domains` support for DSL. You have an example for `Sinatra`.

May I ask how to get it work with `Grape`? (https://github.com/ruby-grape/grape)

If you can tell me this, I will understand `domains` setting better and config further settings by myself.

Thanks,
Gencer.

[2019-04-02 08:34] gencer opened #175 "require in config file has no effect on project unless required explicitly"
One more issue. `.solargraph.yml` > `require` has no effect on my project.

See here:

![2](https://user-images.githubusercontent.com/1711576/55387821-d3b79a00-553a-11e9-97f9-341f51b8cb08.gif)

But If I **require explicitly**:

![1](https://user-images.githubusercontent.com/1711576/55388046-36a93100-553b-11e9-8f80-2b4497291695.gif)

Sample Project:

[test.zip](https://github.com/castwide/solargrap

[2019-04-02 19:55] castwide commented on #33
Thanks, @kkneutgen. That was exactly what I needed. I was able to trace the problem to a regular expression match that choked on invalid character encoding.

To reproduce the error, I created a file that contained UTF-8 (e.g., '¬'), converted its contents to ANSI with an external tool, and ran the file through the Solargraph source mapper.

I think I'll be able to have a fix for this in the next m

[2019-04-03 14:25] castwide commented on #33
The master branch has an update that might resolve this issue. It fixes the problem in the variation of the error I reproduced yesterday.

[2019-04-03 14:52] castwide commented on #33
One more change: exceptions during the mapping process will emit warnings that identify the file where the problem occurred.

[2019-04-03 15:39] castwide commented on #173
This change is in the master branch and will be included in the next release.

[2019-04-03 15:47] gencer commented on #175
I've re-updated the `master`. It works now. Weird.

Closing this issue now.

[2019-04-03 15:47] #175 closed

[2019-04-03 17:43] castwide commented on #170
The fix is in the master branch. It'll be released in version 0.32.0.

[2019-04-03 20:22] AlanWarren commented on #173
I tested using coc in neovim, and it works great.  Thank you!

[2019-04-04 10:48] castwide commented on #173
Released in v0.32.0.

[2019-04-04 10:56] castwide commented on #160
@tylerlu94 Are you still experiencing this problem? I'm no longer able to reproduce it using gem v0.32.0.

[2019-04-04 10:57] castwide commented on #166
Released in v0.32.0.

[2019-04-04 10:58] castwide commented on #171
Fixed in v0.32.0.

[2019-04-04 10:59] castwide commented on #170
Released in v0.32.0.

[2019-04-04 11:00] castwide commented on #33
Gem v0.32.0 includes the latest fix for invalid byte sequences and the new mapper exception handling.

[2019-04-04 11:24] castwide commented on #159
Fix released in v0.32.0.

[2019-04-04 11:26] #107 closed

[2019-04-04 11:27] #144 closed

[2019-04-04 15:30] kkneutgen commented on #33
Great, thank you. No more problems with strange encodings here.

[2019-04-04 17:40] castwide commented on #169
It looks like Grape uses a fair amount of Rails-style magic that Solargraph can't detect through static analysis. The `@!domains` directive probably won't handle it. I'm afraid I don't have a good recommendation for this one.

While I was testing Grape, I also found a bug in how completion requests handle extended class methods. I might be able to propose a solution that maps the Grape API, but I'

[2019-04-04 18:16] castwide commented on #169
Okay, the bug I encountered was in a development branch, so this solution should work with the current gem.

You can use the `@!parse` directive to make the runtime extensions to `Grape::API` explicit:

[code]

It's not pretty, but it works.

[2019-04-04 21:29] tylerlu94 commented on #160
Haven't run into this issue since the update. Thanks!

[2019-04-05 06:42] #170 closed

[2019-04-05 06:50] hima2nd opened #176 "YARD macro in 'class << self' block is defined not in class method but in instance method"
VSCode : Ruby Solargraph Version 0.19.5
Solargraph Version 0.32.0

Here's example code:

[code]

[2019-04-06 11:37] castwide commented on #176
Confirmed. This one is a little tricky, but an upcoming change to the way the mapper handles closures might help.

[2019-04-06 11:40] #93 closed

[2019-04-06 16:11] PyvesB opened #177 "GemNotFoundException when installed in a local folder"
Hello,

I'm trying to install Solargraph in a local folder by using the following command:
`gem install solargraph -i .`

Unfortunately, things don't seem to be wired up correctly when I try running the Solargraph executable in the `bin` subfolder. On a Windows operating system:
[code]

On a Fedora system, similar problem:
[code]

Thanks in advance for your help!

Cheers,

Pyves

[2019-04-06 18:22] castwide commented on #177
I don't know if it's supposed to work that way. I tried `gem install opal -i .` and running the opal executable gave me the same error.

[2019-04-07 16:33] #113 closed

[2019-04-08 18:54] castwide commented on #163
`(see #method)` return type support is released in v0.32.0. I hope to add support for param types in v0.33.

[2019-04-10 01:03] dbg1995 opened #178 "wrong bundler version"
Hello.
when run `gem install solargraph `
My console:
[code]
It has installed installed bundler-2.0.1.
But i using bundler 1.17.1 at this workspace.  so when run `solargraph -v `is a failure.

I do not want to update the bundler version at this workspace. I don't know what else to do, can you help me?

[2019-04-10 05:57] unirt commented on #178
I had the same problem after upgrading solargraph to v0.32.1, and solved by downgrading to v0.31.3.
[code]

[2019-04-10 06:10] dbg1995 commented on #178
@unirt  thank you for your help. it worked.
I added `gem "solargraph"` to `gemfile`. After i run `bundle install` and `git checkout -f`.  It has installed ` solargraph -v 0.31.3`
I have discovered  solargraph (= 0.32.1)  is depends on bundler (>= 1.17.2)

[2019-04-11 08:55] bk322 commented on #178
I updated to bundler 2.0.1, RubyGems 3.0.0, and solargraph 0.32.1 -- but lsp-rename in Emacs still doesn't work. I'm on ruby-2.5.5. Where do I look for a solution?

[2019-04-11 10:09] bk322 commented on #178
Made it work by switching to bundler 2+, RubyGems 3+:

[code]

[2019-04-11 10:42] #178 closed

[2019-04-12 07:46] MicMicMon commented on #139
Happens to me, for example after checking out a new git branch which changes a bunch of files.

[2019-04-12 07:49] landonepps commented on #93
This worked for me! I was tired of rubocop complaining about Rails' autogenerated files.
For the record, this file goes in your project's root directory not your home directory.

[2019-04-12 12:53] gencer commented on #139
Yes, same here too. Let say you run a rake task that generates a few files. This error occures. Same for if you delete file manually from Explorer while Solargraph is on.

[2019-04-12 13:04] castwide commented on #139
@MicMicMon @gencer Thanks for the details. I'll reopen this issue and dig further.

[2019-04-15 21:47] towo opened #179 "Required path could not be resolved with ruby-libvirt"
When using the `ruby-libvirt` gem, which is required as `libvirt`, solargraph complains that

[code]

I'm assuming the reason here is that the file is `/usr/lib/ruby/gems/2.6.0/gems/ruby-libvirt-0.7.0/lib/libvirt.rb`.

[2019-04-16 21:20] PyvesB commented on #177
After some further digging, I think you're right, it's probably not supposed to work that way. I was getting confused by the fact that the full option name is `install-dir`. But the `gem install` command help states the following about `-i`:

I'm still unsure what the purpose of this flag actually is if it installs gems that aren't usable.

By using the `gem install solargraph -n .`, I do get a go

[2019-04-16 21:20] #177 closed

[2019-04-25 19:04] castwide commented on #179
One simple possibility is missing YARD documentation. Try running `yard gems` to generate and install the yardocs.

Please let me know if you still experience problems. I'm currently unable to install `ruby-libvirt` on my workstation, but I can try with a different machine later.

[2019-04-30 16:56] castwide commented on #137
Closing for lack of activity. If you have an update, please feel free to reopen or start a new issue.

[2019-04-30 16:56] #137 closed

[2019-04-30 16:58] #155 closed

[2019-05-04 19:55] castwide commented on #139
The master branch includes a change that forces libraries to update their maps when the language server reports file events. This should fix FileNotFoundErrors that have been happening when external processes create or delete files.

[2019-05-05 13:17] gencer opened #182 "No autocomplete on many gems (e.g.: Octokit)"
![1](https://user-images.githubusercontent.com/1711576/57194575-2082fc00-6f51-11e9-9c54-25bb39e10acc.gif)

This is an example for Octokit. I can say two things for this:

1. This happens for many gems like this.
2. It was working before (_not sure exactly which version_)

Sample project: [sample.zip](https://github.com/castwide/solargraph/files/3145557/sample.zip)

[2019-05-07 04:40] castwide commented on #182
It probably means that them gems don't have YARD documentation installed. You can generate the docs by running `yard gems` from the command line or running `Solargraph: Build new gem documentation` from VS Code's command palette.

I was able to get intellisense for Octokit after running `bundle install` and `yard gems` in your sample project.

[2019-05-07 09:43] castwide commented on #139
Released in v0.32.2.

[2019-05-07 11:35] gencer commented on #182
I already did `yard gems` and has no effect.

I do not get anything from `solargraph`. With or without require.

[2019-05-07 12:11] castwide commented on #182
It works for me with `require`. Did you make sure the gem is installed?

There appears to be a problem with the `require` configuration in `.solargraph.yml`. I'll look into it.

[2019-05-09 14:38] #33 closed

[2019-05-09 14:39] #124 closed

[2019-05-09 14:40] #166 closed

[2019-05-09 14:42] #159 closed

[2019-05-09 14:42] #160 closed

[2019-05-09 14:43] #171 closed

[2019-05-10 12:22] Hubro opened #183 "This way of documenting a dynamically generated class breaks Solargraph"
The following class (`Kartverket::Address`) makes Solargraph spam errors in the Output panel any time I'm working with an instance of the class. Since I can't stop the Output panel from opening, this is extremely distracting and annoying.

[code]

Here's a sample output of the errors:

[code]

[2019-05-10 13:46] akrawchyk commented on #152
@castwide thanks for the example! I noticed the `class ActiveRecord::Base` part is missing from the `.solargraph.yml` config in #87. Is that only workable with the `@!parse` directive, or could we add a line in the `domains` section of the config to get the same behavior?

[2019-05-10 14:14] castwide commented on #152
The `@!parse` directive is currently the best way to handle it. The config's `domains` section (along with the custom `@!domain` directive) is intended to expose a class/module's public methods as a DSL. It wouldn't work correctly for the `ActiveRecord::Base` issue.

[2019-05-10 14:30] castwide commented on #183
Confirmed. The problem appears to be the `Address` constant assignment in combination with the class definition. If the code only uses one or the other, the error doesn't happen.

[2019-05-10 16:15] minkir014 commented on #183
I didn't what you have said. Is the problem in the extension or the class?

[2019-05-10 16:57] castwide commented on #183
At least part of the problem is in the extension. Here are minimum examples to demonstrate what I meant:

[code]

[code]

[code]

I don't know if the way you're using them together is correct because I don't know how the `Value` class works. If `Value.new` doesn't return another class, the class definition should throw a `TypeError` when you run the script.

But even if the code is invalid, Solarg

[2019-05-10 17:14] Hubro commented on #183
@castwide `Value.new` does indeed return a class

[2019-05-10 21:29] minkir014 commented on #183
You can see how the ruby side extension for vs code manages this. It doesn't have this issue.

[2019-05-11 04:21] castwide commented on #183
Thanks, @Hubro. Resolving the `Address` type from both definitions might be a little tricky, but at least I can get rid of the error.

@minkir014 What ruby side extension?

[2019-05-11 18:45] minkir014 commented on #183
Sorry I meant ruby ide extension.

[2019-05-11 19:36] castwide commented on #183
Gotcha. Unfortunately, the problem was specific to code mapping features that don't have an equivalent in rubyide/vscode-ruby.

On the plus side, I have a fix. It's pushed to the master branch and I expect to release a new gem early next week.

[2019-05-14 10:19] castwide commented on #183
Released in gem v0.32.3.

[2019-05-14 11:06] Hubro commented on #183
I'm on vacation this week but I'll test it out ASAP.

[2019-05-14 11:49] erazor-de opened #184 "Misleading error message when trying to download non existant core file"
When one tries to download a non existing core file like

    solargraph download-core 2.5.5

The resulting error message is

    .gem/ruby/gems/solargraph-0.32.3/lib/solargraph/yard_map/core_docs.rb:146:in `initialize': not in gzip format (Zlib::GzipFile::Error)

which is misleading and might be improved with a hint at available cores.

[2019-05-14 11:55] castwide commented on #184
You can get a list of available cores by running `solargraph available-cores`. If you run `solargraph download-core` without specifying a version, it'll download the closest match to whatever version you're currently running.

Nonetheless, I agree the error message for non-existent cores should be clearer. I'll fix it in an upcoming version.

[2019-05-15 10:58] castwide opened #186 "Version 0.33.0"
The `closure` branch introduces a major refactoring of the Solargraph internals. Most of the changes are in the mapping processes to improve performance and accuracy. It also introduces enhanced closure support and deprecates the existing plugin architecture.

## Enhanced closure support

The new mapper has a deeper understanding of namespaces, scopes, and closures. Blocks can be rebound based on

[2019-05-15 11:01] castwide commented on #176
This bug is fixed in the `closure` branch. I expect to release the fix in version 0.33.0. More information: #186

[2019-05-16 17:37] tekknovator commented on #33
Works here as well now. Sorry for not responding earlier. I used the characters inside of a heredoc.

[2019-05-16 21:57] castwide commented on #186
Version 0.33.0 will also add an enhancement to type inference.

Solargraph first introduced deep type inference in 0.29.0. It enables maps to infer return types from methods without tags:

[code]

Version 0.33.0 includes the inferred types in hover info and completion item detail:

![image](https://user-images.githubusercontent.com/3704922/57889571-22777580-7803-11e9-8ec1-c8e74ce893dd.png)

![imag

[2019-05-22 18:13] abraham commented on #139
No further issues here.

[2019-05-22 18:21] gencer commented on #139
I also confirm that, I no longer see any error since release.

Thank you, Fred!

[2019-05-29 00:46] alagos commented on #139
I was using 0.32.3, I've just upgraded to 0.32.4 and I'm still seeing this problem:

[code]
quick review, it looks it's happening only with rake files.

[2019-05-30 07:19] vivektiwary opened #187 "100% cpu usages while using it with coc.nvim on mac"
OS: macOs Mojave (version 10.14.5)
solargraph -  (0.32.3)
Ruby - 2.5.1

While using solargraph with coc.nvim in my neovim, the
`2.5.1/bin/solargraph stdio` is taking 100% CPU.

[2019-05-30 07:39] castwide commented on #187
Gem version 0.32.4 should resolve at least part of the problem. The language server's IO processing is much more efficient. (More info: castwide/vscode-solargraph#117)

Other than that, initialization can be intensive depending on the size of your workspace. It scans all of the available Ruby files, excluding a few directories like `spec`, to generate a map of all your code. You can tweak the map

[2019-05-30 16:50] taylorthurlow commented on #139
I've been getting it with what seems like just my files in my `/test` directory?
[code]

[2019-05-30 21:33] castwide commented on #139
The next version of the gem will log FileNotFoundError for debugging purposes but will not send an error message to output. I'm also working on a way to correct the error in place instead of ignoring it, but this way at least it won't impact usability.

The change is currently in the master branch. I'll try to have it ready for publication tomorrow.

[2019-05-30 21:45] minkir014 commented on #139
@castwide So you say you'll find the solution to correct the error instead of ignoring it in tomorrow publication.

[2019-05-30 22:02] castwide commented on #139
I'll ignore it either way, just to make sure the error doesn't annoy people by stealing focus in VS Code (or any other client). I hope to find a better long-term solution, but this should be good enough for now. The only side-effect is that hover and autocomplete might be temporarily unavailable while the server catalogs the new file. Cataloging is usually fast enough to be measured in millisecond

[2019-05-31 21:34] castwide commented on #139
Gem v0.32.5 is released. FileNotFoundErrors during completion and hover operations no longer steal focus in the client.

[2019-06-03 08:11] castwide commented on #186
Go To Definition works on require paths. It should open files either on the local path or in a detected gem.

![ymeaiqiLJl](https://user-images.githubusercontent.com/3704922/58786441-91035400-85b5-11e9-9c82-47eb4428ac9c.gif)

[2019-06-03 09:04] thomthom commented on #186
I wasn't aware of that. Makes me wonder if I can use solargraph for some static analysis. Currently I'm using rubocop for some - but it only gets you so far.

[2019-06-03 10:37] minkir014 commented on #186
Solograph uses rubocop for linting and diagnostics

[2019-06-03 10:45] castwide commented on #186
I'm working on more static analysis tools. Some of the features I'm exploring:

* Recommend and/or generate `@return` tags from inferred method types
* Flag unrecognized method calls
* Flag method arguments that appear to be the wrong type
* Generate reports about a project's type safety
* Enforce a baseline of type safety in tests, git hooks, CI, etc.

I'm also looking at an option to generate ge

[2019-06-03 13:41] thomthom commented on #186
That sounds mighty interesting. One of the key things I wish I could do in static analysis was have better tracking of values beyond the direct scope they are used in. Right now I'm working around it by using fragile naming convention to infer what the code might do.

These tools you describe you are looking into, will they be in solargraph, or as other standalone tools?

[2019-06-03 13:58] castwide commented on #186
Can you give me an example? I'm not sure what you mean.

For now, I'm planning to make them part of Solargraph, since they share a lot of functionality with the language server. If it gets too unwieldy, I might split the mapping and static analysis libraries into a separate gem, which would simply become one of Solargraph's dependencies.

[2019-06-03 16:44] thornomad opened #188 "Help understanding limitations with Rails and Solargraph"
Very new to solargraph so forgive me is this is obvious.  I see from #87 that Rails support is still in the pipeline -- but as I am new I want to make sure I am covering my bases.

*Is there a way to get _instances_ of a class recognized as belonging to the class they are coming from with methods such as `MyActiveRecord.find()`?*

For example: `Person.find(1)` (no) vs `Person.my_find()` (yes)

[co

[2019-06-04 03:25] castwide commented on #188
One issue with your .solargraph.yml: the paths in the `plugins` section should be in `require`. That might get you a little more intellisense, but it still won't be complete.

Solargraph doesn't know that `Person.find` should return a `Person` because Rails doesn't provide a `@return` tag for the `find` method.

One workaround is to identify the variable type with a `@type` tag:

[code]

[2019-06-04 11:29] minkir014 opened #189 "problem with install command"
I am on Windows 7 Ultimate. I typed the command `gem install solograph` and it showed this error

![er](https://user-images.githubusercontent.com/42807112/58875772-b6cf4c80-86cc-11e9-8dbc-e3bd35ee58ab.jpeg)

[2019-06-04 11:44] castwide commented on #189
The gem name is wrong. `gem install solargraph`

[2019-06-04 12:36] minkir014 commented on #189
It still shows the same error.

![er](https://user-images.githubusercontent.com/42807112/58879510-20078d80-86d6-11e9-9ba9-e0413483e02a.jpeg)

[2019-06-04 12:44] castwide commented on #189
Can you install any other gems? Since you got the same error with solograph, I suspect it's a problem with your local system. Solograph doesn't exist, so it should have given you a "Could not find a valid gem" error.

[2019-06-04 13:27] minkir014 commented on #189
It seems that the problem isn't with your gem or vs code extension. It's with Ruby itself because I can't install other gems. I'll try to uninstall Ruby and install it again. Thanks for help.

[2019-06-04 13:27] #189 closed

[2019-06-04 13:28] thornomad commented on #188
Thank you for your reply.  I've fixed the `.solargraph.yml` issue.  What you describe about Rails not providing the documentation is disappointing—but what I was suspecting.  I wasn't sure if there was even a way to have a child class dynamically assign its return values based on documentation from the parent class.

I'm curious how other users of Rails and Solargraph deal with this issue?

My ima

[2019-06-04 14:42] castwide commented on #188
One thing that could make it a little cleaner is using YARD directives to generate the documentation without modifying the actual code. There are currently a couple bugs in the way directives get parsed (see #176) that I plan to have fixed in gem 0.33.0, but there's a workaround for now.

You can use the `@!parse` directive to add "virtual" code to the documentation like this:

[code]

The problem

[2019-06-05 08:57] castwide commented on #145
Closing for inactivity. If anyone still experiences problems with installation, please feel free to comment or open a new ticket.

[2019-06-05 08:57] #145 closed

[2019-06-05 14:42] thornomad commented on #188
Thanks for the insight again -- looking forward to `0.33`.  I agree that the last suggestion is the most more better!  Can't wait.

[2019-06-05 14:42] #188 closed

[2019-06-07 13:08] tallytarik commented on #145
A fix has just gone into Ruby for this issue: https://github.com/ruby/ruby/commit/6566919176834efb47ea717967669ca83eb78347.

Until this lands in the next version of 2.6, you can patch `ripper_state_lex.rb` locally. Working perfectly with latest Solargraph and Ruby 2.6.3.

[2019-06-08 08:57] castwide commented on #186
The `closure` branch is merged into master.

[2019-06-10 16:20] gencer opened #190 "No autocomplete methods inside `class << self` via comments"
[code]

I'm using `closure` branch which is super-awesome and it is autocomplete in lightning speed.

![2](https://user-images.githubusercontent.com/1711576/59209577-4fc20400-8bb4-11e9-8d7a-bf9cf5be84f0.gif)

Could be related to #176.

Sample: [sample.zip](https://github.com/castwide/solargraph/files/3272869/sample.zip)

[2019-06-10 16:27] gencer commented on #190
I see that `closure` merged into `master`. Tested on master and still have the same issue.

[2019-06-10 16:42] castwide commented on #190
Your `@type` and `@param` tags declare the type as an instance of `Mail::Action::Base`, so autocomplete suggests instance methods instead of class methods.

If the value is actually supposed to be a reference to the class, you can make the tag `Class<Mail::Action::Base>`:

[code]

[2019-06-10 19:18] gencer commented on #190
Oh. Got it! Sorry for my mistake. Thank you for the reply.

[2019-06-10 19:18] #190 closed

[2019-06-13 09:41] tvallois commented on #87
Hi, any news on this?

Is there any dedicated branch for Rails where we could help you to implement it?

[2019-06-13 23:46] alagos commented on #139
I upgraded to 0.32.5, removed old versions, but still seeing the issue 😓
[code]

[2019-06-14 13:29] castwide commented on #139
@alagos Some things that can help us debug:

1. If you're using a Ruby version manager like rvm or rbenv, it's possible that VS Code is using a different version than what you see on the command line. You can confirm whether the version in VS Code is correct by running `Solargraph: Get environment info` from the command palette.

2. When you get this error, is the `test/unit/alert_test.rb` open in

[2019-06-14 15:21] castwide commented on #87
Solargraph's YARD support is at a point where some of the missing Rails intellisense can be filled with a small `@!parse` directive. I created a gist for it here: https://gist.github.com/castwide/28b349566a223dfb439a337aea29713e

I'm looking for ways to improve it, including ways to make it easy to install and maintain. Any suggestions are welcome.

[2019-06-15 22:56] guzart opened #191 "Factory types"
Hello!

Is there a way to document that a function yields an instance of the class passed in as a parameter?

[code]

Thank you for your help.

PS: Amazing, amazing work on this gem and the VS Code extension 👏 👏 👏 !

[2019-06-15 23:33] castwide commented on #191
Thanks!

That's not possible yet, but I might be able to make it work based on the way that return types are inferred from methods with [`@!macro`](https://www.rubydoc.info/gems/yard/file/docs/Tags.md#macro) directives. Example:

[code]

For a yieldparam, it should look something like this:

[code]

I'll add it to the roadmap.

[2019-06-18 03:25] alagos commented on #139
I'm using rbenv, but I only have one ruby version. Even if I had another one, I only have installed `solargraph` on my current ruby version.
The files are only opened in vscode and they aren't new files. The only way I can think to make the files content change out of the editor is when I move to another branch, if that helps.

### Solargraph Environment Info

**System**

- Platform: x86_64-darwin

[2019-06-18 12:59] castwide commented on #186
Released v0.33.0.

[2019-06-18 13:16] castwide commented on #184
The error message is updated in gem 0.33.0.

[code]

[2019-06-18 13:17] castwide commented on #176
Fixed in gem v0.33.0.

[2019-06-18 13:30] castwide commented on #139
Gem 0.33.0 includes a fix that should help with this. The problem appears to be related to files that are either excluded from workspace maps, such as unit tests, or files from external libraries. There was a potential window where the language server's library would be out of sync: it would detect that the file was open before it was mapped. 0.33.0 makes sure the library is synchronized.

[2019-06-18 13:36] castwide opened #192 "Static type checker"
Gem version 0.33.0 introduces the first version of the static type checker. You can use it from the command line or add it to your editor's diagnostics.

## Command Line

Run it from the command line:

[code]

The output will list all methods that have missing or invalid `@return` and `@param` tags.

To check a specific file only, use `solargraph typecheck ./file.rb`. (The type checker will still

[2019-06-18 13:38] castwide commented on #52
Solargraph.trace may be superceded (or at least massively altered) by the new static type checker (#192).

[2019-06-18 18:47] mathieushopify commented on #87
@castwide Using the gist above, it works well in many cases... thank you!  However, in the 'activesupport' gem, there is a method `blank?` which is not included... is there a workaround?  (.gem/ruby/2.5.3/gems/activesupport-5.2.2.1/lib/active_support/core_ext/object/blank.rb)

[2019-06-18 19:12] castwide commented on #87
@mathieushopify It works in circumstances where a type can be inferred:

[code]

If those don't work, make sure you have the latest gem version (0.33.0 was released this morning) and run `yard gems` to make sure they're documented.

Completion won't work on on unknown types, which is unfortunately the status of most of the Rails API; for example, completion will suggest `ApplicationRecord.find`, b

[2019-06-18 19:25] mathieushopify commented on #87
Makes sense, thanks for the prompt reply!  :-)

[2019-06-18 21:38] dgutov commented on #87
@castwide Don't most types inherit from `Object`, though?

Although the lack of completions it can be a useful indicator that the type is in not inferred. "Some completions" is not always better than "no completions".

[2019-06-18 21:54] thornomad commented on #188
It looks like this is working now in 0.33 !  Woot!  Thank you!

Quick follow up question ... is this the correct way to do it for `where` and `find` ?

[code]

### PS:

I noticed when I used `class << self` approach ... the second and subsequent `@!method` definitions did not get picked up.  When I switched to `self.find` etc it works.

Thank you thank you thank you!

[2019-06-18 22:17] castwide commented on #188
Glad you got it working!

I've been using `@return [self]` for `find` in my tests. It doesn't cover every possible case, since certain parameters will make it return `Array<self>` instead, but it's a start.

For `where`, I think `@return [ActiveRecord::Relation]` is more technically correct, but you might lose some context that way.

I encountered the same bug with multiple  `@!method` directives

[2019-06-18 22:25] castwide commented on #87
@dgutov Yeah, my personal preference is for undefined types to return no completions instead of assuming `Object`. It's less ambiguous about whether a type was detected.

If anyone finds it more useful to assume `Object` for untagged methods, we might be able to make it a configuration option.

[2019-06-19 11:33] thornomad commented on #188
Yea - I kept going back and forth between those two options.  Class methods on the model are not available using `ActiveRecod::Relation` though—which is often what I need the most help with.  I thought maybe I could do `[ActiveRecord::Relation<MyModel>]` or something to indicate it was a child  of it ... but no luck.

[2019-06-19 15:46] castwide commented on #176
Version 0.33.1 fixes an additional issue with multiple directives in the same comment block.

[2019-06-19 18:30] njyrbecker opened #193 "Request textDocument/foldingRange failed on each open file in vscode on OSX"
Seeing this message pop up in console each time I open a file in vscode.  Either via option-p, or via find in files + click to open, etc.

Request textDocument/foldingRange failed.
  Message: [Solargraph::FileNotFoundError] Host could not find file:///path/to/file

I can confirm that the file URIs it spits out in the errors are actually valid; I can copy them to chrome and open them with chrome wi

[2019-06-19 19:21] castwide commented on #193
Are the files you're trying to open outside of the workspace or in an excluded directory like `test`?

Do you get any error messages or a stack trace in the developer console (Help -> Toggle Developer Tools)?

[2019-06-19 19:43] njyrbecker commented on #193
Going to close this out, as a second restart of vscode made it go away.  It started after updating the gem and telling vscode to restart the solargraph server, persisted through one restart of vscode, but when I restarted a second time, it went away., and now does not seem to reproduce.

To answer the questions, the files were within the workplace, and  not in an excluded directory.

[2019-06-19 19:43] #193 closed

[2019-06-19 21:29] minkir014 commented on #176
Close this issue.

[2019-06-20 04:59] hima2nd commented on #176
Thanks!

[2019-06-20 04:59] #176 closed

[2019-06-20 19:27] sunnyrjuneja opened #194 "Relation with Sorbet"
Hello castwide! Big fan of this gem and been using it quite often. I'm curious, now that Sorbet is public, do you see any relationship between Sorbet / Solargraph?

https://sorbet.org/blog/2019/06/20/open-sourcing-sorbet

[2019-06-20 20:06] castwide commented on #194
Thanks!

Sorbet came to my attention a few months ago. Glad to see they've started open-sourcing it. A relationship between Sorbet and Solargraph is definitely a possibility. Some of the features overlap, and they have lots of potential to complement each other. A few preliminary thoughts:

* Solargraph 0.33.0 introduced a beta of its own static type checker. One important difference is that Solar

[2019-06-20 20:28] sunnyrjuneja commented on #194
@castwide great answer! i've been doing some more investigation myself and it feels the ecosystem around sorbet is pretty minimal (for example, i can't find any editor plugins). you've obviously done a fantastic job of developer ux so i hope there's a bit of overlap between your projects.

[2019-06-20 20:54] thomthom commented on #192
This checks if there is a type defined for params and return tags in the doc-comments? But it doesn't Analyse code paths to see if incorrect type might be passed to the methods?

[2019-06-20 21:02] castwide commented on #192
The normal type check only checks `@return` and `@param` tags, but strict type checks analyze code paths.

[code]

[2019-06-20 22:12] DarkDimius commented on #194
@sunnyrjuneja Sorbet actually has a LSP server inside it(pass `--lsp` on the command line) and thus should be easy to integrate if you were to try!

[2019-06-20 22:13] DarkDimius commented on #194
Editor plugin exists but it's currently closed source. It will get open-sourced when we stabilize LSP features.

[2019-06-20 22:38] minkir014 commented on #194
@DarkDimius Is there a plugin for vs code???

[2019-06-21 04:28] sunnyrjuneja commented on #194
@DarkDimius Thank you for the update! Looking forward to the open sourcing of the editor features. My CTO and I are already working on integrating Sorbet into our Rails application.

I've been closely tracking Twitter for updates on Sorbet and am extremely excited about the work you've released today. I'm so grateful for you and your team's hard work.

[2019-06-21 07:18] fieldse opened #195 "Build fails: stdint.h: No such file or directory"
Hi
Compilation of Solargraph fails with `**fatal error: stdint.h: No such file or directory**`
Some details:
(Please let me know what other details I can provide that would be useful.)

**Host:** Linux kernel version 4.18.0-21-generic

**Failing line:**
Build fails at  `# include_next <stdint.h>`

Complains:
[code]

**Details:**
- gcc version: `gcc (Ubuntu 8.3.0-6ubuntu1~18.10) 8.3.0`
- g++ versio

[2019-06-21 08:07] thomthom commented on #52
Did you see the static analysis tool for Ruby that Stripe just announced? https://sorbet.org/

[2019-06-21 10:21] minkir014 commented on #194
@DarkDimius Are you here? Please answer my question above.

[2019-06-21 10:40] castwide commented on #52
Yep. There's some discussion about it in #194

[2019-06-21 10:54] castwide commented on #195
The error is specific to the jaro_winkler gem, which is one of solargraph's dependencies.

I'm not able to test at the moment, but based on similar errors reported elsewhere, you might need to `sudo apt-get install avr-libc`.

Related:
https://github.com/tmk/tmk_keyboard/issues/373
https://groups.google.com/forum/#!topic/simavr/-kElbH5kEKQ

[2019-06-21 11:06] castwide commented on #139
Gem 0.33.2 introduces one more change that fixes FileNotFoundError in textDocument/references messages, and might finally eliminate the root cause.

The commonality between most/all the errors was a `checkout` method. Its purpose was to ensure that external files were synced with a library before querying its maps. The error would occur when `checkout` was called more than once in a single query.

[2019-06-21 11:06] fieldse commented on #195
Thanks for the lead 👍
Will that and report back.

[2019-06-21 11:33] #143 closed

[2019-06-21 11:36] castwide commented on #163
Gem 0.33.2 supports (see) references in `@param` tags and top-level comments.

[2019-06-21 11:53] castwide opened #196 "Completion for keyword parameters"
The `master` branch includes support for completing keyword parameters in method call arguments.

![image](https://user-images.githubusercontent.com/3704922/59920761-93f5a580-93f9-11e9-9590-232844160a84.png)

[2019-06-21 12:46] #152 closed

[2019-06-21 17:57] taylorthurlow opened #197 "Global configuration support"
Is there any chance we could get support for a global config at `~/.config/solargraph/config.yml` or something similar? Overridden by the project configuration obviously.

[2019-06-21 18:05] castwide commented on #197
Good idea. I'll add it to the roadmap.

I might not get to this for a while, so if anyone wants to submit a PR, just let me know and I'll assign it. I don't expect it to be too difficult, but my plate is crazy full.

[2019-06-21 18:16] taylorthurlow opened #198 "Some warnings when running typecheck manually"
Here's my console output:

[code]

Not sure if the `not a git repository` and other warnings are related.

[2019-06-21 18:34] castwide commented on #198
The workspace mapping process collects information about your workspace from its .gemspec files. If it encounters an exception reading them, it logs the error and keeps going.

In this particular case, the gemspecs are in vendored gems, so they should probably be ignored. I'll look into fixing it.

[2019-06-21 19:09] sunnyrjuneja commented on #194
@minkir014 he answered your question, it's coming soon.

[2019-06-21 23:16] castwide opened #199 "Conventions"
A `Convention` is a set of modifications to the code maps based on the currently open files. The first three supported conventions are Gemfile, Gemspec, and Rspec.

* Files named `Gemfile` expose the Bundler DSL (`gem`, `gemspec`, etc.)
* Files ending with `.gemspec` automatically require `rubygems` and understand yielded specs in `Gem::Specification.new` blocks.
* Files ending with `_spec.rb` exp

[2019-06-22 03:50] taylorthurlow opened #200 "Tab-completing a symbol drops the colon prefix"
Consider this short code example:

[code]

In a new line, typing `something[:k` will begin auto-suggest like so:

![Screen Shot 2019-06-21 at 8 46 55 PM](https://user-images.githubusercontent.com/761640/59959123-ebc9f600-9465-11e9-828b-a119cb7f286d.png)

Accepting this auto-complete, in my case with TAB, produces this:

[code]

Notice the lack of a colon in `[key]` - I expect `[:key]`.

[2019-06-22 10:17] minkir014 commented on #199
By saying

Do you mean that you have implemented it but haven't updated the gem nor the editor's extension???

[2019-06-22 16:27] castwide commented on #200
What editor are you using?

[2019-06-22 16:29] castwide commented on #199
Yes. It'll be released in gem version 0.34 and won't require an extension update.

[2019-06-22 17:35] taylorthurlow commented on #200
Wow sorry I left that out. Solargraph 0.33.2 and the latest stable release of Sublime Text 3. I'm using the LSP package which is preconfigured for solargraph.

[2019-06-22 17:43] castwide commented on #200
Thanks. This might be specific to Sublime Text. I wasn't able to reproduce it in VS Code or Atom.

[2019-06-22 17:46] taylorthurlow commented on #200
Alright I'll do some investigating.

[2019-06-22 18:31] castwide commented on #198
There's a fix for this in the `master` branch. It'll be in the next gem release.

[2019-06-22 18:47] taylorthurlow commented on #200
I've determined that the issue is related to LSP. I've opened [an issue](https://github.com/tomv564/LSP/issues/623) and a [pull request](https://github.com/tomv564/LSP/pull/624) which fixes the issue.

[2019-06-22 18:47] #200 closed

[2019-06-22 20:56] castwide commented on #165
The online demo has been updated to use gem 0.33.2. `ctrl+space` works in my tests.

[2019-06-23 00:33] castwide opened #201 "`@overload` tags"
The `master` branch includes support for the YARD `@overload` tag.

[code]

Internally, Solargraph uses `@overload` for varying return types from `Array#[]`:

[code]

[2019-06-23 00:40] castwide commented on #183
Closing as fixed.

[2019-06-23 00:40] #183 closed

[2019-06-23 11:16] minkir014 commented on #201
Will this also be published in the release 0.34?

[2019-06-23 16:43] castwide commented on #201
Yes.

[2019-06-23 17:06] connorshea commented on #194
@castwide FWIW, Sord is a tool for translating YARD docs into Sorbet signatures (and it works pretty well already): https://github.com/AaronC81/sord

It only works in one direction, though.

[2019-06-24 13:01] gencer commented on #142
+1 for this.

[2019-06-24 13:16] castwide commented on #142
I still haven't been able to reproduce this issue. Two questions for anyone who can:

1. What version of RuboCop is installed?
2. Can you provide example code that triggers the error?

[2019-06-24 13:22] gencer commented on #142
[code]

Sample code:

[code]

[2019-06-24 13:26] gencer commented on #142
I think this is happening because of .rubocop.yml file.

Please test with:

[code]

[2019-06-24 13:40] castwide commented on #142
Yep, that did it for me. Thanks, @gencer! I'll see if I can track down the error from the spawned process.

[2019-06-24 14:57] castwide commented on #142
Here's the error:

[code]

I'll update the gem so it sends the original error from the RuboCop process instead of the subsequent error from failing to parse an empty result.

[2019-06-24 15:16] gencer commented on #142
I've updated that setting according to recommendation from rubocop. However, it still produces an error.

[2019-06-24 18:59] castwide commented on #142
Updating that setting worked for me. There might be some other difference in our default RuboCop configurations or some other environment setting.

I pushed a change to the master branch that reports the specific RuboCop error. It'll be in the next gem release.

[2019-06-25 09:16] castwide commented on #201
Released in 0.34.0.

[2019-06-25 09:17] castwide commented on #199
Released in 0.34.0.

[2019-06-25 09:17] castwide commented on #198
Fixed in 0.34.0.

[2019-06-25 09:17] castwide commented on #196
Released in 0.34.0.

[2019-06-25 09:19] castwide commented on #192
Gem 0.34.0 includes some updates to the type checker, including support for validating overload tags and preliminary support for validating duck types in strict mode.

[2019-06-25 09:19] #186 closed

[2019-06-25 09:21] castwide commented on #142
The fix is released in 0.34.0. You'll probably still get an error, but at least now it should tell you exactly what caused it.

[2019-06-25 09:33] castwide commented on #87
Version 0.34.0 introduces some new features that should add some improvements to Rails support.

## Quick Start

1. Install the latest Solargraph gem.
2. Run `solargraph bundle` from your Rails app's root directory.
3. Add the most recent version of this file: https://gist.github.com/castwide/28b349566a223dfb439a337aea29713e

## How It Works

* `solargraph bundle` makes sure that YARD documentatio

[2019-06-25 11:51] minkir014 commented on #87
When you intend to fix this issue?

I think it should go to the correct line.

[2019-06-25 11:58] mathieushopify commented on #87
@castwide thanks for the update!

[2019-06-25 16:41] taylorthurlow opened #202 "Error when running "solargraph bundle""
[code]

In my case it looks like it finds the spec but `spec.__materialize__` returns `nil`.

[2019-06-25 19:12] dirksierd commented on #87
Great stuff! Thanks!

[2019-06-25 20:18] castwide commented on #202
I think you're right. In those cases, it should probably skip the spec with a warning. I'll work on that for a patch release.

A couple other things that might help:
* You might need to run `bundle install` to make sure your bundle is up to date.
* If you added `solargraph` to your Gemfile, you can try running `bundle exec solargraph bundle` instead.

[2019-06-25 20:52] taylorthurlow commented on #202
My bundle is up-to-date, and I was running it with `bundle exec`. I added a catch for the issue and out of 182 gems in my bundle, it fails to initialize all but 2 of them. One of the gems it succeeds on is [rufo 0.7.0](https://github.com/ruby-formatter/rufo), and the other is an internal gem I cannot share.

[2019-06-25 20:58] castwide commented on #202
Thanks for the info. I'll test against Rufo and see what happens.

Are those gems installed in a diferent location than the others in your Gemfile, like with a `path` or `git` argument?

[2019-06-25 21:01] taylorthurlow commented on #202
Nope, both of those are included in the Gemfile the same as the others that are failing.

[2019-06-25 21:02] castwide commented on #202
Okay, thanks.

The `master` branch includes a change that will skip and warn for unmaterialized specs. It's slated for the next release.

[2019-06-25 21:09] taylorthurlow commented on #202
Ah I spoke too soon. I forgot that I had added a `path` option to the internal gem. I removed it and now it's failing - so using a local path does solve the issue. That said, `rufo` is still working without any extra parameters.

[2019-06-25 23:07] gencer commented on #142
Update: Confirmed, This fixed my issue.

[2019-06-27 00:45] minkir014 commented on #87
@castwide can you tell me that if that was an ordinary work or it have an issue??

[2019-06-27 00:57] castwide commented on #87
@minkir014 I'm sorry, I don't know what you mean.

[2019-06-27 01:52] castwide commented on #202
Fix pushed in v0.34.1.

[2019-06-27 02:00] castwide commented on #87
Gem 0.34.1 fixes some issues that occurred in certain bundler environments.

[2019-06-27 03:05] taylorthurlow commented on #202
I did some more thinking and I might know what the problem is, and why Rufo was an exception - I always provide a `--path` argument to my bundle installs, installing gems per-project locally to a `/vendor` directory. Rufo worked because I always install it in the global gemset so I can use it wherever. I'll test this theory and report back.

[2019-06-27 03:32] castwide commented on #202
Thanks for tracking it down. There was a similar issue in a function that's been moved to `ApiMap::BundlerMethods`, and I should be able to fix `Documentor` the same way.

[2019-06-27 05:44] #198 closed

[2019-06-28 20:58] castwide opened #204 "Travis errors on JRuby and MacOS"
Travis CI jobs have errors related to the new Bundler features on JRuby and MacOS. The errors might be specific to Travis, as the same tests succeed locally on a MacBook.

[2019-06-28 21:58] minkir014 commented on #87
As I know about go to definition that it must go to a certain line that the class or any other thing is defined and you said

That means that some gems have problems with go to definition. So, when do you intend to fix these issues???

[2019-06-29 01:59] castwide commented on #87
@minkir014 I don't know when it will be fixed because I don't even know what the root cause is. When the `RdocToYard` component generates an `RDoc` store, all the code objects have nil line numbers. I don't know why. It's certainly not what I expect. Wish me luck.

[2019-06-29 12:27] minkir014 commented on #87
You could file an issue against `RdocToYard` gem. It maybe a problem with it.

[2019-07-02 06:37] se-ryan opened #206 "undefined method error when hovering in vscode using Rails"
I get the following error message when I hover over anything (even a blank line) in vscode:

[code]

![Screen Shot 2019-07-01 at 10 43 02 PM](https://user-images.githubusercontent.com/41924478/60485552-3e6b9500-9c52-11e9-98a8-fa75835db974.jpg)

I've tried following the instructions [here](https://github.com/castwide/solargraph/issues/87) hoping it would help with the issue, but there is no change

[2019-07-02 16:05] castwide commented on #206
Do you get any more detailed messages or a stack trace in the developer console (Help -> Toggle Developer Tools)?

[2019-07-02 16:53] thomasjm opened #207 "LSP spec violation: sending RenameOptions when prepareSupport is not set"
I noticed that `solargraph` seems to be returning `RenameOptions` for its `renameProvider` setting when it returns capabilities, even though I haven't set the `prepareSupport` flag. This seems to be a violation of the spec, which says the following:

[code]

(It's causing my LSP client to fail to parse the `renameProvider`.)

[2019-07-02 17:39] se-ryan commented on #206
Interesting items from the console upon hovering:

[code]
[code]
[code]
[code]
[code]
[code]

[2019-07-02 23:07] thomasjm commented on #207
CC @mattn , this seems to have been introduced in #158

[2019-07-03 03:34] castwide commented on #206
I haven't been able to reproduce this one yet, but I suspect it's related to one of two things:

1. A syntax error in the file you're editing
2. A problem inferring the type of a local variable

Either one would indicate a bug in Solargraph's source maps.

One more thing you can try is running `solargraph scan -v` from your workspace's root directory. If it encounters a problem analyzing your code

[2019-07-03 08:28] #204 closed

[2019-07-03 11:50] castwide commented on #202
Version 0.34.2 changes Documentor to use an external process with a clean environment to detect bundle dependencies. Modifying and resetting the running environment is no longer necessary.

[2019-07-03 17:13] taylorthurlow commented on #202
All good to go now! Thanks!

[2019-07-03 17:13] #202 closed

[2019-07-03 22:43] se-ryan commented on #206
I ran `solargraph scan -v` and it completed successfully: Scanned WORKSPACE (6446 pins) in 20.540266000083648 seconds. I just received a vscode update (June) and it seems to have fixed things, I can no longer recreate this issue. Solargraph seems to be working as expected for now.

[2019-07-03 22:43] #206 closed

[2019-07-05 06:44] castwide commented on #207
There's a fix for this in the `master` branch. It'll be included in the next patch release.

[2019-07-09 11:33] bstaletic opened #209 "Solargraph responds to a client response"
At start up, solargraph sends some requests to the client.
[code]

The client is expected to respond, either with an error, or with an empty `result`. For example:
[code]

Then solargraph tries to repond *to the response*:
[code]

This is a problem because a client might not be able to deal with this and as far as I can tell, it's a violation of the protocol.
More specifically, this does make [ycm

[2019-07-09 19:01] kbarrette commented on #187
Just as an additional data point: I'm also seeing solargraph peg one of the cores on my MacBook.

Ruby: 2.6.2p47
solargraph: 0.34.2
coc.nvim: 0.0.72-8c7241d7e3

I haven't done much testing, but the problem seems to only occur after editing for a while - it doesn't start the moment I open a Ruby file in nvim.

Let me know if there's any data or logs you'd like me to collect!

[2019-07-09 19:30] vivektiwary commented on #187
@kbarrette same thing is happening in my case as well. 100% cpu uses comes only after editing a file for sometime with approx 150 lines of code.

[2019-07-10 04:18] castwide commented on #187
One thing that might help with debugging is running a scan in the workspace's root folder with `solargraph scan -v`. If it throws an exception or freezes on a particular node, it could help us determine the root cause. More information: https://solargraph.org/guides/scanning-workspaces

@vivektiwary Does it happen with any file, or just that one particular file? If the latter, I might be able to t

[2019-07-10 07:05] castwide commented on #209
Based on the original server requests, it looks like solargraph correctly determines that there are no methods that need to be registered or unregistered, presumably because the client did not report that any of its capabilities can be dynamically registered. When that's the case, the server should drop the requests instead of sending them with empty arrays.

A fix is in the `master` branch and wi

[2019-07-10 07:21] bstaletic commented on #209
There was also a bug on the ycmd's side. The error response we used to send was not according to the specification. ycm-core/ycmd#1281 fixed that issue and now solargraph works just fine with ycmd, so I'm glad I dug into this issue deeper and found our bug.

Anyway, thanks for looking into this.

[2019-07-10 14:38] kbarrette commented on #187
[code]

[2019-07-10 14:54] vivektiwary commented on #187
@castwide There is no specific file, it happens for arbitrary files after some time. I normally work with more than 2 split buffer, and while switching as well the cpu usage increases.

[2019-07-15 12:42] castwide commented on #207
Released in v0.34.3.

[2019-07-15 12:42] castwide commented on #209
Version 0.34.3 discards empty register/unregister messages.

[2019-07-16 01:59] thomasjm commented on #207
Thanks!

[2019-07-16 01:59] #207 closed

[2019-07-20 10:31] NuriYuri opened #211 "[Request] Context definition"
Hi, I'm working on a project that will allow the definitions of Events (in RPG Maker a Game) using Ruby Script. The problem is that those events are loaded in runtime (when needed) and I'd like to be able to tel SolarGraph that the ruby file (that will not contain class or def) is executed in a specific context : like if it was a "method" of the Interpreter class.

Basically, I'll have this kind o

[2019-07-20 15:57] castwide commented on #211
There's a `@!domain` directive that works something like what you're describing, although it's experimental and might change. You can use it to tell Solargraph to add a class or module's public methods to the global namespace. Example:

[code]
[code]

[2019-07-20 17:00] #184 closed

[2019-07-20 20:03] gencer opened #212 "Autocomplete stopped working for specific class"
![1](https://user-images.githubusercontent.com/1711576/61583556-6ad44c00-ab42-11e9-93e1-2414b3d0a4c3.gif)

I have no idea why this happens. I already sent you the project file with reproducible sample via Email (_due to its private_).

[2019-07-20 20:03] NuriYuri commented on #211
Great !
Thanks for the answer. I'm looking forward for it to be stable :)

[2019-07-20 20:03] #211 closed

[2019-07-21 18:11] castwide commented on #212
There's a minor issue with type inference during active editing. A fix is in the master branch and will be released in v0.35.0 tomorrow.

[2019-07-21 18:50] castwide commented on #212
Hmm, it looks like there might be something else going on here. With the latest version, I still don't get type inference for the `cnt` variable. I'll keep looking.

[2019-07-22 16:38] castwide commented on #212
It looks like the type inference problem was an artifact from another feature branch. I released gem 0.35.0 today. The reproducible sample works correctly in my tests.

[2019-07-22 18:16] sashaweiss commented on #49
Hi - wanted to bump this thread and see if there were still plans for solargraph to support back to Ruby 2.0? Working on a legacy codebase that requires Ruby 2.0, and would love to use solargraph in that work if possible!

Thanks so much.

[2019-07-22 18:38] castwide commented on #49
The current minimum requirement is Ruby 2.1. I don't expect to go lower, partly because of minimum requirements in dependencies. (I'm already stalling a dependency update that would increase the minimum to 2.3.)

[2019-07-22 20:25] sashaweiss commented on #49
Sounds good. Thanks for the update!

________________________________
From: Fred Snyder <notifications@github.com>
Sent: Monday, July 22, 2019 11:38
To: castwide/solargraph
Cc: Sasha Weiss; Comment
Subject: Re: [castwide/solargraph] Unable to install solargraph on Ruby 2.1.0 (#49)

The current minimum requirement is Ruby 2.1. I don't expect to go lower, partly because of minimum requirements in de

[2019-07-22 20:51] castwide commented on #139
The errant workspace synchronization at the core of this issue is resolved, and cases that can be ignored emit a warning instead of stealing focus with an error. If anyone still encounters problems, please open a new issue.

[2019-07-22 20:51] #139 closed

[2019-07-22 20:55] castwide commented on #197
This is released in v0.35.0. The default location for the global config is `~/.config/solargraph/config.yml`, and it can be changed with the `SOLARGRAPH_GLOBAL_CONFIG` environment variable.

[2019-07-23 16:15] #197 closed

[2019-07-24 04:20] gencer commented on #212
@castwide I couldn'T test this until now. No, unfortunately, not working. I installed 0.35.0 gem directly via bundler (not master branch) and also tested against master branch both is not working for my case.

[2019-07-24 07:24] castwide commented on #212
Is it possible you're not opening the folder that contains the files? If you open individual files but not their underlying workspace, completion will still work, but each file won't have access to the other's code.

(A future update should make it possible for `main.rb` to see `container.rb` through the `require_relative` call.)

[2019-07-24 07:40] gencer commented on #212
No... This is different. This time none of them is working. The container class I sent you is in Gitsby::Messenger module. So it is `Gitsby::Messenger::Container.new`.

Ihave also Box and Mail in there. Previously `Gitsby::Box::Container.new.` was working. Now they are all not working anymore.

What's changed? I get zero intellisense for my classes.

[2019-07-24 07:44] gencer commented on #212
Okay. I found the issue. If you do this:

[code]
It works.

But if you do this:

[code]

not working.

Wtahc the Screencast:

![1](https://user-images.githubusercontent.com/1711576/61774685-0ba35f80-ae00-11e9-9935-75fb2ee4122e.gif)

[2019-07-24 08:27] minkir014 commented on #212
I realized too it's not completing `new` keyword.

[2019-07-24 09:01] gencer commented on #212
Not just `new`. Lets say you have a acceptable but large project. And you're working on a single but large class. its members get autocomplete lately. i had to trigger few times to get popup list properly.

[2019-07-24 20:58] castwide commented on #212
I think I found the root cause. When a variable assignment's method call has arguments without parentheses, its type gets inferred from the wrong node. It should work if you put parentheses around the arguments:

[code]

I'm working on a fix. It's a little tricky due to a related issue with method calls that yield blocks, but I should be able to include it in the next patch release.

[2019-07-24 21:01] minkir014 commented on #212
I mean in all classes it's not completing keyword `new`
@castwide I think that this is not hard to be done to make the extension detect classes ands adds `new` keyword to the list.

[2019-07-24 21:03] castwide commented on #212
@minkir014 Please open a new issue and provide an example. The bug you're describing is unrelated to this one, and I'm not able to reproduce it.

[2019-07-24 21:03] gencer commented on #212
@castwide I will wait for a fix on `master` branch because there are thousands of declarations like this. I cannot wrap them all at once :/

[2019-07-24 22:00] castwide commented on #212
@gencer The fix is in the master branch. I'll probably release it in v0.35.1 this Friday.

[2019-07-24 22:06] gencer commented on #212
Works here.
Thank you so much for quick fix.

[2019-07-25 13:18] tvallois opened #213 "ignore folder solargraph"
Hi,

I don't know if it's an issue related to Atom or Solargraph directly but i've a folder in my rails app called client where i would like to ignore from solargraph point of view. I've added this configuration in my solargraph.yml but still there are a lot of operations on it which make solargraph unable.

My .solargraph.yml :
[code]

Message from atom : Ruby (Ruby Solargraph) stderr [DEBUG] {"j

[2019-07-25 13:27] tvallois commented on #213
Seems to be an Atom issue. More info here https://github.com/atom/atom-languageclient/issues/232

[2019-07-25 13:32] castwide commented on #213
I think so, yes. The language client is responsible for monitoring the filesystem. The configuration can only tell the server to ignore the changes after the message has already been sent.

According to that issue, I might be able to filter the watched files in the extension. I'll look into it.

Also related: https://github.com/castwide/atom-solargraph/issues/15

[2019-07-25 13:33] tvallois commented on #213
I can make the PR if you want. Seems to be an easy fix.

[2019-07-25 13:37] castwide commented on #213
Thanks, I'd appreciate it. Once it's done, I'll also publish a new version ASAP. The Atom extension is overdue for an update.

[2019-07-25 16:07] #142 closed

[2019-07-26 23:10] minkir014 opened #214 "Debugging"
I know that it would be hard to implement to add support for debugging ruby but it's good enhancement and a very wanted thing.

[2019-07-26 23:27] minkir014 commented on #191
When you intend to implement this feature???

[2019-07-27 10:58] #213 closed

[2019-07-28 00:17] castwide commented on #214
Debugging tools are a little outside the scope of this gem. The primary features I expect to support here are static analysis (code mapping, type checking, etc.) and the language server protocol.

Your best bet is to refer to your editor's documentation for Ruby debugging support, or look for third-party extensions. In VS Code, for example, there's the [rebornix.Ruby extension](https://marketplace

[2019-07-28 00:24] #165 closed

[2019-07-28 01:37] minkir014 commented on #214
You could create Debug Adapter Protocol for Ruby. I am using vs code and the extension you mentioned I know it very much but its debugger isn't very maintained and @wingrunr21 can't alone fix all the problems of it. Although a few time ago he fixed an important problem but it took him too much time because he is alone not because the extension is bad.

[2019-07-28 02:03] castwide commented on #214
For now I'd prefer to contribute to rebornix.Ruby (which already uses the debug adapter protocol) than create a new extension. I've contributed to it in the past and will likely do so again.

If it becomes necessary to move away from rebornix.Ruby, I'd probably build a debugger as a separate extension instead of adding it to Solargraph.

[2019-07-28 03:35] wingrunr21 commented on #214
PRs welcome @minkir014

[2019-07-29 22:02] castwide commented on #212
Released in v0.35.1.

[2019-07-31 19:25] lifeiscontent opened #215 "invalid typecheck for unused arguments"
given the following code:

[code]

I've tried to type the `_ctx` param however solargraph is still saying _ctx is not typed.

[2019-08-01 16:28] castwide commented on #215
It worked for me in VS Code:

![image](https://user-images.githubusercontent.com/3704922/62310391-6a4b8780-b457-11e9-9ecb-71455f9ec386.png)

A couple things to note:

1. Typing `_` alone did not trigger autocomplete.
2. Do you have YARD documentation for graphql? If not (or you're not sure), you can generate it by running `yard gems`.

[2019-08-02 00:59] jcat4 opened #216 "Missing Documentation Methods?"
Hello!

I don't know if I'm just using this wrong, but the docs aren't pulling some methods that I know exist on some classes... An example is Array.sum. I don't see it in the Solargraph docs (pulled through VS Code extension), but I've definitely used sum on arrays, and other sites such as [this one ](https://ruby-doc.org/core-2.4.1/Array.html#method-i-sum)confirm its existence. I've already done

[2019-08-02 01:04] castwide commented on #216
What version of Ruby are you running? `Array#sum` was introduced in 2.4.

I confirmed I could see it using 2.5.3:

![image](https://user-images.githubusercontent.com/3704922/62336789-f4b7d980-b49f-11e9-8f52-fb5cb9db2b2e.png)

[2019-08-02 01:09] jcat4 commented on #216
Quick again 😯Terminal shows 2.6, but idk if that's what VS Code is using ☹️ I'm fairly new to this. The settings command path for ruby hasn't been touched, it's just "ruby", soooo I'd _imagine_ it's just using 2.6 like the terminal.

[2019-08-02 01:26] castwide commented on #216
You caught me at my desk :)

If you're using VS Code, you can check by running "Solargraph: Get environment info" from the command palette. It'll tell you the Ruby version it's running and the core documentation version, among other things.

If you're using rvm or rbenv, Solargraph should use it to select the configured Ruby version. In that case, the version in the integrated terminal might be di

[2019-08-02 01:28] jcat4 commented on #216
**System**

- Platform: x86_64-darwin18
- Shell: /bin/zsh
- Ruby Version: 2.6.2
- RuboCop Version: 0.67.2

**Solargraph**

- Solargraph Version: 0.35.1
- Core Documentation Version: 2.6.1
- Core Cache Directory: /Users/joey/.solargraph/cache
- Parser Target Version: 26
- Using Bundler: false

Looks like it's not using rvm, and is indeed using 2.6.2 :/

[2019-08-02 01:33] jcat4 commented on #216
I restart vs code and it worked. Idk what is wrong with me or my machine.

[2019-08-02 01:33] #216 closed

[2019-08-02 02:12] lifeiscontent commented on #215
Oh, good point. I’ll try it tomorrow and report back. Thanks @castwide

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-02 16:42] lifeiscontent commented on #215
@castwide just did what you suggested. It works. Thank you!

[2019-08-02 16:42] #215 closed

[2019-08-03 19:35] sethen opened #217 "Strange behavior with YouCompletMe and Solargraph"
So, I have installed Solargraph and set it up to work with YouCompleteMe.  It works _sometimes_ but other times it just flat out fails.  Let me provide a couple of examples:

[code]

No auto completion is done there.  I have to press `<C-Space>` to get it to auto complete but only when I start to type something.  If I type something like `MyClass.` and press `<C-Space>` I get no completion at all.

[2019-08-04 10:01] w0113 opened #218 "HTML encoding bug?"
Hello Mr. Snyder,

thank you very much for your work with this project. I use it on a daily basis and it is so helpful and works great.

I am using Solargraph in combination with Neovim and the LSP client coc.nvim. There is one bug when using this tool combination, which can be cumbersome. When Solargraph returns code documentation to the client, it HTML encodes the documentation first. Coc.nvim d

[2019-08-04 10:17] w0113 commented on #217
Hi sethen,

I also used YCM for some years, but with the advent of language servers I tested a few LSP clients. I settled with coc.nvim which, in my opinion, is currently the best language server for vim/neovim. Maybe this can help with your problems, because they sound more like LSP client problems.

I hope this helps, otherwise ignore what I was saying :)

[2019-08-04 16:45] castwide commented on #218
The encoding fixes an issue with the display in VS Code. If the server itself shouldn't do the encoding. I might be able to move that feature to the VS Code extension instead. I'll look into it.

[2019-08-04 19:03] w0113 commented on #218
Thank you very much, your work is highly appreciated!

[2019-08-06 16:45] castwide commented on #182
Closing for inactivity. Let me know if this is still a problem.

[2019-08-06 16:45] #182 closed

[2019-08-07 12:45] castwide commented on #214
@minkir014 I would up writing a new gem for debuggers that use the Debug Adapter Protocol: https://github.com/castwide/readapt

There's a VS Code extension: https://marketplace.visualstudio.com/items?itemName=castwide.ruby-debug

Since it uses DAP, it ostensibly works with any compatible client, but I'd like to battle-test it in its own extension before I start recommending it for widespread use.

[2019-08-10 23:37] gencer opened #219 "Connection to server is erroring. Shutting down server."
Ruby Language Server sections shows:

[code]

and `ruby.exe` hangs on task manager. Loading indicator in VSCode keep going but server is not up anymore so no intellisense. I've opened diagnostics and set it to `debug` but don't see any message other than above...

This behavior happens immediately I open VSCode and solargraph extension gets activated.

[2019-08-10 23:52] gencer commented on #219
Yup. Found the root issue. VPN. I've a VPN installed and VSCode is excluded. Ruby starts on VPN-network and VSCode starts on local network. Do the math :)

Solved by excluding ruby.exe

[2019-08-11 00:33] castwide commented on #219
It might be a problem with using the socket transport over TCP/IP. You can try setting `solargraph.transport` to `stdio`. (`socket` is the default because it historically had better performance, but I think they're a lot closer to even now.)

[2019-08-11 03:39] sethen opened #220 "No signature being returned from solargraph"
I am using coc-solargraph in vim and trying to get signature help when typing out a method.  Solargraph for whatever reason is not returning any signatures.  Here's a screenshot:

![Screenshot from 2019-08-10 23-36-08](https://user-images.githubusercontent.com/1493530/62829252-b751fb00-bbc7-11e9-9f03-3a56717c0394.png)

Currently using RVM on Ruby 2.6.0 and Solargraph 0.35.2.  It looks like it's pa

[2019-08-11 04:44] sethen commented on #217
@w0113 I took your advice and switched to coc.nvim and I think it's better for me for sure.  I am having issues with solargraph in coc.nvim though -- see #220

[2019-08-11 04:44] #217 closed

[2019-08-11 11:36] gencer commented on #219
Thanks, Fred. It worked!

Closing.

[2019-08-11 11:36] #219 closed

[2019-08-12 09:18] Mange opened #221 "scan: Undefined method `expression` on `nil`"
Minimal reproduction I've found:

[code]

[code]

It seems to be assignment to the result of an `if` being the problem. I've found multiple variants of this problem in some of my codebases.

Changing to this equivalent code fixes the issue:

[code]

[2019-08-12 11:12] castwide commented on #221
Confirmed. Thanks for tracking it down. I'll work on a fix for the next release.

[2019-08-12 11:58] castwide commented on #221
This was a [simple fix](https://github.com/castwide/solargraph/commit/c75ae7dffe28f859733e711e3ea62bb8b4a7c59d) and I had already planned an update today, so I went ahead an published it in v0.36.0.

[2019-08-13 09:18] Mange commented on #221
Thanks! :heart:

[2019-08-15 23:02] castwide commented on #220
The problem might be that the parenthesis isn't closed. Try entering this:

[code]

Then move the cursor inside the parentheses and trigger signature help.

If that works, I might be able to make the server detect and "repair" unclosed parentheses. There are already similar repairs to make the parser ignore syntax errors that can occur during active editing.

[2019-08-15 23:09] sethen commented on #220
That was indeed the issue as I figured out.  I need to install `coc-pairs` for it to work correctly.  It closed the parens and moved the cursor to the center triggering the signature help.

Thanks for the reply!

[2019-08-15 23:09] #220 closed

[2019-08-16 20:27] castwide commented on #218
It turns out that the HTML encoding is redundant even in VS Code. There's one VSC-specific feature that requires it, but everything in the standard LSP works without it.

The `master` branch removes encoding from completion items, hovers, etc. I'll publish the change in version 0.37.0.

[2019-08-17 13:02] #209 closed

[2019-08-17 18:09] castwide commented on #218
This is a little hairier than I expected. There also doesn't seem to be a reliable standard. Depending on the implementation, Markdown renderers might treat `<Foo>` as plain text, an HTML tag, or a hyperlink. Some decode HTML entities, others do not.

The solution that seems closest to universal is backslash escaping, e.g., `\<Foo\>`.

Another semi-related change: the language server will no longe

[2019-08-19 06:42] castwide commented on #218
This should be fixed in 0.37.1.

[2019-08-19 20:05] w0113 commented on #218
Apparently the people of the LSP project are also not quite sure how to handle this:
[https://github.com/microsoft/language-server-protocol/issues/791](https://github.com/microsoft/language-server-protocol/issues/791)

I downloaded the newest Solargraph version and I can verify that the issue is fixed.
Again, thank you very much for your work!

[2019-08-19 20:05] #218 closed

[2019-08-21 01:21] smoothdvd opened #222 "Direct run solargraph and crash, version 0.37.1"
[code]

[2019-08-21 01:25] smoothdvd commented on #222
Upgrade logger gem will fix this.

[2019-08-21 01:25] #222 closed

[2019-08-22 12:09] paraqles opened #223 "Cannot install gem: "Could not find valid gem""
- __Description:__ cannot install the solargraph gem.
- __Error:__
  - Installing with `gem install solargraph`:
    `ERROR:  Could not find a valid gem 'solargraph' (>= 0) in any repository`
  - Installing a `gem build` from a clone:
    `ERROR:  Could not find a valid gem ' --local solargraph-0.37.1.gem' (>= 0) in any repository`

System Version Information
- __Ruby:__ `2.6.3`
- __Gem:__ `3.0.4`

[2019-08-22 12:16] paraqles commented on #223
Problem solved:
Shell had the `gem` command mapped to a function, that not properly handled arguments.

[2019-08-22 12:16] #223 closed

[2019-08-22 21:44] gencer commented on #212
@castwide, Auto complete is so slow. Lets say I wrote;

[code]

On small projects no problem at all. Especially the project files i already sent to you before.

It was fast. It was working. Since last few release its not.

[2019-08-23 03:23] castwide commented on #212
At first I thought it might be an issue with type inference, but your example wouldn't trigger it at that point. I'll try to profile for bottlenecks.

One thing that might help, if you haven't done it, is limiting which files you `include` in your .solargraph.yml. More information: https://solargraph.org/guides/performance

[2019-08-24 07:30] gencer commented on #212
As you can see there is also `folder` variable. Not just a method starts with `folder_`. And both not get listed.

![1](https://user-images.githubusercontent.com/1711576/63634072-10a33b00-c65a-11e9-9ac3-ba1a12ca488d.gif)

[2019-08-24 13:28] minkir014 commented on #212
When you see those snippets scroll down I think you will find variables you want. As I remember this happened to me with JavaScript and when I scrolled down and found my variables.

[2019-08-24 13:30] gencer commented on #212
Nope.

[2019-08-24 13:33] minkir014 commented on #212
Is that failed or no I don't understand you?

[2019-08-24 13:36] gencer commented on #212
It does not list my variables and functions until I do Ctrl+space or wait for longer.

Issue here is not "Not listing". Issue here we are talking at the moment is *slow response.*

[2019-08-24 13:37] castwide commented on #212
Are you using more than one language server or completion provider?

[2019-08-24 13:43] gencer commented on #212
Ruby (Solargraph) and TypeScript (internal) language servers are used and active on this workspace. I also disabled some rails auto-complete helpers. (And will disable more related and test)

![1](https://user-images.githubusercontent.com/1711576/63638234-4530ea00-c68e-11e9-8d55-629524dc9a93.gif)

[2019-08-24 13:57] castwide commented on #212
Can you give me a list of your extensions? (The issue is still likely to be in Solargraph itself, but I'd like to see if some other feature is exacerbating it.)

[2019-08-24 14:03] gencer commented on #212
Sure, here:

PS C:\Windows\system32> code --list-extensions
[code]

I've marked extensions that disabled. Also all extensions related to PHP also disabled.

[2019-08-24 14:21] castwide commented on #212
Thanks. I'll see what profiling tells me.

[2019-08-26 02:48] castwide commented on #212
One of the changes since 0.35 was to the library that Solargraph uses to convert documentation to Markdown. I didn't expect that to be the problem here, but now I think it might be. I ran some tests on a few different codebases and several of them encountered problems generating the Markdown.

The current `master` branch replaces the old conversion with a simpler one. As a result, sometimes unexpe

[2019-08-26 03:01] gencer commented on #212
@castwide, there is a huge difference now. When I type something and press `Ctrl+Space` to get intellisense popup list, it list immediately -instantly-. Before your changes, even `ctrl+space` was so slow to list my autocomplete popup.

However, I still do not get anything when i write a local variable or local method. I discovered that it onlky happens on local items. For calling outside classes o

[2019-08-26 03:56] castwide commented on #212
Could it be an issue with your `editor.quickSuggestions` setting? This is mine (which I think is also the default):

[code]

When `other` is `false`, autocompletion is triggered by dots, but not by letters. `ctrl+space` works as expected either way.

[2019-08-26 04:06] gencer commented on #212
Nope. I do not use that option. But tried yours. No difference. Anything local is not triggered by letters. I need to do `Ctrl+Space`. Or dot `.`, underscore `_` or starts with Uppercase (Like `Rails`, `SecureRandom`, `Cont...`).

[2019-08-26 04:09] gencer commented on #212
I think not just local but anything starts with lowercase is not working. Even `@` triggers.

See:

![4](https://user-images.githubusercontent.com/1711576/63664704-6d286680-c7d0-11e9-8be2-b0b2c70697dd.gif)

[2019-08-26 04:15] castwide commented on #212
Does that workspace have a `.vscode/settings.json` file?

[2019-08-26 04:17] gencer commented on #212
Yes, it only contains `deploy` related tasks.

[2019-08-26 04:48] gencer commented on #212
Question: Does solargraph has anything to do with `YAML` files?

[2019-08-26 04:54] gencer commented on #212
Found it! This guy: https://github.com/shanehofstetter/rails-i18n-vscode

I will open an issue there.

---

Fred, I am so sorry for the trouble I made. I deeply sorry for taking your time on this.

I once again confirm that this is issue of rails-i18n-vscode related (or maybe solargraph do something i don't know). But disabling that extension solved all problems.

[2019-08-26 05:31] gencer commented on #212
@castwide, may i ask just one simple more question regarding to autocomplete?

IntelliJ successfully shows me the correct suggestions but Solargraph fails to do that. You can try this on any environment:

[code]

This is just an example, there are more samples like this but this SecureRandom is the first thing that came to my mind.

And yeah, I did `solargraph bundle`

[2019-08-26 05:48] castwide commented on #212
The problem is how the Ruby core composes the `SecureRandom` module. It should be extended with another module called `Random::Formatter`, but YARD doesn't find it.

If you add this code, it works:

[code]

I should be able to fix it automatically from the gem. I'll look into it.

[2019-08-26 08:02] castwide commented on #212
The fix for documentation generation is published in v0.37.2.

[2019-08-26 08:17] gencer commented on #212
Thanks!

I put this to rails.rb on my workspace and worked very well. But there are more like this so internal fix will be great.

[2019-09-03 14:34] alphabt opened #225 "cannot load such file -- backport"
[code]

[2019-09-03 14:39] castwide commented on #225
Backport is one of Solargraph's dependencies. I'm not sure why it's not available. Does it work if you install it via `gem install backport`?

[2019-09-03 14:45] alphabt commented on #225
Yea I `gem uninstall backport && gem install backport` and still the same :(

[code]

[2019-09-03 15:15] castwide commented on #225
Strange. I have no idea what the root cause is, but my next step would be to see if it's an issue with either rbenv or the Gemfile (if you're using one).

[2019-09-04 07:07] alphabt commented on #225
Yeah my gut feeling also points to the env being borked. Though not sure what else to try. Gemfile isn't in the context when I repro the issue. I'll play around with rbenv to see if that helps.

[2019-09-05 14:10] tvallois commented on #87
Is there a way to manage models values with Solargraph?
E.g for the User model, to have autocompletion on user.id, user.created_at, etc...

[2019-09-06 10:03] alphabt commented on #225
I recreated rbenv for Ruby 2.6.3 and reinstalled solargraph. It's working fine now, thanks!

[2019-09-06 10:03] #225 closed

[2019-09-07 12:02] castwide commented on #87
@tvallois I'm working on a Rails [convention](https://github.com/castwide/solargraph/issues/199) that should be able to map model attributes from the database schema.

Right now the only other option is to document them yourself, e.g., with the `@!attribute` directive:

[code]

[2019-09-09 08:01] SolaWing opened #226 "can't infer of pathname.join"
demo:

[code]

already upgrade to newest master

[2019-09-12 13:52] AlanWarren opened #227 "0.37.2 broke documentation highlighting"
Hello,

I see the commit for 0.37.2 https://github.com/castwide/solargraph/commit/d633cb2c900ef855230a6bfd5360b3239cb431b4  removed markdown conversion for the documentation.

This breaks the documentation highlighting for vim/neovim, as there's no longer any descriptive delimiter for when code starts / stops.

example output.
[code]
And the following shows the lack of highlighting.
![Screen Shot

[2019-09-19 20:46] arkdy opened #228 "solargraph.org is down"

[2019-09-19 20:47] #228 closed

[2019-09-24 09:29] Zeko369 commented on #87
@castwide Hey, I was thinking of building a script that uses annotations built by annotate gem to add types to models. You said that you're working on something similar? Have you pushed any code towards that? I would like to help and start building it myself if you haven't :man_technologist:

[code]

[2019-09-24 12:54] castwide commented on #227
Markdown conversion is coming back. Examples like the one you provided are why it's a little tricky. It's common for code blocks in Ruby documentation to be formatted with two-space indentation, which is not conventional in Markdown. I had to modify documentation rendering to identify the non-standard code blocks and convert them into Markdown while retaining the correct formatting for the rest of

[2019-09-24 20:32] AlanWarren commented on #227
Thanks, I'm testing out master.  Code blocks are highlighted as ruby syntax again, so it's looking much better.

The only thing I'm noticing is a few <tt> and <em> tags.

Closing this ticket, since the noted issue is resolved.

[2019-09-24 20:32] #227 closed

[2019-09-25 20:16] castwide commented on #87
@Zeko369 I don't even have anything substantial. If you can build something, that would be awesome. I'm not sure how integration will work yet, but we can worry about those details after we have a working implementation.

[2019-09-29 16:47] #221 closed

[2019-09-29 16:47] #214 closed

[2019-09-30 08:33] yantene opened #229 "Multiple vim will start multiple solargraphs"
I use solargraph through LanguageClient-neovim.

When I open Ruby files in the same project with multiple vim, multiple solargraphs will start.
It uses a lot of memory.
I only need one solargraph process.

Is there a solution?

[2019-10-02 17:02] Samsinite commented on #87
@Zeko369 I would be happy to collaborate on this as well.

[2019-10-04 00:45] dansdantas opened #230 "Integrate with static analysis tools(Reek, rails_best_practices)"
I don't know if this is the right place to ask but, is there any way to use Reek as a reporter?

I tried to  configure simply like rubocop but i got a error(Diagnostics reporter reek does not exist).

I don't even know if reek should be a reporter or if i am doing something wrong. I'd like to integrate with other static analysis tools. Is that a thing?

[2019-10-04 15:27] ojab opened #231 "`undefined method `include?' for nil:NilClass` in `#maybe_directives?`"
I've tried to use solargraph and it fails with the following:
<details><summary>backtrace</summary>

[code]
</details>

AFAIU it happens on [that file](https://github.com/Mange/roadie/blob/master/lib/roadie/stylesheet.rb), debugging:
[code]

[2019-10-04 15:29] ojab commented on #231
So AFAIU it fails on `attr_reader :blocks`

[2019-10-04 15:38] ojab commented on #231
Simplified testcase:
[code]

[2019-10-09 15:08] Vincent-Carrier opened #233 "Ruby 2.7 support?"
Hi everyone!

I’m unable to get Solargraph to work with Ruby 2.7.0-preview1, using the latest versions of vim-lsp and neovim. I’m using core 2.6.4.

Here’s the relevant error from vim-lsp:

[code]

[2019-10-10 12:57] castwide commented on #231
I haven't been able to reproduce this error.

1. Is your version of `stylesheet.rb` different from the one in the GitHub repo?
2. Can you tell me what version of YARD you're using?

Either way, I think you've correctly identified the root cause. If the `comments` attribute gets set from `docstring.all`, it should be converted to an empty string instead of `nil`.

[2019-10-10 13:08] castwide commented on #230
Solargraph doesn't have a Reek reporter, but it should be possible to make one. It probably wouldn't be very different from the RuboCop reporter.

I'm working on a plugin architecture for extended features. A Reek reporter seems like a good thing to implement as a plugin.

[2019-10-10 13:21] dansdantas commented on #230
That's awesome to hear it. Waiting forward!

[2019-10-10 14:05] castwide commented on #226
The `Pathname#join` return type isn't defined in the source code. That's a common problem with stdlib methods. I'm working on a mechanism to fill some of those gaps. A similar mechanism already exists for the Ruby core; for example, Solargraph inserts the `String` return type for `File.dirname`.

[2019-10-10 19:19] ojab commented on #231
During testing to produce clonable testcase I found that it crashes with ruby-2.5.5 & ruby-2.5.6 on one machine, but not with ruby-2.5.7 & ruby-2.6.5 and not on the other machine :|
And the issue is gone on the affected machine after reinstalling ruby, so dunno what it was.

[2019-10-11 15:48] ojab commented on #231
And it's back. AFAIU it gets `code_objects` from generated yard documentation, so it depends on generated `.yardoc` and `solargraph scan` is essential for reproducing this.
So git clone https://github.com/ojab/solargraph_test, `solargraph bundle` and then `solargraph scan` will lead to this crash.

[2019-10-11 15:49] ojab commented on #231
(yard-0.9.20 here)

[2019-10-11 18:39] castwide commented on #231
Thanks. I was able to reproduce the error with your test repo. As suspected, the root cause is `comments` being `nil` when set from `docstring.all`.

A minor problem is the use of the `@attr_reader` tag at the top of `Roadie::Stylesheet`. A better alternative would be to use the `@!attribute` directive:

[code]

...but either way, it shouldn't cause a fatal error. I'll have a fix for it in the nex

[2019-10-11 18:52] castwide commented on #231
On further inspection, since the `name` and `blocks` attributes are defined in code, the `@!attribute` directive isn't necessary at all. Shortened example:

[code]

Again, this shouldn't cause a fatal error either way. I'm just making note of best practices.

[2019-10-15 17:52] mikehale opened #235 "Add support for standardrb"
[Standardrb](https://github.com/testdouble/standard) is essentially RuboCop configured out of the box. This is useful for teams that do not want to spend time fiddling with rubocop config files.

[2019-10-17 12:35] #199 closed

[2019-10-19 13:59] castwide commented on #235
We should be able to implement a Standardrb reporter as an extension, as I mentioned in a similar issue regarding support for Reek (#230). I'll look into it.

[2019-10-19 17:18] PyvesB opened #236 "Slow server startup and commands"
Hello @castwide,

First of all thanks for your continued work on this project, it's great to see that Solargraph keeps on improving! 👍

I guess this issue is in essence quite similar to #164. The server seems to take a long time to start up, even for a project with a single Ruby file.

Using Solargraph within Eclipse and observing the requests and responses between the client and the server, it re

[2019-10-22 21:14] PyvesB opened #237 "Rubocop not found"
Hello, hello!

When running the formatter within Eclipse, I'm consistently seeing the following error (both on Windows and macOS):
[code]
The associated stacktrace point to the following line of code:
https://github.com/castwide/solargraph/blob/7e4ba6a43364ddfd5752956ab18f57b34db8d79c/lib/solargraph/language_server/message/text_document/formatting.rb#L16

Basically Rubocop is called by executing a

[2019-10-22 23:44] castwide commented on #237
It should be possible to use the RuboCop API for the formatting command. The [RuboCop diagnostics reporter](https://github.com/castwide/solargraph/blob/master/lib/solargraph/diagnostics/rubocop.rb) already works that way.

Your alternative workaround is also possible. The [solargraph-utils](https://github.com/castwide/solargraph-utils) package uses a similar mechanism to detect the correct Ruby en

[2019-10-24 12:44] wh1le opened #238 "Reporters aren't with LanguageServer in Neovim"
Hello, thanks for the nice tool. I'm having troubles with my setup. I'm use the [LanguageClient for Neovim](https://github.com/autozimu/LanguageClient-neovim) and solargraph. Having troubles with Rubocop setup. I have this in my project root directotry:
[code]

Autocomplete works perfectly but there are not any kinds of warnings from Rubocop. What is the problem? For example `javascript-typescript

[2019-10-25 04:51] castwide commented on #238
Diagnostics reporting is disabled by default. There are two ways it can be enabled through the language server protocol:

1. Set `diagnostics: true` in the `initializationOptions` parameter of the client's `initialize` request.
2. Set `diagnostics: true` in the `solargraph` parameter of the client's `workspace/didChangeConfiguration` request.

I think LanguageClient-neovim at least has a way to co

[2019-10-28 12:55] hpapaxen opened #240 "Return type during type inference is incorrect"
Hello, I'm running into an issue where the type returned from `indent` in wiki_helper.rb:30 returns `Redmine::CoreExtensions::String` instead of `String`. Example code is in [issue.zip](https://github.com/castwide/solargraph/files/3778711/issue.zip). Any help would be appreciated. Thanks.

[2019-10-28 13:49] castwide commented on #240
Confirmed. It's a trivial problem with how type inference works for literal values. I'll have it fixed in the next release.

[2019-10-28 14:45] hpapaxen commented on #240
Awesome thanks!

[2019-10-29 06:37] kaymach opened #241 "Solargraph not supporting rubocop version prior to 0.52"
Hello. My problem is probably odd. I've scoured the internet trying to find a workaround for this to no avail.

I need to use version 0.46.0 of rubocop in order to go through schooling, but solargraph requires >0.52.0. I don't want to have to go about switching gem versions with rbenv. My ideal setup is to have solargraph use the latest rubocop version for dependency sake whenever I launch vscode

[2019-11-02 13:23] castwide opened #242 "Markdown Libraries and Supported Rubies"
[This commit to the master branch](https://github.com/castwide/solargraph/commit/0d10b7829c9ffc8aa1dfb6731ad351e104658e7a) changes the Markdown library from Redcarpet back to Maruku.

Although [Maruku should be considered obsolete](https://benhollis.net/blog/2013/10/20/maruku-is-obsolete/), it allows for more cross-platform compatibility than either Redcarpet or kramdown; i.e., Ruby < 2.3 and JRub

[2019-11-02 14:37] castwide commented on #236
There are two issues involved here: startup time and server initialization time.

Startup time is comparably slow in your benchmarks because the shell loads a lot of components that should not be necessary for simple commands like `--help` and `--version`. With a bit of refactoring, we can probably get execution time well below 1 second.

Server initialization is a bigger issue. One of the most ex

[2019-11-04 16:26] castwide commented on #236
A new commit to master refactors dependency loading to improve startup time. Using `time` on a CentOS desktop, running `--version` and `--help` went from ~1.7s to ~0.4s.

It looks like I'll be switching gears on the server initialization issue. I tried a prototype of the parser that uses `Ripper`. The resulting AST does not include all the necessary data that `Parser` provides. I tried extending `

[2019-11-08 05:27] sent-hil commented on #33
I'm getting the same error in version 0.37.2. Only version I can get to work is 0.31.3.

[code]

[code]

[code]

[2019-11-08 19:18] castwide commented on #33
@sent-hil Can you give me a simple example of a file that causes the error, the character set it uses, and a sequence of steps to cause it if it doesn't happen on startup? I haven't been able to reproduce it.

[2019-11-12 11:56] adis-io opened #243 "How to identify the problem? solargraph scan fails with [NoMethodError]: undefined method `empty?' for nil:NilClass"
Whole output:
[code]

Removed `active_model_serializers` from Gemfile and it works.
Tried to run scan in this gems directory - it works.
Tried to run in `app/serializers` - works everything fine.

So what could be the problem?

[2019-11-13 02:28] gencer opened #244 "Solargraph throws an exception on `master` branch but works on latest version"
Hi current `master` has a problem. Server seems hang and says "starting" all the time and developer tools shows an exception.

**Error**: uninitialized constant Solargraph::LanguageServer::Transport::DataReader::JSON (NameError)

**Stacktrace**:

[code]

[2019-11-13 03:32] castwide commented on #244
This issue arose while I was optimizing dependency loading a few days ago. I just pushed the fix to the master branch.

[2019-11-14 17:05] #244 closed

[2019-11-17 06:31] castwide commented on #243
The source of the problem is mapping for the `ActiveModel::Serializer::Association#name=` attribute method. When Solargraph tries to parse the associated comments to get the attribute's description, it receives `nil` instead of a `String`.

The error happens when all of the following are true:
1. The attribute was defined with an `@attr` tag.
2. The map was generated from YARD documentation instea

[2019-11-17 23:30] guledali commented on #194
Man I which there was a way of converting `rbi` or Sorbet signatures  files into YARD.

[2019-11-19 13:29] hpapaxen opened #246 "Next release?"
@castwide Any plans to make a release anytime soon?

[2019-11-19 15:00] castwide commented on #246
Yes, I expect to release 0.38.0 sometime this week.

[2019-11-19 16:26] hpapaxen commented on #246
Awesome thanks!

[2019-11-19 16:26] #246 closed

[2019-11-22 11:03] gencer opened #247 "Autocomplete on comments"
Is it possible to enable Solargraph module/class completions in yard docs?

For example:

[code]

Basically if we declare a type, return or similar helpers we should see completion list.

[2019-11-22 20:08] castwide commented on #247
It should be possible. Solargraph can already detect when you're inside a comment, but its current behavior during autocompletion is to ignore them. We might be able to trigger autocompletion in tags with a simple regular expression. I'll look into it.

[2019-11-22 20:36] castwide commented on #243
Version 0.38.0 fixes the problem with processing attributes from `@attr` tags in YARD documentation.

[2019-11-22 20:37] castwide commented on #242
Version 0.38.0 uses Maruku. A future version might change to kramdown, depending on the minimum Ruby version supported.

[2019-11-22 20:37] #242 closed

[2019-11-22 20:38] castwide commented on #240
Version 0.38.0 fully qualifies types for literal values.

[2019-11-22 20:40] castwide commented on #236
Version 0.38.0 includes the improvement to base startup speeds. The new RubyVM feature to improve parsing time is still in progress.

[2019-11-22 20:42] castwide commented on #231
Version 0.38.0 should fix this issue. Please let me know if it persists.

[2019-11-22 20:43] #196 closed

[2019-11-22 20:43] #201 closed

[2019-11-22 21:49] PyvesB commented on #236
Thanks, will try it out and report on any anomalies!

[2019-11-26 22:36] jgclark opened #248 "Install problem on Mac: Suggestion"
(Edited)
I'm sorry this is probably really basic, but I couldn't get the first step of installation to work.
`gem install solargraph` gives errors:
[code]

More googling around and trying other things means I've now fixed it. But for the benefit of others, could you improve the documentation, adding that (for macOS) `xcode-select --install` is required? Then the slightly unhelpful error message sh

[2019-11-27 00:54] castwide commented on #248
Documenting this issue is a good idea. It isn't specific to Solargraph, but it comes up often enough to have a FAQ entry, at least.

Related: https://github.com/castwide/vscode-solargraph/issues/78

[2019-12-02 14:03] kirichkov commented on #248
Actually, after upgrading to Mojave, `xcode-select --install` didn't help. Apparently Apple stopped shipping (some of) the C header files for ruby, and split them in a separate package. To resolve this you'd also need to install them:

[code]

On Catalina I presume (not confirmed) you'd need:

[code]

[2019-12-03 11:15] PyvesB opened #249 "Document highlights request"
Hello there!

It would be great if Solargraph supported the [textDocument/documentHighlight](https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#textDocument_documentHighlight) request. This would allow editors to do things such as highlighting occurrences of a variable in given file:

Thanks in advance!

Pyves

[2019-12-04 05:46] castwide commented on #249
The logic behind it should be essentially the same as `textDocument/references`, but scoped to the current file instead of the entire workspace. I'll add it to the backlog.

[2019-12-04 07:56] PyvesB commented on #237
The linked pull request was merged and formatting works as expected in version 0.38.0, therefore closing this issue!

[2019-12-04 07:56] #237 closed

[2019-12-04 21:39] castwide commented on #163
Support for (see) references should be complete now. If there are still any outstanding issues, please feel free to open a new issue.

[2019-12-04 21:39] #163 closed

[2019-12-12 21:33] taylorthurlow opened #250 "Auto-completion without require statements"
My current understanding of auto-completion is that Solargraph uses the require statements from the file being edited to determine which classes and libraries can be auto completed. This works fine, but libraries being used aren't necessarily always required in the file, in my case, for two reasons:

1) Most of my projects are using [`zeitwerk`](https://github.com/fxn/zeitwerk), which does code au

[2019-12-12 22:04] castwide commented on #250
I don't know about Zeitwerk, but if your code includes either `Bundler.require` or `require 'bundler/require'`, Solargraph should automatically add all of your bundled gems to the map.

If you want to map all your gems but don't actually want to run `Bundler.require` in your application, one workaround is to add a YARD `@!parse` directive:

[code]

[2019-12-12 22:19] taylorthurlow commented on #250
It must be related to where the `Bundler.require` statement is located. This particular project is a service with a ruby code binstub located at a path like `bin/my_application`. I guess the fact that there's no `.rb` extension is why this is happening. I'll check on that and report back. Thanks!

[2019-12-12 22:43] #250 closed

[2019-12-13 16:11] tcd opened #251 "Undefined return type"
So typecheck is saying that `Array<Hash<Symbol>>` (An array of hashes with symbol keys) isn't a valid type, but it does get parsed by Yard's [type parser gui](https://yardoc.org/types).

I'm guessing the issue has to do with the [`UniqueType`](https://github.com/castwide/solargraph/blob/b3191423cff51c9ea5ad052ce06cff3a08abb04b/lib/solargraph/complex_type/unique_type.rb#L8) class.
Is this just an e

[2019-12-13 17:46] castwide commented on #251
I'm not sure if that should be valid or not. Solargraph expects hashes to be annotated with a key/value pair, e.g., `Hash{String => Symbol}`. In your example, something like `Array<Hash{String => Symbol}>` works. In the case of `Hash<Symbol>`, I can't tell whether `Symbol` should refer to the type of the key, the value, or both.

[2019-12-14 17:12] tcd commented on #251
I use `Hash<Symbol>` and `Hash<String>` pretty frequently to specify a specific key type when working outside of Rails and without `HashWithIndifferentAccess`.
But I probably should be giving explicit value types (as in `Hash{Symbol => Object}`).

So I suppose this is a different question, but if `[Array<Hash{Symbol => Object}>]` is valid, would `[Array<Hash<Symbol, Object>>]` be too?

[2019-12-14 17:33] castwide commented on #251
I would definitely prefer `Hash{Symbol => Object}` over `Hash<Symbol, Object>`. It's more explicit and follows the current YARD specification. I can't say for sure if the latter is even a valid alternative; we should probably get @lsegal's input on that.

[2019-12-16 22:16] tjwallace opened #252 "Bundler.with_clean_env has been deprecated"
[code]

[2019-12-17 01:20] castwide commented on #252
Is this a warning or a fatal error? What versions of Bundler and Ruby are you using?

[2019-12-17 01:27] tjwallace commented on #252
@castwide sorry, I should have included that info. It is just a warning.

* `Bundler version 2.1.0`
* `ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-darwin18]`

[2019-12-17 01:35] castwide commented on #252
Thanks. This should be a minor issue. There's only one place where `Bundler.with_clean_env` gets called, and `with_unbound_env` should be a clean replacement when using Bundler 2.1+. I'll put this change in the pipeline for the next release.

[2019-12-24 00:59] castwide commented on #243
This issue should be resolved in 0.38.0. If the problem persists, please let me know.

[2019-12-24 00:59] #243 closed

[2019-12-24 01:01] castwide commented on #240
This should be fixed in 0.38.0. If the problem persists, please let me know.

[2019-12-24 01:01] #240 closed

[2019-12-24 01:10] castwide commented on #52
Combining this issue with #192

[2019-12-24 01:10] #52 closed

[2019-12-24 02:42] castwide commented on #249
The `document-highlight` branch has the first implementation of the `textDocument/documentHighlight` capability. A couple of known issues:

* Highlighting method names will sometimes add some errant whitespace highlights.
* Highlighting local variables is occasionally slower than it should be.

I'll try to resolve both issues before merging to master. With any luck, some of the same performance op

[2019-12-24 02:45] castwide commented on #238
The above configuration notes should enable diagnostics for any language client. If anyone still has problems, please comment or open a new issue.

[2019-12-24 02:45] #238 closed

[2019-12-24 16:09] PyvesB commented on #249
Hello @castwide, thanks for looking into this!

I gave the branch a try from within an IDE. The feature works quite well, good job! I did encounter a few strange cases, for example, consider the following bit of code:
[code]

When the cursor is placed at the very end of `Thread.new do` on line 8, the highlights result is the following:
<img width="328" alt="Screenshot 2019-12-24 at 15 57 18" src="

[2019-12-26 03:00] skoji commented on #233
`solargraph scan` fails with ruby 2.7.0 .
works with 2.6.5.
[code]

[2019-12-27 06:29] skoji commented on #233
OK it's YARD problem
[code]

[2019-12-28 04:50] freibuis opened #254 "Time to update Thor"
currently, solargraph relies on thor
[code]
I think it is time to upgrade as some core frameworks like rails are forcing thor to a min of thor version 1 . This might cause some issues with beginners who do not know how to fix dependencies

0.19.4 is getting pretty old now

[code]

has anyone done any tests with the new version of thor?

[2019-12-28 06:02] castwide commented on #254
I'm tempted to put this change on the back burner for the moment, because the update to 1.0 seems totally backwards compatible without being immediately necessary. Please let me know if I'm wrong, or if anything breaks that I didn't expect. Either way, this change is officially added to the backlog.

[2019-12-28 12:36] castwide commented on #254
On second thought, we might as well proceed with this update sooner than later. The dependency to thor is ~> 1.0 in the master branch and the change will be included in the next release. Tests look fine in Travis.

[2019-12-30 04:12] quintrino opened #255 "Add SOLARGRAPH_CACHE to the Readme"
Currently the code allows you to specific a custom location for the cache files (which I was looking to do for XDG ) but doesn't actually mention it anywhere in the readme.

It would help people take advantage of it as a cool feature. I only stumbled across it while looking at where the gem actually specified the home directory for the cache file.

[2019-12-30 04:39] castwide commented on #255
Good call. I added it to the README and specifically mentioned XDG, since that's what inspired the feature in the first place.

[2019-12-31 01:32] thornomad opened #256 "Is using the macro tag to dynamically define methods supported?"
I see some references to using the `!@macro` tag in the source code, but I can't see to get it to do what I want when it comes to defining a `@method` on the fly.  Taking a look at a basic example [from the docs at Yard.](https://rubydoc.info/gems/yard/file/docs/Tags.md#macro)

[code]
When I test this, it seems to misinterpret the macro return for the class method `.property` ... instead of actual

[2019-12-31 08:57] castwide commented on #256
Support for `@!macro` is still a work in progress. In this particular case, Solargraph will interpret the the `@return` as the type of the `property` call itself:

[code]

This is a tricky one to resolve because there are instances where the current behavior is desirable, but it should probably use a different syntax.

In the meantime, the workaround is to use the `@!method` and `@!attribute` dire

[2019-12-31 12:15] freibuis commented on #254
awesome. I am testing it out now.  no issues so far

[2019-12-31 13:05] freibuis commented on #254
nope. It is breaking for me..  this might be a me issue tho. moved to ruby 2.7.0

I cant tell if yard is breaking because of thor or ruby 2.7.0  is broke.

I will spin up 2.6.5/2.6.4 and retest

[2019-12-31 13:12] castwide commented on #254
It might be YARD and Ruby 2.7: https://github.com/lsegal/yard/pull/1296

[2019-12-31 13:33] freibuis commented on #254
yeah
[code]
definitely see the complaints about this missing `e2mmap` file
2.6.5 works fine..
2.7.0 is definitely the issue
so ruby 2.7.0 moved a lot of internals to external gems I am sure there will be more to come.

so back to 2.6.5 until yard is fixedfor me.

Should the yard project be watched and bump the min yard dep once it is has 2.7.0 support?

[2019-12-31 14:15] castwide commented on #254
Yeah, I plan to bump the yard dependency as soon as possible. Besides the issue with Ruby 2.7, there's another update that will improve API coverage in the core documentation.

[2019-12-31 15:18] thornomad commented on #256
Thanks to getting back to me so quickly.  I can imagine this is a tricky one.  I'd be curious to see how it is implemented, because based on the above Yard documentation I would expect:

[code]
I can see how being able to dynamically deterimine the return type is useful in solargraph.  How does Yard parse it though when creating the documentation since, I assume, `.property` would get just one ref

[2019-12-31 17:15] castwide commented on #256
YARD executes the macro once for every `property` call. The generated docs match your expectations with one exception: it doesn't execute the macro for `Post.property`, only `property` from inside the class scope.

The `@!macro` directive can definitely get hairy, especially for anything more complicated than that `property` example. In cases where you need to document dynamic `@param` and `@retur

[2020-01-01 07:54] castwide commented on #233
PR #253 adds support for Ruby 2.7. I expect to include it in the next gem release.

[2020-01-01 13:33] freibuis commented on #254
looks like yard has been upgraded now and now works for me :)
all back to normal.. just some 2.7.0 warnings tho :+1:

[2020-01-01 13:50] freibuis commented on #233
since the new yard gem is out solograh is working again but there a lot of 2.7.0 warnings

[code]
ruby docs mention
https://ruby-doc.org/stdlib-2.7.0/libdoc/uri/rdoc/URI/Escape.html#method-i-unescape
[code]
apparentlty `URI.unescape` has been marked unsafe for the last 10 years,, well thats news to me

[2020-01-01 13:58] castwide commented on #233
Thanks, I'll look into that. The CGI alternatives should be fine.

[2020-01-02 01:34] thornomad commented on #256
Thanks for the input, will close this for now and keep an eye out on this work in progress.  Thanks.

[2020-01-02 01:34] #256 closed

[2020-01-02 11:54] castwide commented on #254
Thor update released in gem 0.38.1.

[2020-01-02 11:54] castwide commented on #233
Ruby 2.7 support released in gem 0.38.1.

[2020-01-02 12:48] grzesiek commented on #233
Woohooo! Thanks! :purple_heart:

[2020-01-02 12:59] grzesiek commented on #75
This is quite unfortunate because I believe that triggering completion after writing `something.` is the most typical use case :thinking:

[2020-01-05 07:25] SolaWing opened #257 "Raise Exception for conditional assignment"
eg:

[code]

get type of a will raise error:
[code]

wrap expression in function is ok, eg:
[code]
c =~ Array

[2020-01-05 16:24] castwide commented on #257
I haven't been able to reproduce this error in VS Code with Solargraph 0.38.1. Here's type inference in the hover for the variable:

![image](https://user-images.githubusercontent.com/3704922/71782926-b756fb00-2fad-11ea-8798-42ef126af840.png)

[2020-01-06 03:08] SolaWing commented on #257
sorry, the newest version 0.38.1 does work.

 My dev project have slather requirement, which depends on nokogiri (~> 1.8.2). this locks solargraph in old version when use bundler, cause newest version require nokogiri (~> 1.9, >= 1.9.1).

Can we make solargraph dependencies and project dependencies independent of each other?

[2020-01-06 08:15] #257 closed

[2020-01-06 15:09] castwide commented on #257
I've been working on ways to make Solargraph work with project bundles more independently. The current version will make an attempt to generate maps from the project's dependencies instead of system gems, even if you start Solargraph without Bundler. It's better than it used to be, but far from perfect; using Bundler is still likely to give you better results.

[2020-01-06 15:54] #231 closed

[2020-01-06 16:15] castwide opened #258 "Remove irb from dependencies"
An update to the master branch removes `irb` from the runtime dependencies. It breaks jruby due to its `io-console` dependency. As far as I can tell, Solargraph doesn't use `irb` directly. I'm noting the change here in case it causes unexpected issues.

[2020-01-07 02:09] castwide opened #259 "Core Documentation Updates"
The Ruby core documentation packages have been updated to take advantage of a [new feature in YARD](https://github.com/lsegal/yard/pull/1274).

You can update your documentation with the following command:

[code]

Check "Updating Core Documentation" in the README for more information.

To make sure you have the most recent docs, test the following code in your editor:

[code]

Entering a dot afte

[2020-01-07 02:12] castwide commented on #212
The latest versions of the core documentation include `Random::Formatter` in the `SecureRandom` module, so autocompletion finds the `uuid` method.

I'll close this issue since the original problem was resolved. If you run into any new issues with the updated documentation, please post a comment in #259.

[2020-01-07 02:12] #212 closed

[2020-01-07 03:16] SolaWing opened #260 "Struct Support?"
suppose following code:

[code]

can we support Struct, or through some comment annotation?

[2020-01-07 14:51] castwide commented on #260
Struct support is on the roadmap, but it's a little tricky. I don't have an ETA for it yet.

Comment annotation is currently possible, but it's a weak solution. You'd have to do something like this:

[code]

...in which case, you might as well get rid of the Struct and just declare the class. I'd definitely prefer a solution that can map the class from the `Struct.new` call itself.

[2020-01-07 20:56] castwide commented on #259
Another thing worth noting: the updated documentation includes packages for more Ruby versions, including 2.7.0.

[2020-01-08 09:55] kirichkov commented on #258
This should also resolve the issue I experienced:

While trying to update to 0.38.1 on ruby 2.3 (system ruby on macOS 10.14) I couldn't directly update, as irb tried to install latest, incompatible with ruby 2.3 version of reline and several other gems. The only solution was to manually install older dependencies, including irb 1.0.0 that would install on ruby 2.3

[2020-01-10 01:23] castwide commented on #258
I was able to confirm that removing the irb dependency fixes gem installation on OSX (10.13) using the system Ruby (2.3). The change will be included in the next patch release.

[2020-01-10 13:37] castwide commented on #252
Released in v0.38.2.

[2020-01-10 13:47] castwide commented on #258
Released in v0.38.2.

[2020-01-10 14:36] kirichkov commented on #258
v0.38.2 Installs without issues on OS X 10.14 as well!

[2020-01-10 15:31] jonnyboyC opened #261 "api_map.rb requires optimization"
Hi! First off let me say awesome job to getting this project up and running! I personally have a language-server as my own side project and I know how much of an undertaking it can be!

I've know there is some consideration on replacing the parser with a more high performance implementation but do some profiling I've identified that on very large projects the bottleneck isn't parsing speed. I've b

[2020-01-10 17:15] castwide commented on #261
Good catch. Your expectation looks correct. Given the input in your example, I'd expect `reqs` to be `['lib2']`. (I assume 'some/some' in your tested paths indicates the require path appended to the workspace path.)

That code is a little hairy, so I'll provide some clarification. The `unless bundle...` snippet compares all the requires and required paths to the files mapped in the workspace. If i

[2020-01-11 02:04] goe13 opened #263 "Could it support to the nokogiri >= 1.10?"
VSCode can't use it:

Failed to start Solargraph: Error: [LoadError] incompatible library version - /Users/eos/.rvm/gems/ruby-2.6.3/gems/nokogiri-1.10.7/lib/nokogiri/nokogiri.bundle

[LoadError] incompatible library version - /Users/eos/.rvm/gems/ruby-2.6.3/gems/nokogiri-1.10.7/lib/nokogiri/nokogiri.bundle

[2020-01-11 16:23] jonnyboyC commented on #261
I elaborated a bit in the PR, but I'm having one test, in a file indirectly related to changes I made fail. The good news is there is definitely a very large speed up in bigger repo. But I would appreciated any help diagnosing the problem!

[2020-01-12 19:35] castwide commented on #263
Could you try `gem install nokogiri` and tell me what happens? (I expect to update nokogiri in the near future, but I'm not sure if this error is directly related to the dependency. Solargraph should already work with 1.10. I'm using 1.10 myself on Windows.)

Possibly related: https://stackoverflow.com/questions/52514791/after-upgrading-to-macos-mojave-gem-update-is-failing#answer-52624622

[2020-01-14 15:02] goe13 commented on #263
It work well:
$ gem install nokogiri
Building native extensions. This could take a while...
Successfully installed nokogiri-1.10.7
Parsing documentation for nokogiri-1.10.7
Done installing documentation for nokogiri after 1 seconds
1 gem installed

I'm using the rvm installed **ruby2.6.3**.
I try to unstall the nokogiry `gem uninstall nokogiri`,But my vscode plugin also got error is:
`[LoadError]

[2020-01-14 15:06] goe13 commented on #263
It work well:
[code]

I'm using the rvm installed **ruby2.6.3**.
I try to uninstall the nokogiry gem uninstall nokogiri,But the vscode also got this error:
`[LoadError] incompatible library version - /Users/eos/.rvm/rubies/ruby2.6.3/lib/ruby/gems/2.6.0/gems/nokogiri-1.10.5/lib/nokogiri/nokogiri.bundle`

[2020-01-14 15:19] goe13 commented on #263
It seems work well:
[code]
I'm using the rvm installed **ruby2.6.3**.
I try `gem uninstall nokogiri`,But the VSCode also got error message:
[code]

After run `gem install nokogiri -v 1.9.1` also got the error message above.

[2020-01-14 21:05] castwide commented on #263
I haven't been able to reproduce this problem. Currently I'm testing on MacOS 10.13.6 with Ruby 2.6.3, Solargraph 0.38.2, and Nokogiri 1.10.7.

It's possible that you need to install or update some external binary or developer headers, but I don't know beyond that.

This vscode-solargraph issue might also be relevant: https://github.com/castwide/vscode-solargraph/issues/103

[2020-01-15 10:43] tvallois commented on #87
hi @castwide ,
I'm working on an implementation to generate yard documentation for models with annotate_models gem however when i have an attribute like:
[code]
Solargraph only return `TrueClass` on the autocompletion. Is it a bug or normal behavior?

[2020-01-15 16:52] castwide commented on #87
That's a known limitation. When you have multiple return tags, it should report all the types, but right now it only processes the first one. It works correctly if you add multiple types to a single tag, e.g., `@return [TrueClass, FalseClass]`. Support for multiple tags is on the roadmap. It's been a low priority, but it shouldn't be difficult.

In this case, you might prefer to use `@return [Bool

[2020-01-15 21:08] castwide commented on #261
I ran a few tests on the require_paths issue. From what I've seen, the catalog process correctly filters requires that are part of the workspace.

If you're still experiencing the problem, can you give me an example project where it happens or the steps to reproduce it?

[2020-01-16 23:28] castwide commented on #236
The `rubyvm` branch introduces the new RubyVM parser for Ruby 2.6+. The benchmarks are promising. Initialization time on the rails/rails repo in VS Code went from 57 seconds to 46. Earlier Ruby versions are also likely to see a small performance boost due to some changes to `require` processing in `ApiMap`.

The only major issues I'm seeing are with the type checker, which is still tightly coupled

[2020-01-17 05:37] castwide commented on #226
The `master` branch includes support for improving stdlib coverage with overrides. The current version enhances `Pathname` to provide return types for `Pathname#join` and several other methods.

I expect to include this feature in the next release.

[2020-01-19 02:51] SolaWing opened #264 "[bug]type checker report wrong infer type"
[code]

by the way, can we have a feature, only report the mismatch type, but ignore the uptyped warning? so I don't have to comment every simple code, just add what I need. sorbet `typed: true` is this behaviour

[2020-01-20 00:42] castwide commented on #264
The master branch has some updates that fix a bug in method type inference. I expect to release them in gem 0.38.3 tomorrow.

It makes sense to ignore missing `@return` tags when Solargraph can infer a return type on its own. I'll look into making it an option.

[2020-01-20 02:45] castwide commented on #192
These are the proposed levels for type checking:

# Normal
  - `@return` and `@param` tags are optional
  - Validate existing `@return` tags against inferred types
  - Validate existing `@type` tags against inferred types
  - Validate existing `@param` tags against arguments
  - Ignore all undefined types

# Typed
  - `@param` tags are optional
  - Methods must have either a `@return` tag or an in

[2020-01-20 02:54] castwide commented on #264
I posted a proposal for type checking levels in #192. The "normal" level would use your proposal of allowing untyped methods but validating the `@return` type if it exists.

[2020-01-20 03:32] taylorthurlow commented on #192
Call it "unreasonable", haha.

Glad to see continued progress on this!

[2020-01-20 09:56] castwide commented on #264
Released in 0.38.3.

[2020-01-20 09:58] castwide commented on #226
Releasec in v0.38.3.

[2020-01-20 10:01] #179 closed

[2020-01-20 14:22] thomthom commented on #192
That could be useful for API stubs. We generate API stubs - a lot of it have `@param` and `@return` types, but the code base predated YARD so we're still backfilling. But the stubs also have no content in the methods, so little to infer from the code.

[2020-01-22 01:11] Fire- opened #265 "Question: How can I share config / docs between Solargraph and Yard ?"
As the title states, I'd like to share configuration, extensions, cache, and document-store between Solargraph (and its internal YARD) as it's used in the VSCode extension, and Yard as it's run from the command line, so that I can avoid some duplication of doc generation, let YARD CLI understand solargraph's custom tags, as well as have Solargraph utilize any YARD extensions I currently have set u

[2020-01-22 07:43] castwide commented on #265
You can set the cache directory with the `SOLARGRAPH_CACHE` environment variable. I just tested by setting it to a network share and was able to access it from both a Windows machine and a Linux machine.

There's currently no way to define a shared configuration file, but we could probably add support for it. I'm open to suggestions on how to implement it.

YARD extensions modify yardocs at genera

[2020-01-23 03:37] SolaWing opened #267 "textDocument/references can't found reference for initialize"
expect references for all `Class.new` calls

[2020-01-26 12:11] castwide commented on #267
Confirmed. It works for definition, but not references.

[code]

I'll add it to the roadmap.

[2020-01-27 10:44] castwide opened #268 "Performance Improvements"
The `v0.39` branch introduces several enhancements that should noticeably improve performance, especially the language server's startup time.

## Cached YARD Gems

Solargraph generates serialized caches for the Ruby core, the stdlib, and external gems. This eliminates the need to process yardocs every time the server initializes a workspace.

## Reduced Map Size

Pins (the objects that comprise co

[2020-01-27 10:47] castwide commented on #192
The `v0.39` branch includes the current version of the type checker.

To run it from the command line, use `solargraph typecheck`. The --level option sets the check level.

To test diagnostics in the language server, add `typecheck` to `.solargraph.yml`. You can also add an argument for the check level, e.g., `typecheck:typed` or `typecheck:strict`.

[2020-01-27 10:54] castwide commented on #236
Current efforts to enhance performance are being tracked in #268.

[2020-01-27 10:54] #236 closed

[2020-01-27 12:06] vadviktor opened #269 "max_files not taken into account"
Hello,

I seem to have a little problem with setting max_files in a large project. I have to index around ~12k files and setting `max_files` to 20000 or 0 will still result in the same error message:

![Screenshot 2020-01-27 at 12 00 48](https://user-images.githubusercontent.com/238703/73173355-15828400-40fd-11ea-85de-4729f44cfbca.png)

I am using VSCode v1.41.1 on a ruby:2.5.5 Docker container.

[2020-01-27 12:14] castwide commented on #269
Can you copy/paste your workspace's `.solargraph.yml` file?

[2020-01-27 12:17] vadviktor commented on #269
Sure:

[code]

[2020-01-27 12:46] castwide commented on #269
The config looks okay. Is Solargraph running from inside Docker? If so, maybe the .solargraph.yml file isn't being copied to the container?

[2020-01-27 13:14] vadviktor commented on #269
Yes, I am running the project setup as a VSCode remote container setup with docker-compose and all. Solargraph runs fine and its config is in the project root. When I exclude the last two system folders where bundled gems are installed, then Solargraph still reports the exact same issue. Is there a way to debug Solargraph, what folders/settings is it really working with? Or explicitly telling it w

[2020-01-27 13:31] vadviktor commented on #269
Ok, I am have discovered something. I run my project with VSCode workspace and have multiple folders there. Namely, I want to see those 2 system gem folders. When I reduce my workspace by those 2 folders and have only the project, Solargraph does not say I am over the 5k limit. When I add them in and save the workspace file, the error popup shows almost immediately.
Adding those 2 folders in the s

[2020-01-27 13:40] castwide commented on #269
You shouldn't need to include your system gem folders to get intellisense for your gems. Solargraph uses YARD documentation for them. It might be a little less complete depending on how thoroughly documented the gems are, but it's much faster.

If you're using a multi-root workspace, the `.solargraph.yml` file(s) should be in the folder(s) defined in your `code-workspace` file. Each folder can hav

[2020-01-27 13:58] vadviktor commented on #269
Ok, I'll switch back to project folder mode, though we should still figure out why `max_files` is not working as expected.

[2020-01-27 14:02] castwide commented on #269
It should work with a multi-root workspace as long as the config files are in the workspace folders. Does it only work with a single project folder?

[2020-01-27 14:08] vadviktor commented on #269
It works right in single folder workspace setup, yes. I just wanted to be able to browse into those gem folders easier. I will experiment with having a solargraph config in each and exclude their contents.

[2020-01-27 14:18] castwide commented on #269
You might be able to get the gem access you need with Go To Definition. For example, if you're using Benchmark in your code:

[code]

Running Go To Definition on either the `'benchmark'` string or the `Benchmark.measure` call should open the relevant file.

[2020-01-27 15:15] longspell opened #270 "Some gems autocomplete appears incomplete"
I've installed the latest solargraph and I'm seeing language server suggestions on autocomplete, however some gems seem to be missing at least some suggestions.  I've completed a `yard gems` and then in my rb file (single script) I do a `require 'yaml'` then noticed in the autocomplete suggestions for `YAML.` are missing `dump` and `load`, which I expected from the example at the top of https://ru

[2020-01-27 15:55] castwide commented on #270
I just tested and confirmed. Most of the stdlib should just work out of the box, but some components are incompletely mapped. It looks like YAML is one of them.

From what I can tell, the `YAML` constant is an alias for `Psych`. YARD is able to detect the `YAML` constant, but doesn't associate the `Psych` class methods with it. The methods are visible if you reference `Psych` itself:

![image](htt

[2020-01-28 09:21] dcermak commented on #242
Hi @castwide, I'm currently working on getting solargraph into openSUSE Tumbleweed. This has been a relatively lengthy process as it required to package quite a bunch of rubygems, but now I've hit a small roadblock with maruku. It appears to be completely unmaintained as of 2017, which bears quite the risk to include it in the openSUSE distribution (even in a rolling one like Tumbleweed). Especial

[2020-01-28 09:52] castwide commented on #242
I don't have an ETA yet. My tentative plan is to change to kramdown in v1.0, which I hope to release sometime this year. Before that, v0.39 will probably be the last version to support Ruby < 2.3.

[2020-01-29 08:11] dcermak commented on #242
Sure, no pressure! I'll be watching this project for new releases and once Maruku is gone from the gemspec, I'll submit solargraph to openSUSE Tumbleweed.

[2020-01-29 08:11] dcermak commented on #242
And thanks for working on Solargraph! Albeit I am not a real ruby developer, it's a life saver for me for navigating ruby projects!

[2020-02-01 07:21] #226 closed

[2020-02-04 07:56] SolaWing opened #271 "bug: may no completion tip for @!method annotation"
[code]

[2020-02-04 09:46] SolaWing commented on #192
@castwide
[code]
should support cast annotation from superclass to subclass.
and the Dir.chdir block return the value block returns, the infer can work better

[2020-02-04 20:18] earksiinni opened #272 "Cannot scan if bundler returns warnings"
**Edit**: I've issued a PR: https://github.com/castwide/solargraph/pull/273

When I run `solargraph scan`, I get an error:

[code]

The error occurs because of these lines: https://github.com/castwide/solargraph/blob/64e0240ebbdfc77dc153d2d776a6aee6d64b78ff/lib/solargraph/documentor.rb#L58-L64

Basically, if Bundler outputs any warning, it will get included in the string output returned from `Open

[2020-02-04 20:22] romu70 commented on #87
Sorry for this really newbie question, but where is located the `rails.rb`file? I'm trying to diagnose why I always have the message

[2020-02-04 21:54] Zeko369 commented on #87
Create a `rails.rb` file in the root of your project add do something like this https://gist.github.com/castwide/28b349566a223dfb439a337aea29713e

[2020-02-05 02:53] peterhoeg opened #274 "Very high memory usage"
Opening a moderately sized rails project with multiple version of the same gems in the local environment causes solargraph to gobble up large amounts of memory (3.5GB).

The environment uses `direnv` to set up a local gem store so a multitude of versions exist.

Ideally solargraph would use bundler to get the list of actual versions in use and only index those.

Version 0.38.0

Ref: https://github

[2020-02-05 03:26] ccarse commented on #54
Is this something that can be configured in the vs code extension or does this require a .solargraph.yml file? If not, is this something that could be added to the extension? Thanks.

[2020-02-05 20:37] romu70 commented on #87
Thanks @Zeko369 . Is this normal all the text in this file is commented out?

[2020-02-05 20:46] castwide commented on #87
Having all the text commented is normal, yes. It uses YARD directives to augment the API maps without affecting real code.

The `rails.rb` file should be a temporary solution while we hammer out the details for proper Rails support. Eventually I'd like to have a plugin that automatically fills the gaps in the Rails API, similar to how the Solargraph core provides overrides for the Ruby stdlib and

[2020-02-05 20:58] romu70 commented on #87
Ok thanks. I restarted my VSCode, but I'm still getting the permanent message "Starting the Solargraph language server"

[2020-02-05 22:30] taylorthurlow commented on #87
Try running `solargraph stdio` to start a server in your console, rather than vscode starting it for you. It should be easier to debug any issues it has starting that way.

[2020-02-06 07:32] SolaWing commented on #192
@castwide how to silence the infer error?

[code]

[2020-02-07 00:02] #254 closed

[2020-02-07 00:02] #233 closed

[2020-02-07 00:03] #252 closed

[2020-02-07 00:03] #258 closed

[2020-02-07 00:12] castwide commented on #192
@SolaWing There's no way to silence specific errors. That might be a good feature to add. For now the only workaround is to reduce the check level. Typed doesn't report errors for uninferred return types.

[2020-02-07 00:15] castwide commented on #192
Also, regarding your `Dir.chdir` example:

1. The type checker should definitely recognize that `Array` is a subclass of `Object`. I'll look into why that example doesn't work.
2. I'm working on a mechanism to include the results of yielded blocks in type inference.

[2020-02-07 00:20] castwide commented on #274
That's what it should be doing. I'm not sure if that's specific to `direnv`, but I'll look into it.

Updating to v0.38.5 might also make a difference.

The upcoming v0.39 should further reduce memory usage. More info: #268

[2020-02-07 00:23] castwide commented on #87
@romu70 A few other things to help you troubleshoot:

1. Make sure you're using the latest version of Solargraph (currently v0.38.5)
2. Check if you have any errors in the developer console (Help -> Toggle Developer Tools)
3. Run `solargraph scan` to check for problems mapping your project (https://solargraph.org/guides/scanning-workspaces)

[2020-02-07 00:33] castwide commented on #271
I get the `generate!` completion item with v0.38.5:

![image](https://user-images.githubusercontent.com/3704922/73990560-86a11300-4917-11ea-9c1a-6e49d5d1de79.png)

[2020-02-07 01:39] SolaWing commented on #271
sorry，I use the v0.39 branch

[2020-02-07 01:52] castwide commented on #271
Hmm, it works for me on the v0.39 branch too. I tested on Ruby 2.3.1 and 2.6.3.

* What version of Ruby are you using?
* What OS?
* VS Code or something else?

[2020-02-07 02:09] #255 closed

[2020-02-07 03:12] SolaWing commented on #271
I tested on 3.18.5, it's not work. v0.39 branch is ok
ruby 2.7,mac os,vim, ycmd's language server

1. and observe the first completion is not ok.
2. delete this line, re-enter newline and completion is ok
3. after type some char, trigger completion is not ok.

here is the solargraph log:

[rubycompleter_stderrbfaqyey2.log](https://github.com/castwide/solargraph/files/4168806/rubycompleter_stderrbf

[2020-02-07 08:01] goe13 commented on #263
Thank you ! Found the solution [Above](https://github.com/castwide/vscode-solargraph/issues/103#issuecomment-578688782)

[2020-02-07 08:01] #263 closed

[2020-02-07 12:48] romu70 commented on #87
Thanks for the help.

1. I run 0.38.5
2. In the dev tools, I get 5 warnings about the syntax grammar overrides, and one error related to Ruby (not sure if it is related to Solargraph tough):

```Error: Unable to read file (EntryNotFound (FileSystemError): Error: ENOENT: no such file or directory, open '/Users/romu/.vscode/extensions/rebornix.ruby-0.26.0/language-configuration-ruby.json')```

 3. `

[2020-02-07 19:30] #272 closed

[2020-02-08 17:02] castwide commented on #87
That error comes from the main Ruby extension. Their repo has an [issue](https://github.com/rubyide/vscode-ruby/issues/571) for it.

Since the scan seems okay, you might be encountering a bug in starting or connecting to the language server. If the problem persists, please start a new issue for it, and I'll try to help you continue troubleshooting.

[2020-02-08 17:54] gencer opened #275 "Global autocomplete variables/identifiers"
Is it possible to define global variables for autocomplete? Let me explain what I mean:

`current_user` is used magically everywhere. This is almost generally an `User` model.

Is it possible to define this variable as `User` globally across workspace? So when i type `current_user.` it will auto-complete user model always and everywhere

I have `definitions.rb` on root which is based on your Rails

[2020-02-08 18:25] castwide commented on #275
You have a few different options. If you want it to be truly global, you could use the `@!method` directive on `Kernel`:

[code]

But you could also apply it to specific classes or modules:

[code]

The second option makes `current_user` visible in all of your controllers (i.e., any subclass of `ApplicationController`).

Depending on your app's architecture, there might be some other module where

[2020-02-08 18:42] castwide commented on #274
One other thing: is your local gem store inside of your workspace? If so, you might want to add its directory to `exclude` in `.solargraph.yml` to make sure it's not getting mapped. More information: https://solargraph.org/guides/performance

[2020-02-08 18:55] gencer commented on #275
Awesome!

Thanks, Fred! 🎉🎉

[2020-02-09 14:37] castwide commented on #192
The type checker now handles inheritance in either direction when checking tagged vs. inferred types. `Array -> Object` and `Object -> Array` are both valid; `Array -> String` is not.

[2020-02-09 20:33] longspell opened #276 "Go to definition for required gems"
I'm using nvim.coc with coc-solargraph, it's great.

I'm struggling with go to definition for gem methods though, or even methods from the standard library.  If I `require 'json'` (regardless if I restart solargraph) I do get the documentation (via `show_documentation()` and when selecting methods from the autocomplete list) however if I try to go to definition, I get `Definition not found`.  I'm

[2020-02-09 20:55] castwide commented on #276
Go to definition currently doesn't work for the Ruby core and stdlib. It should work for other gems, including the [gemified standard library](https://stdgems.org/) if you're using it.

Support for core/stdlib is a possibility, but there are some performance and accuracy issues that need to be resolved.

[2020-02-09 21:00] castwide commented on #276
I should also mention that you might need to run `yard gems` for gem documentation to work correctly. More information: https://solargraph.org/guides/yard

[2020-02-09 21:26] longspell commented on #276
Thanks for the quick follow up.  Documentation is ok, it's only Go To Definition that fails.  I also get the methods suggested in autocomplete.  I've run `yard gems` before, but ran it again.  No change to Go To Definition.

[2020-02-09 21:40] castwide commented on #276
If it's pulling `json` from the stdlib, Go To Definition won't work for it. Have you tried it with any external gems, e.g., just about anything in your Gemfile? You could even test it with Solargraph itself:

[code]

I don't often use coc.nvim, but AFAIK it should include Solargraph's definition features by default.

[2020-02-09 21:48] longspell commented on #276
Can confirm that works, I misunderstood your comment re: gemified standard library.  Thanks again.

[2020-02-09 21:48] #276 closed

[2020-02-11 09:07] laarmen opened #277 "Unresolved method signature on system-installed gem (Debian, Ruby 2.5)"
Hi,

The following code, using the "ipaddress" gem installed via the system package manager (apt-get install ruby-ipaddress), results in Solargraph being unable to resolve the types using `solagraph typecheck --strict`

[code]

However, the same code on Mac OSX (Ruby 2.6) with the gem installed system-wide via `sudo gem install` is resolved correctly.

The IPAddress gem doesn't appear to have YARD

[2020-02-11 14:22] castwide commented on #277
Have you tried running `yard gems` to make sure the documentation is generated?

[2020-02-11 14:40] laarmen commented on #277
I did, but in doubt I retried it, no difference.

[2020-02-11 19:37] romu70 commented on #87
I tried to get this [file](https://github.com/rubyide/vscode-ruby/blob/master/packages/vscode-ruby/language-configuration-ruby.json) and put it into the rebornix folder shown in the error message.

Now, no more error.

<img width="532" alt="Screenshot 2020-02-11 at 20 33 14" src="https://user-images.githubusercontent.com/1898319/74271873-ee879d00-4d0d-11ea-80a0-652b32d1496b.png">

And it seems to

[2020-02-13 06:28] praveendhawan opened #278 "Takes too long for solargraph server to be in ready state for large projects"
Versions -
NVIM v0.4.3
CoC - Latest version
OS - MacOs

I am working on a large project, and after I start Nvim it takes ~3 minutes to change the state of the solargraph server.

Logs

[code]
If you see in the logs above it took solargraph ~3 minutes to change server state from starting to ready.

Also, the Get Definition and jumping takes too long and sometimes it times out.

Thanks in advance.

[2020-02-13 14:34] castwide commented on #278
How large is your project (number of files, approx. LOC, number of gem dependencies)?

If you're not using the latest gem (v0.38.5), I highly recommend upgrading.

There are some additional performance improvements coming in v0.39.0 and currently being tracked in #268.

[2020-02-14 05:13] praveendhawan commented on #278
@castwide If I remove all the views, assets, vendor files, spec files
No. of FIles -  4851 (`tree -f -C -I 'node_*|doc*|tmp*|vendor*|spec*' ./ |  grep  files`)
Gem version - v0.38.5
No. of gem dependency - Bundle Output - 163 Gemfile dependencies, 380 gems installed
LOC -  123264 total (`git ls-files | grep -e "\.rb$" |  xargs wc -l`) This includes spec files as well

[2020-02-14 21:50] castwide commented on #278
That's big enough to cause a long startup time, but I'm surprised that the queries are timing out after the code is already mapped.

I'll try a few benchmarks on larger codebases over the weekend. (If there's a repo I can access to test on the same codebase you're using, that might give me some more insight, but I understand if the source is closed/proprietary. I usually turn to rails/rails when I

[2020-02-15 04:19] SolaWing opened #279 "bug: new infer to superclasss"
[code]

[2020-02-15 04:37] castwide commented on #279
Confirmed. This appears to be specific to subclasses of `String`. If you change the first line to `class A < Integer` it works as expected.

I'm not sure of the root cause, but I'll add it to the roadmap.

[2020-02-15 16:06] SolaWing opened #280 "bug: super(arg) can't jump"
[code]

[2020-02-15 17:32] SolaWing opened #281 "bug: can't infer superclass constant"
[code]

[2020-02-15 17:37] castwide commented on #280
Confirmed. This should be a simple fix. The NodeChainer doesn't recognize `super` with arguments because the parser assigns it a different node type than `super` without arguments.

[2020-02-16 17:04] castwide commented on #281
Confirmed. This appears to be a simple issue in constant detection. It's on the roadmap.

[2020-02-17 14:42] Fibrasek opened #282 "Scan does not follow symlinks"
When running `solargraph scan` on a project, it fails with the following message:
[code]

When I get into that path and run a `ls -la` it outputs the following:
[code]

I'm using `Ruby 2.3.5` and `Solargraph 0.34.1` on linux

[2020-02-18 08:19] praveendhawan commented on #278
@castwide You can test it on https://github.com/solidusio/solidus or yeah rails also works.

[2020-02-18 12:58] SolaWing opened #283 "bug: no infer for case"
[code]
a can't be infered

[2020-02-18 17:33] abaird opened #284 "solargraph -v fails: couldn't find specific bundler version"
Solargraph kept failing to install in VSCode, so I went to the command line to investigate:
[code]
I don't have solargraph as part of my Gemfile at the moment, but it seems like it should at least be able to execute. As you can see, I do have the correct version of bundler installed that it wants in the Gemfile.lock. There are probably things that I don't understand about how solargraph tries to f

[2020-02-20 21:16] castwide commented on #281
Fixed in the v0.39 branch (https://github.com/castwide/solargraph/commit/b611c5a8f8cc0243ab9d1b4540e848b3dbf47b9a).

[2020-02-21 10:33] #281 closed

[2020-02-22 22:41] GLodi opened #285 "Cannot load such file -- irb/notifier"
I'm having trouble setting up solargraph on emacs 28 on arch.
I'm running Ruby 2.7 (installed via aur) with solargraph 0.38.5.
Running `solargraph scan` returns:
`...
	 2: from /home/user/.gem/ruby/2.7.0/gems/yard-0.9.24/lib/yard/parser/ruby/legacy/irb/slex.rb:13:in <top (required)>
	 1: from /usr/lib/ruby/2.7.0/rubygems/core_ext/kernel_require.rb:92:in require
/usr/lib/ruby/2.7.0/rubygems/core_ex

[2020-02-23 16:40] GLodi commented on #285
Nevermind, apparently I needed `gem install irb`

[2020-02-23 16:40] #285 closed

[2020-02-23 17:57] sakshiseth commented on #252
This could be resolved if you check the version of the ruby in the GEMFILE is exactly the same as that of the installed version of ruby. If it mismatches then reinstall ruby with the version mentioned in the GEMFILE. This will eliminate the warning.

[2020-02-25 09:23] svl7 opened #286 "Allow rc versions of dependencies"
Currently gem won't be able to install solargraph on ruby 2.7.0 due to the dependency restriction `'nokogiri', '~> 1.9', '>= 1.9.1'`.
Since nokogiri only introduced support for 2.7.0 in [1.11.0.rc1 ](https://github.com/sparklemotion/nokogiri/releases/tag/v1.11.0.rc1), it will fail to install since solaraph doesn't allow rc version in the gemspec.

Demo:
[code]
1.10.8 won't solve the issue since it

[2020-02-25 14:55] SolaWing opened #287 "bug: wrong constant infer"
[code]

[2020-02-25 15:14] arashm opened #288 "High CPU load after initialize"
I'm using solargraph with VIM + coc.nvim plugin. A few minutes after solargraph is initialized, it shortly becomes a zombie process and doesn't respond. For the first few minutes it just works fine.

More info:
OS: MacOS
VIM Version: 8.2.250
coc.nvim version: master
solargraph version: 0.38.5
ruby version: 2.6.3

Here's some logs I collected using rbspy for 35 seconds when the process gone zombie:

[2020-02-26 00:41] castwide commented on #280
Fixed in the v0.39 branch. There are still some changes I want to make around `super` argument validation in the type checker, but jumping to definition should work as expected.

[2020-02-26 00:48] castwide commented on #287
Confirmed. It's on the roadmap.

[2020-02-26 00:57] castwide commented on #288
I suspect this has something to do with resolving class inheritance. Is there any chance you can give me a reproducible example of a file that causes the problem?

One thing you can try that might help: run `solargraph scan -v` from your project root. If there's something in the inheritance tree that causes an infinite loop, the scan might freeze at the same location. More information: https://sol

[2020-02-26 12:33] arashm commented on #288
The scan worked fine with no error or a loop. I think I found the issue though. I had another plugin, ALE, that used solargraph as linter. So ALE and coc.nvim were each running their own solargraph on the same workspace and that seems to have caused some issues. I removed solargraph from the linter and seems to just work fine.

I close this for now, since the process hasn't gone zombie even after

[2020-02-26 14:36] arashm commented on #288
Nope. It went zombie again after a while :(

[2020-02-27 15:54] Morozzzko commented on #230
Oh, a plugin would be nice though. What's the progress with this? I'd like to have a reek reporter and would gladly contribute to that. I can wait for a plugin system if it comes within the next couple of months, though.

[2020-02-29 16:41] castwide commented on #288
Is there an error log you can check? My experience with vim is limited, so I'm not even sure where to look for one.

[2020-03-03 13:45] arashm commented on #288
I can't see any errors on VIM side. After solargraph goes unresponsive, coc.nvim plugin starts throwing timeout errors when calling solargraph.

I realized that, as soon as I start adding codes to code base, and when they have reference to `self`, solargraph's cpu usage spikes. I tried to run the `solargraph scan -v` while the added code is there, but it finished just fine.

see the video: 
[Scree

[2020-03-04 08:39] castwide commented on #288
Thanks for catching that. I don't know what the root cause is, but I'll look into it.

[2020-03-06 00:13] tallytarik opened #290 "Hangs on macOS on certain textDocument/completion request"
Hi,

First off, thanks so much for your work on Solargraph - it's incredible.

That said, there's been an issue that I've been experiencing for some time. While I'm working on a project in VS Code, after an indeterminate amount of time the Solargraph process will hang. It'll be stuck using 100% CPU, and it doesn't recover.

The only way to work around it has been to force-kill the `ruby solargraph

[2020-03-06 00:21] tallytarik commented on #290
Ok, actually, following the above it looks like I can reproduce it. It's hanging on `textDocument/completion` with a certain variable.

Another backtrace:

[code]

Sadly I can't provide the entire project because it's proprietary, and huge.

For context, I was typing in a Rails controller function, and it hung on typing `@my_model_variable.`, where `@my_model_variable` was an instance of a Rails m

[2020-03-06 00:46] castwide commented on #290
Thanks a lot for all your effort looking for a root cause. This looks very similar to the problem reported in https://github.com/castwide/solargraph/issues/288

If you can reduce the problem to a reproducible case, I'd appreciate it. In the meantime, I'll try to reproduce it running toy Rails projects on MacOS.

[2020-03-07 11:11] praveendhawan opened #291 "Question - Does Solargraph supports code folding?"
I am using [coc-solargraph](https://github.com/neoclide/coc-solargraph) and in the Readme, it says that you can enable code folding.  Even after calling the fold request I got an error. Here is the issue - https://github.com/neoclide/coc-solargraph/issues/20

[2020-03-07 11:46] castwide commented on #291
Yes, it does. I can confirm that it's working and enabled by default in VS Code.

[2020-03-11 13:45] praveendhawan commented on #291
@castwide I guess it can be closed. Thanks for the quick reply.

[2020-03-11 13:50] praveendhawan opened #292 "Question/Bug Symbols jumping is not supported."
Lets say I have a file which have this code
[code]

Trying to goto definition from symbol `:dop` fails. the result returned by solargraph is `[]`

Expected - It should have gone to dop method.

Where its useful - let's say we have `before_action`'s in the controller and we want to jump to the definition of the method.

[2020-03-12 00:13] Jacobkg commented on #288
I also have been having issues where the ruby process starts spinning at 99% CPU and making my fan go crazy.

[2020-03-12 11:58] praveendhawan commented on #288
I am also facing this issue and have to restart the solargraph server after every 1-2 hours.

[2020-03-13 00:18] tallytarik commented on #290
Sorry for the late reply, I've just gotten around to creating a test case.

It was actually very simple. It's almost a bare Rails project with one generated model/controller.

See here: https://github.com/tallytarik/solargraph-rails-hang

I can reliably cause Solargraph to hang by doing this:

1. Open `app/controllers/servers/application_controller.rb`
2. At the end of line 6, within the `#server`

[2020-03-13 14:09] borisdrovnin opened #293 "Workspace scan freezes"
ruby version: 2.5.3
solargraph version: 0.38.4+
os: linux

The following example code freezes a workspace scan (`solargraph scan -v`) and causes 100% processor utilization.

[code]
Rollback to version 0.38.3 fixes the problem.

[2020-03-17 19:48] MicMicMon commented on #87
Is there a known way to gracefully handle `has_many`-like constructs?

I currently use:
[code]
But really what would be awesome would be something like `ActiveRecord::Associations::CollectionProxy<Users::User>`, like an array. So that accesses to the elements have type information.

[2020-03-17 20:32] MicMicMon opened #294 "Detect wrong argument number"
[code]
does not raise an error, even though Solargraph knows `f` expects no argument.

Is there a way to have Solargraph (or some other part?) raise a lint error?

[2020-03-18 11:59] lgsanjos commented on #288
same here, I have the impression that it only started happening after updating to my OSX to Catalina 10.15.3 but might be just a coincidence.

[2020-03-19 19:27] ShepherdJerred commented on #162
Has support for absolute paths in ```require_paths``` been added? I can't find any documentation for this configuration option.

[2020-03-20 05:17] castwide commented on #294
It's not possible in the current release, but the new type checker coming in version 0.39 is capable of detecting this type of argument error.

[2020-03-20 05:27] castwide commented on #290
Very helpful, thanks a lot. I cloned the repo and was able to reproduce the error on Windows. I'm still not sure of the root cause, but this gives me a good place to start looking.

[2020-03-20 05:34] castwide commented on #293
Confirmed. It looks like type inference goes into an infinite loop. I'll investigate further.

[2020-03-20 05:48] castwide commented on #162
Not yet, but since you reminded me, I added it to the roadmap.

[2020-03-20 09:01] MicMicMon commented on #294
That's awesome news thanks.
I'll close this issue for now then.

[2020-03-20 09:01] #294 closed

[2020-03-21 05:34] castwide commented on #290
The problem turned out to be name collisions in the class inheritance tree. Under certain circumstances, a superclass with a base name that matches the subclass (e.g., `class Servers::ApplicationController < ApplicationController`) would cause an infinite loop.

There's a fix in the master branch. I expect to release it in v0.38.6 in the next couple days.

[2020-03-21 05:38] castwide commented on #293
Fixed in the master branch. Slated for release in v0.38.6.

[2020-03-21 05:39] castwide commented on #288
The master branch has an update that fixes a name collision problem in class inheritance (#290). That's likely to be the most common cause of server freezes. There's also a fix for a less frequent problem involving recursive variable references (#293). Both fixes will be released in v0.38.6 in the next day or so.

[2020-03-21 05:41] peterhoeg commented on #274
It is using `direnv`'s `layout ruby` functionality.

I had changed things from excluding some directories to specifically only including the relevant directories and now it's only sometimes it eats up memory (right now it's about 700MB which is fine).

I'll add more details to this issue when it happens again. OK to leave it open?

[2020-03-21 05:41] #291 closed

[2020-03-21 05:46] castwide commented on #283
Added to the roadmap.

[2020-03-21 05:53] castwide commented on #274
Thanks for the followup. Yes, feel free to leave it open and let me know if the problem persists.

[2020-03-21 07:17] tallytarik commented on #290
Awesome work! I've just switched to the master branch, so will let you know if I have any issues.

[2020-03-23 02:53] castwide commented on #293
Released in v0.38.6.

[2020-03-23 02:53] castwide commented on #290
Released in v0.38.6.

[2020-03-23 02:53] castwide commented on #288
Released in v0.38.6.

[2020-03-23 06:24] praveendhawan commented on #288
@castwide updated gem to v0.38.6 and since than, haven't faced any timeouts. Also don't feel the need to restart server every now and then. Thanks

[2020-03-23 06:26] praveendhawan commented on #278
After v0.38.6 timeouts are no more, seems to me those were due to https://github.com/castwide/solargraph/issues/288

[2020-03-23 08:59] castwide commented on #287
Fixed in the v0.39 branch.

[2020-03-24 00:30] jpserra opened #295 "coc-solargraph documentation highlight"
Hello!

I've been trying to get syntax highlighting on the documentation that shows on the popup window when using coc-solargraph.

Here's an example picture:
<img width="1260" alt="Screenshot 2020-03-24 at 00 26 45" src="https://user-images.githubusercontent.com/1921706/77375796-7974a200-6d66-11ea-90f9-2069073ae163.png">

I've check the language server logs and I did notice that the codeblocks we

[2020-03-24 03:35] castwide commented on #295
Try indenting the code block with 2 or 4 spaces. Solargraph detects it since it's a common convention in Ruby core documentation.

[code]

[2020-03-25 01:27] jpserra commented on #295
The example I shared comes from rails documentation itself, and I can't get any syntax highlight on any ruby/rails documentation really.

I'm not trying to get my own documentation of a method to work in this particular issue.

[2020-03-25 01:40] castwide commented on #295
Sorry, I missed that. I'm not able to test with coc-solargraph at the moment, but it works on VS Code:

![image](https://user-images.githubusercontent.com/3704922/77492892-0d527680-6e18-11ea-8ebc-b22d3289828a.png)

What version of Solargraph are you using? Current is 0.38.6.

[2020-03-25 23:06] jpserra commented on #295
I'm running the latest version:

[code]

[2020-03-26 03:16] castwide commented on #295
I'm still not able to reproduce this problem. You might need to open an issue with coc-solargraph and see if it's on their end.

[2020-03-26 04:30] praveendhawan opened #296 "`textDocument/references` requests takes too long"
`textDocument/references` take very long time, also the editor freezes till the request times out.

I have set the timeout to 4s for requests. I have noticed that while making a request for definition, the. server respond back in 2-3 secs but for `references` requests it takes. too long but due to my timeout, it normally times out.

Here are the logs from LSP inspector
Reuest - 9:44:03 AM
[code]

[2020-03-26 12:00] jpserra commented on #295
So, in a desperate attempt to find where the issue was coming from, I decided to give NeoVim a try.

Turns out it worked smoothly out of the box using the exact same `.vimrc` so I guess this ends up being an issue with `Coc + Vim` and nothing wrong from the solargraph side.

Thank you for the support @castwide 🙏  I'll close the issue

[2020-03-26 12:00] #295 closed

[2020-03-26 13:09] arashm commented on #288
I haven't notice any issue after v0.38.6 as well. Thanks @castwide. Should have been hard to debug and fix. Your doing an awesome job!

[2020-03-26 19:35] castwide commented on #296
The editor freezing sounds like an issue on the `coc-solargraph` side, like maybe the request isn't asynchronous.

The response time is something we might be able to address in Solargraph. How large is your workspace, i.e., number of files and lines of code?

[2020-03-27 03:19] yyyy7 opened #297 "Where is EXAMPLES.md"

[2020-03-27 03:59] castwide commented on #297
https://solargraph.org/guides/code-examples

[2020-03-27 04:04] yyyy7 commented on #297
Thanks❤️

[2020-03-27 04:04] #297 closed

[2020-03-27 04:52] praveendhawan commented on #296
Mentioned the workspace size here - https://github.com/castwide/solargraph/issues/278#issuecomment-586101487

[2020-03-30 19:27] scorpion35 opened #298 "Starting client failed - permission denied"
Works great when I install everything (Ruby, Bundler, GEMs, Solargraph etc.) with default settings. However, I am tasked to install Ruby into a custom location, and unable to figure out how to get Solargraph working. Without solargraph, my workflow is slowed down by a lot. Please help 🙏 🙇‍♂️

Here is what I have -
Ruby version: `ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-darwin18]`
(Ins

[2020-03-31 03:06] castwide commented on #298
`solargraph.bundlerPath` should be the absolute path to the executable file, e.g., `/Users/panne/Documents/Work/.ruby2.7.0/shims/bundle`.

[2020-03-31 11:07] scorpion35 commented on #298
Thank you very much 🙇‍♂️. This fixed my issue, was thinking `bundle` would be automatically found since my custom `shims` folders is in the path.

Is is possible to add this information to docs? Something like

I am more than happy to submit a PR if you'd like, not sure where I should be submitting it. Should I submit in the [Solargraph](https://github.com/castwide/solargraph) repo or [VSCode Sola

[2020-03-31 11:36] castwide commented on #298
The best place is probably the [VSCode Solargraph](https://github.com/castwide/vscode-solargraph) repo. The description for `solargraph.bundlerPath` in `README.md` and `package.json` could both stand to be more explicit. If you submit a PR, I'll be happy to merge it.

[2020-03-31 12:32] scorpion35 commented on #298
Here it is - https://github.com/castwide/vscode-solargraph/pull/167. Thanks again for your help!

[2020-03-31 15:43] charlie-wasp commented on #49
Hello! I am trying to install solargraph for ruby v2.1.5, but nokogiri is against it 🙂

[code]

[2020-04-06 05:50] #264 closed

[2020-04-07 23:17] hahuang65 opened #300 "Takes a LONG time to start"
I've made an issue over at https://github.com/prabirshrestha/vim-lsp/issues/785

but it seems the "issue" is on solargraph's side.

I've quoted "issue" because it might not be an issue, but I wanted to ask here for suggestions.

So from logs, it looks like Solargraph takes ~30 seconds to initialize, and it LOOKS like (judging by timestamps) the bulk of it is from 2 warnings

I've attached the full

[2020-04-08 08:46] SolaWing opened #301 "Bug: Too Many arguments to A#aa in v0.39"
[code]

[2020-04-08 08:53] castwide commented on #301
You happened to catch this bug right when I was working on the arity checker. I just pushed some changes to the `v0.39` branch that should fix it.

[2020-04-08 11:41] castwide commented on #300
The google-api-client rejection is probably not a significant bottleneck. It should only take a fraction of a second for the server to determine that its yardoc is too big to load. The three major parts of the initialization workload are reading the workspace, mapping the code, and adding the gem dependencies to the map.

Improving startup time is a work in progress. Version 0.39 will include fast

[2020-04-08 16:21] hahuang65 commented on #300
Ah, thank you for that. That ticket was very informative. I'll patiently await your great work! Thank you and stay safe!

Feel free to close this :)

[2020-04-08 16:21] Felixoid opened #303 "Spamming warnings about URI.unescape with ruby 2.7.0 and solargraph-0.38.6"
Hello. I have pretty annoying warning with the mentioned versions:

[code]

It's referencing to [the line](https://github.com/castwide/solargraph/blob/master/lib/solargraph/language_server/uri_helpers.rb#L17) `17:        URI.decode(uri).sub(/^file\:\/\//, '').sub(/^\/([a-z]\:)/i, '\1')`

[2020-04-09 04:59] castwide commented on #283
Fixed in the `v0.39` branch.

[2020-04-09 05:00] #300 closed

[2020-04-12 03:21] SolaWing opened #304 "bug(v0.39): exclude range ... for array[] return wrong infer type"
[code]

[2020-04-13 07:30] castwide commented on #304
Fixed in the `v0.39` branch.

[2020-04-13 10:13] SolaWing opened #305 "bug(v0.39): Too many arguments for block param"
[code]

[2020-04-14 02:09] #304 closed

[2020-04-14 02:10] #301 closed

[2020-04-14 02:11] #287 closed

[2020-04-14 02:13] #283 closed

[2020-04-14 02:17] #280 closed

[2020-04-15 12:11] castwide commented on #305
Fixed in the `v0.39` branch.

[2020-04-15 12:39] #305 closed

[2020-04-15 14:11] romain-dartigues commented on #195
For those building inside minimalists containers, the error caused by the `# include_next <stdint.h>` from `/usr/lib/gcc/x86_64-linux-gnu/*/include/stdint.h` which might be provided by `libc6-dev` (instead of `avr-libc`).

[2020-04-16 20:24] bekicot opened #307 "Solargraph plugin architecture."
I really want to have `solargraph` to support `standardrb` , I cloned the repository and copy the `rubocop` reporter and start learning how it works.

But I came accross an idea, what if, the standardrb, doesn't need to be built-in. And it can be a new gem, lets call `solargraph-standardrb-reporter` and solargraph can auto-discover it. So that we can include it in our `.solargraph.yml`.

on #235 &

[2020-04-17 14:34] aaronjensen opened #308 "fails to start when it encounters a broken symlink"
I've worked with a few gems that have inadvertently included symlinks in the gem to files that do not exist within the gem. When solargraph encounters these, it appears to stop its initialization process.

Here's an example:

[code]

[2020-04-19 14:40] castwide commented on #307
Thanks for taking the initiative on this. I haven't documented plugins yet, but today I merged preliminary support into the `v0.39` branch.

Let's say your gem looks something like this (modified from the example at https://solargraph.org/guides/code-examples):

[code]

In your project's `.solargraph.yml`, you can enable the reporter like this:

[code]

The language server simply calls `require` f

[2020-04-19 18:38] castwide commented on #230
@Morozzzko As mentioned in #307, a plugin system is being introduced in v0.39.0. The current iteration is in the `v0.39` branch.

[2020-04-19 22:52] duc00 opened #309 "Rubocop config does not get read by socket server"
Solargraph server running in a Docker. I connect to this server using Solagraph VSCode extension.
Problem is that `.rubocop.yml` config does not get read by the Solargraph server, event though this file is in the Docker working directory. I end up having default warnings which do not suit me.

Solargraph service Dockerfile:
[code]
.solargraph.yml:
[code]

.rubocop.yml:
[code]

Local .vscode/settin

[2020-04-20 00:27] duc00 commented on #309
I did a bit of debugging server-side. It seems that the .rubocop.yml can't be resolved because looking for the local file path on the server. `find_rubocop_file` function them returns nil.

[2020-04-22 18:09] #298 closed

[2020-04-22 23:09] #293 closed

[2020-04-23 06:07] haslinger opened #310 "Error after Ruby upgrade to 2.7.1"
After updating to ruby-2.7.1 and installing the gem on Ubuntu 18.04, I see the the error message:
`Failed to start Solargraph: Error: [LoadError] cannot load such file -- irb/slex`
on Visual Code startup.

Seems related to: https://github.com/castwide/vscode-solargraph/issues/137
But I don't use the system's package manager, so all dependencies should be resolved already, as the irb 1.2.3 gem is i

[2020-04-23 23:48] castwide commented on #310
Thanks. I think this issue is specific to Ruby 2.7+ with YARD < 0.9.21. The upcoming release will update the YARD dependency.

[2020-04-23 23:48] #310 closed

[2020-04-24 00:00] castwide commented on #308
Fixed in the `v0.39` branch. It'll be released in v0.39.0.

[2020-04-24 00:56] castwide commented on #282
Sorry for the late reply. A similar issue arose in #308 that will be fixed in the next release.

In your case, does the `secure_headers.rb` file exist or is it a dead link? If it exists, that's a different problem I'll need to address.

[2020-04-25 00:24] aaronjensen commented on #308
That's great, thanks! Will you close this issue then when it's released?

[2020-04-25 01:25] castwide commented on #308
Sure, no problem.

[2020-04-26 04:48] castwide commented on #308
Released in v0.39.0.

[2020-04-26 04:48] #308 closed

[2020-04-26 04:50] castwide commented on #268
Released in v0.39.0.

[2020-04-26 04:50] #268 closed

[2020-04-26 04:50] #259 closed

[2020-04-26 04:51] castwide commented on #274
Version 0.39.0 includes some changes that should significantly reduce memory usage.

[2020-04-26 04:51] #275 closed

[2020-04-26 05:18] castwide commented on #307
Plugin support is released in version 0.39.0, along with the first plugin, [solargraph-reek](https://github.com/castwide/solargraph-reek).

There's a brief explanation of plugins at https://solargraph.org/guides/plugins.

[2020-04-26 05:21] castwide commented on #230
Plugin support is released in gem v0.39.0, along with the first version of the [solargraph-reek plugin](https://github.com/castwide/solargraph-reek).

More information about plugins: https://solargraph.org/guides/plugins

[2020-04-26 06:15] castwide commented on #192
Released in v0.39.0.

[2020-04-26 06:15] #192 closed

[2020-04-26 14:32] bekicot commented on #307
Thank you very much.
Anyway, is there any plan to add `fixer` api?
so that we can use `standardrb --fix` on solargraph

[2020-04-26 19:22] castwide commented on #307
Yes. Currently the `textDocument/formatting` capability depends on RuboCop, but I plan to extend the API so plugins can register their own formatters.

[2020-04-26 22:27] bekicot commented on #307
Thank you very much for the effort on 0.39 and 0.39.1.
Now I'm able to use solargraph with standardrb.
https://github.com/bekicot/solargraph-standardrb

[2020-04-27 00:43] bekicot commented on #235
You can use
https://github.com/bekicot/solargraph-standardrb

[2020-04-27 07:04] baelter opened #312 "undefined method `children' for :private_class_method:Symbol"
Not sure if error is here or in vscode integration, but only the the gem was updated today so guessing it's here.

[code]

[2020-04-27 08:54] castwide commented on #312
Is there a backtrace in the debug console?

[2020-04-27 11:13] baelter commented on #312
Yes:

[code]

[2020-04-27 12:16] castwide commented on #312
Thanks for tracking that down, but is there another one by chance? That one came from the extension, and I'm hoping there's another one that came directly from the language server. I have a general idea of what the root cause might be, but the language server's backtrace could save me some process of elimination.

[2020-04-27 16:01] castwide commented on #312
This is the smallest reproducible example I could find:

[code]

Calling `private_class_method` without arguments is technically valid but has no effect. I've committed a change that gracefully handles it and will include the fix in the next patch release.

[2020-04-27 22:49] bekicot commented on #307
@castwide Do you mind to share your plan on extending API to register formatters? I'm not smart enough to do the full design, but if there is small task I can do to make the development faster, I will do.

[2020-04-28 00:09] castwide commented on #307
@bekicot Thank you for your support. I'm not sure how formatters will work through plugins, but I hope we can make them extensible in a similar way to diagnostics. I'll keep working on it, and I'm definitely open to contributions and suggestions.

[2020-04-28 03:45] aaronjensen opened #313 "undefined method `chomp' for nil:NilClass"
I'm getting this with solargraph 0.39.0:

**edit**: also happens on 0.39.2, but not on 0.38.0

[code]

[2020-04-28 09:11] baelter commented on #312
[code]

[2020-04-28 09:38] hourliert commented on #312
Hi,

Same issue here. I updated the gem 2 days ago and the language server is not starting anymore.

I am using neovim with `coc.nvim` to manage my extensions.

[code]

[2020-04-28 12:27] castwide commented on #313
Fixed in gem v0.39.3.

[2020-04-28 12:27] castwide commented on #312
Fixed in gem v0.39.3.

[2020-04-28 14:10] aaronjensen commented on #313
Confirmed! Thank you for the quick fix.

[2020-04-28 14:10] #313 closed

[2020-04-28 15:48] nickpelone opened #314 "undefined method `domains' for Solargraph::Pin::Method"
Hey there! Thanks again for the gem.
With 0.39.3 I'm getting a crash when trying to start up the language server. I use the `# @!domain` directive in my code some to add some DSL stuff into "scope". (Also as an aside question, are those "scoped" to the block they're put before, or do they operate "globally" in the file?)

[code]

[2020-04-28 21:35] castwide commented on #314
The `@!domain` tag could probably use some tweaking.

In many cases, you're probably better off using standard YARD to get the same functionality. For example, you could use the `@!parse` directive to virtually extend a class:

[code]

On the other hand, a possible reason to use `@!domain` is that it only adds the module's public methods to the scope, while `include` and `extend` add private metho

[2020-04-28 22:20] nickpelone commented on #314
Oh ok, thanks for the clarification - and actually I'm fine with the current behavior, I was just curious as to the exact mechanics by which it "added stuff into scope".

I can move to `# @!parse` (I use it elsewhere in some of my code), but if `# @!domain` is gonna stick around as well, I would be happy to see it working again.

Thanks for all you do - I still owe you some Patreon support after I

[2020-04-29 13:31] arbox opened #315 "Argument errors while generating gem cache with `solargraph bundle`"
Thank you for the great efforts with Solargraph!

After update to `0.39.3` and running  `solargraph bundle` in a Rails project I get the following error:
![image](https://user-images.githubusercontent.com/357237/80601640-5ce71c00-8a2e-11ea-837e-e14068abd710.png)

It's probably something small :)

I've tried `0.38.6` and it works. Every version after `0.38.6` is affected.

[2020-04-29 14:48] castwide commented on #315
Thanks!

I confirmed the bug and found the root cause. I'll have a fix for it in the next patch release.

[2020-04-30 07:59] NickLion commented on #242
There is at least me ;) Started home project for that some time ago.

[2020-04-30 10:18] kthibodeaux opened #316 "Latest solargraph can not load when using `parser` gem"
Since updating solargraph it no longer runs, I get the error: `uninitialized constant Solargraph::Parser::VERSION (NameError)`

I have narrowed it down to only breaking when the `parser` gem is installed in the current project (either directly in the Gemfile or as a dependency of something else in the gemfile)

[2020-04-30 19:51] castwide commented on #316
I can't reproduce this with a scratch project with `parser` in the Gemfile.

What versions of Ruby, `solargraph`, and `parser` are you using? Are you starting the language server with `bundle`?

[2020-04-30 23:47] #290 closed

[2020-05-01 04:18] SecretShangri-La opened #317 "Can't installing to solargraph, and deprecated error nokogiri requires Ruby version < 2.7.dev, >= 2.3."
This error is on Windows10 Home Edition. version was 10.0.18363.
I trying `gem install solargraph` but it not to do.

The error is below.
[code]
I reference this page (written be Japanese) https://mebee.info/2020/03/02/post-6754/ but not  resolved.

I use Ruby is `2.7.dev` this error be telling to lower the version to 2.3, but reducing the version to 2.3 comes with a security risk

How can I resol

[2020-05-01 06:16] castwide commented on #317
I'm not able to test this at the moment, but the problem appears to be specific to Nokogiri and Ruby 2.7. More information: https://github.com/sparklemotion/nokogiri/issues/1961

[2020-05-01 06:30] castwide commented on #317
One other thing to note. If you downgrade Ruby, you shouldn't have to go all the way back to 2.3. I'm currently using Nokogiri and Solargraph with Ruby 2.6 on Windows 10, and didn't have to use any workarounds.

[2020-05-01 07:37] castwide commented on #315
Fixed in gem v0.39.4.

[2020-05-01 08:43] castwide opened #318 "Remove Maruku and Nokogiri dependencies"
The `no-maruku-nokogiri` branch removes both dependencies from the gem.

Maruku is a concern because it is currently considered obsolete. Nokogiri has recently experienced problems with Ruby 2.7 on Windows (see #286 and #317).

Historically, Maruku has been necessary to convert RDoc-style documentation to pure HTML before the ReverseMarkdown conversion that made it suitable for language servers. N

[2020-05-01 09:05] #288 closed

[2020-05-01 09:31] praveendhawan opened #319 "Is there a way to get which project/directory the solargraph is running for?"
The reason I want to ask this is -
Let's say I am in the terminal, and in the root directory of the project and I open neovim and open the ruby file to start solargraph.
Now in another terminal, I go to the same project root directory and open neovim and ruby file which will start another server of solargraph.

Is there a configuration or way to start only one instance of solargraph per project?
I

[2020-05-01 10:25] arbox commented on #315
I confirm that the version `0.39.4` is not affected any more.

Thank you a lot! Your Solargraph and Emacs LSP make me really productive!

[2020-05-01 10:32] kthibodeaux commented on #316
I am using Ruby 2.6.3, latest solargraph, and latest parser.

I think the issue may be that the projects are run using Docker.  The gem folders are in the project directory.  Because the gems are in a local directory, and the project uses docker, the system does not have access to those gems, so I do not run things like solargraph with bundle (so the system can use it and run it inside vim).

I ha

[2020-05-01 12:36] arbox commented on #316
Probably, it's related.
In versions `>= 0.39.0` when I start LSP from Emacs I get an error:
![image](https://user-images.githubusercontent.com/357237/80805711-0fe38100-8bb9-11ea-835e-31d19b88390f.png)

Then LSP hangs with
![image](https://user-images.githubusercontent.com/357237/80805771-2ee21300-8bb9-11ea-8ccf-9f3e91e9c7a6.png)

[2020-05-01 18:59] thornomad opened #320 "Was there a change with gem documentation inclusion (solargraph bundle)?"
I'm trying to narrow this down and see what happened; but at some point documentation from bundled gems on my Rails project stopped showing up for me with solargraph.  I'm not sure exactly what version of the latest changes this happened.  I am ~not~ _now_ using 0.39.4.

Two things I noticed:

- if I do `solagraph clear && solargraph bundle` I am no longer seeing it document all the gems like it u

[2020-05-01 19:44] longspell opened #321 "Feature request: configurable linters"
Feature request to include alternate linters or make linters pluggable/configurable.

I have just been copying `diagnostics/rubocop.rb` and `diagnostics/rubocop_helpers.rb` to `cookstyle.rb` and `cookstyle_helpers.rb` where I replace the rubocop requirement at the top with cookstyle and then change `class Rubycop < Base` to `class Cookstyle < Base` (similar changes in the helper file), and then ad

[2020-05-01 21:49] castwide commented on #321
Plugin support was introduced this week in version 0.39.0. There are already plugins to add diagnostics for Reek and Standardb. It sounds like your changes could easily be turned into a similar plugin for Cookstyle.

Issue: https://github.com/castwide/solargraph/issues/307
Guide: https://solargraph.org/guides/plugins
Reek plugin: https://github.com/castwide/solargraph-reek
Standardrb plugin: https

[2020-05-01 22:01] castwide commented on #320
If you're using 0.39.0 or higher, I highly recommend updating to 0.39.4.

I'll look into this, but a couple other questions that might help:

* What version of Ruby are you using?
* In VS Code, do you get any error messages in the developer console (Help -> Toggle Developer Tools)?
* Does `soalrgraph scan -v` complete without errors?

[2020-05-01 22:31] thornomad commented on #320
Thanks for the quick response:

* I'm sorry that was a typo in my first post, I meant to say "I am **now** using 0.39.4" ... which is when I noticed the behavior change.

* I am using Ruby 2.7.1.  To add though: I have been on this version of Ruby for a couple months and this behavior started just recently.  It was working as expected before with 2.7.1.

* `solargraph scan -v` completes without er

[2020-05-02 01:43] castwide commented on #318
I overlooked the fact that ReverseMarkdown itself has a Nokogiri dependency. Nonetheless, I still expect to remove the explicit Nokogiri dependency and stop using Maruku.

[2020-05-02 02:35] castwide commented on #303
This issue is on the roadmap. I hope to have it fixed in the next patch release.

[2020-05-02 02:46] castwide commented on #320
Thanks for the information. I was able to confirm the problem with Ruby 2.7.1, Solargraph 0.39.4, and Rails 6.0.22. There's more than one issue that needs to be addressed here, but I should be able to get it working again shortly.

[2020-05-02 05:07] SecretShangri-La commented on #317
I tried this solution. Thanks solved the problem.
Thanks you @castwide

[2020-05-02 05:07] #317 closed

[2020-05-02 07:12] castwide commented on #286
Just a heads up, there's a possible workaround for this issue in #317.

[2020-05-02 09:10] castwide opened #322 "Version 0.39.6"
The latest Solargraph release has some significant changes.

* Speed and memory usage continue to improve
* A problem with projects using Bundler.require has been fixed
* The gem documentation cache is more efficient
* Deprecation warnings in Ruby 2.7 are gone

I highly recommend resetting your cache by running these commands:

[code]

You can also improve documentation in specific projects by goi

[2020-05-02 09:11] castwide commented on #320
Fixed in 0.39.5. More information: #322

[2020-05-02 09:12] castwide commented on #316
This should be fixed in 0.39.5.

[2020-05-02 09:19] castwide commented on #303
Fixed in 0.39.5. More information: #322

[2020-05-02 10:31] castwide commented on #316
Sorry, turns out there's still a problem with this one, but I'll have it fixed in the next patch release.

[2020-05-02 12:57] aaronjensen opened #323 "[NoMethodError] undefined method `find_index' for nil:NilClass"
I'm getting this error when starting 0.39.5. I also got it with 0.39.3.

[code]

[2020-05-02 15:53] thornomad commented on #320
Thank you!  0.39.5 seems to have fixed this!  Great work.

[2020-05-02 15:53] #320 closed

[2020-05-03 01:09] castwide commented on #323
I haven't been able to reproduce this one, but I have a hunch what caused it. The mapper seems to be reading past the end of a comment block with a YARD directive, probably starting with `@!` like `@!method` or `@!attribute`, and possibly because it's at the end of a file.

I'll try to fix what I suspect is the root cause, but if you can provide a reproducible example, it would help us be sure.

[2020-05-03 01:47] aaronjensen commented on #323
Any way I could get it to print the file it’s dying on?

[2020-05-03 02:14] castwide commented on #323
For now, the easiest way might be to create and run this script in your project's root:

[code]

[2020-05-03 03:48] aaronjensen commented on #323
Thanks, that pinpointed it:

[code]

[2020-05-03 04:51] castwide commented on #323
Perfect, thanks. The root cause is complicated `@!macro` directives. This is the minimal reproducible example I could make:

[code]

Proper `@!macro` support is still a work in progress. For now, I can at least ensure that the mapper gracefully handles macros it doesn't understand.

One other note. Based on your file paths, it looks like you're mapping third-party gems in your workspace. If those

[2020-05-03 05:07] castwide commented on #319
In the language server protocol, you typically run one language server for each editor process. You should be able to use a single Solargraph instance with multiple files by opening all the files in the same editor window. I know it's possible to open multiple files in a single neovim instance, but I don't know how coc handles the concept of workspaces. You might need to ask the coc maintainers fo

[2020-05-03 05:46] aaronjensen commented on #323
Thank you for the quick response to this, I appreciate it.

The `gems` directory is where they're actually installed (using `bundle --path=./gems`) Does what you're describing still apply? I'm thinking I'd have to install the gems I was interested in globally as well, yes?

Also, I saw in #322 the mention of `solargraph bundle`. What does that do when I have gems installed in a local directory ins

[2020-05-03 06:16] castwide commented on #323
Nonstandard gem paths can get tricky. One option is to use Solargraph with Bundler.

1. Add Solargraph to your gemfile (e.g., `gem 'solargraph', group: :development`)
2. Run `solargraph bundle` to make sure your gems have documentation. (Depending on your setup, it might need to be `bundle exec solargraph bundle`)
3. Set up your editor to start Solargraph with Bundler. In VS Code, you can do this

[2020-05-03 06:23] castwide commented on #316
Fixed for real in 0.39.6.

[2020-05-03 06:25] castwide commented on #323
The `@!macro` bug fix is released in v0.39.6. (There's also a fix for an unrelated bug that might affect projects with custom gem paths.)

[2020-05-03 10:09] arbox commented on #322
Since you recommend installing a fresh documentation for the latest core I'd like to ask you if it's really important that core documentation matches the Ruby runtime version.
`solargraph available-cores` doesn't show e.g. `2.6.6`.

Should we provide all cores?

[2020-05-03 10:31] castwide commented on #322
It doesn't have to be an exact match, especially if the difference is only in the minor version. Nevertheless, I'll update the online docs later this week.

[2020-05-03 11:06] arbox commented on #322
Is it sufficient to instruct Rubygems to generate Yard documentation on every install? Or do we need to run `solargraph bundle` after every `bundle install`?

[2020-05-03 11:19] castwide commented on #322
RubyGems should automatically generate YARD documentation when you install the gem. If you want to make sure it's configured to do so, you can enable it with this:

[code]

It doesn't hurt to run `solargraph bundle` to make sure. By default, it'll skip gems that are already documented.

[2020-05-03 18:58] aaronjensen commented on #323
That's great, thank you. So far so good.

[2020-05-04 09:20] praveendhawan commented on #319
ok thanks.

[2020-05-04 09:20] #319 closed

[2020-05-05 19:31] #321 closed

[2020-05-08 00:39] Nowaker commented on #54
Ping on this. How do I set `max_files` to a value of my choosing via VS Code settings?

[2020-05-08 05:08] castwide commented on #54
You need to do it in your project's `.solargraph.yml` file. Documentation: https://solargraph.org/guides/configuration

[2020-05-09 19:56] castwide commented on #248
Documented in the [troubleshooting FAQ](https://solargraph.org/guides/troubleshooting) with brief instructions and a link back to GitHub.

[2020-05-09 19:56] #248 closed

[2020-05-10 11:57] metapraveen opened #324 "[discussion] development setup"
Thanks for this amazing gem and the vs-code client for it @castwide. This improves ruby tooling in the editor a lot.

I am trying to play around with this gem so I can contribute to this gem.
Where can I see the errors/logs of this gem when I am using it with vs-code client?
What is a dev setup for this so I can see the request payload coming from vs-code client and response from this gem to it?